<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <link href="../../../Content/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../../../Content/css/main/briggs-main.css" rel="stylesheet" />
    <script src="../../../Scripts/jquery/jquery-3.1.1.min.js"></script>
    <script src="../../../Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="../../../Scripts/match-height/jquery.matchHeight-min.js"></script>
    <script src="../../../Scripts/page/common.js"></script>
    <title>BRIGGS | RESTORATIVE NURSING NEEDS IDENTIFICATION</title>
</head>
<body class="test-rows">
    <!--form starts-->
    <div class="container">
        <div id="Page-02" name="pagebreak" description="NOTES">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t">
                    <!--header starts-->
                    <div class="row briggs-cont-row">
                        <div class="col-md-12 briggs-no-pad briggs-mrg-t col-sm-12 col-lg-12 briggs-title-c briggs-pg-title">
                            RESTORATIVE NURSING NEEDS IDENTIFICATION
                        </div>
                    </div>
                    <!--header ends-->
                    <!--page 1 starts-->
                    <div class="briggs-content-box briggs-box-square briggs-no-pad">
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-brd-thin-b briggs-sec-hdr-black briggs-pad-thin briggs-txt-w briggs-header-txt briggs-sec-header items-container">
                                NOTES
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-brd-thin-b">
                                <div class="briggs-mrg-t briggs-mrg-b">
                                    <textarea id="NOTE1" name="NOTE1" class="briggs-control form-control briggs-cntrl-grp " rows="80" cols="50" spellcheck="true" ng-model="briggs.NOTE1" maxlength="7800"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 briggs-f-sm items-container col-sm-12 briggs-no-pad briggs-brd-thick-t">
                                <div class="col-sm-5 col-lg-6 col-md-6 item briggs-brd-thin-r briggs-no-pad ">
                                    <div class="briggs-cntrl-grp">
                                        <div class="col-sm-5 col-lg-5 col-md-5  briggs-cntrl-grp briggs-mrg-thick-b">
                                            <label for="NAME_LAST" class="briggs-f-thin">
                                                NAME-Last
                                            </label>
                                            <input name="NAME_LAST" id="NAME_LAST" class="form-control briggs-control" ng-model="briggs.NAME_LAST" maxlength="40" type="text">
                                        </div>
                                        <div class="col-sm-4 col-lg-5  col-md-5 briggs-no-pad briggs-cntrl-grp  briggs-mrg-thick-b ">
                                            <label for="NAME_FIRST" class="briggs-f-thin">First</label>
                                            <input name="NAME_FIRST" id="NAME_FIRST" class="form-control briggs-control" ng-model="briggs.NAME_FIRST" maxlength="25" type="text">
                                        </div>
                                        <div class="col-sm-3 col-lg-2 col-md-2 briggs-cntrl-grp  briggs-mrg-thick-b">
                                            <label for="NAME_MIDDLE" class="briggs-f-thin">Middle</label>
                                            <input name="NAME_MIDDLE" id="NAME_MIDDLE" class="form-control briggs-control" ng-model="briggs.NAME_MIDDLE" maxlength="10" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-lg-2 col-md-2 item  briggs-no-pad briggs-brd-thin-r">
                                    <div class="briggs-cntrl-grp briggs-no-pad-r">
                                        <div class="col-lg-12  col-sm-12  briggs-cntrl-grp briggs-mrg-thick-b">
                                            <label for="NAME_PHYSICIAN" class="briggs-f-thin">
                                                Attending Physician
                                            </label>
                                            <input name="NAME_PHYSICIAN" id="NAME_PHYSICIAN" class="form-control briggs-control" ng-model="briggs.NAME_PHYSICIAN" briggs-physician-name maxlength="55" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-lg-2 item briggs-no-pad briggs-brd-thin-r">
                                    <div class="briggs-cntrl-grp">
                                        <div class="col-lg-12  col-sm-12   briggs-cntrl-grp briggs-mrg-thick-b">
                                            <label for="RECORD_NO" class="briggs-f-thin">
                                                Record No.
                                            </label>
                                            <input name="RECORD_NO" id="RECORD_NO" class="form-control briggs-control" ng-model="briggs.RECORD_NO" maxlength="40" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-lg-2 item briggs-no-pad">
                                    <div class="briggs-cntrl-grp">
                                        <div class="col-lg-12  col-sm-12  briggs-cntrl-grp briggs-mrg-thick-b">
                                            <label for="BED_NO" class="briggs-f-thin">
                                                Room/Bed
                                            </label>
                                            <input name="BED_NO" id="BED_NO" class="form-control briggs-control" ng-model="briggs.BED_NO" maxlength="15" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--page 1 ends-->
                    <!--paging-->
					
					<div class="col-lg-12  col-sm-12 briggs-pg-footer">
                        <div class="row briggs-cont-row">
                            <div class="col-lg-5 col-sm-4 col-md-5 briggs-f-md briggs-no-pad briggs-mrg-b">
                                <span class="briggs-fl briggs-f-thick ">RESTORATIVE NURSING <br>NEEDS IDENTIFICATION</span>
                            </div>
                            <div class="col-lg-2 col-sm-2 no-pad text-center">
                                <img src="../../../Content/images/briggs-logo.png" alt="">
                            </div>
                            
                        </div>
                    </div>
					
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 briggs-pad-thick briggs-f-thick briggs-cntrl-grp text-center">
                            --- Page 2 of 2 ---
                        </div>
                    </div>
                    <!--paging-->
                </div>
            </div>
        </div>
    </div>
    <!--form ends-->
</body>
</html>
