<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />
    <link href="../../../Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../Content/css/main/briggs-main.css" rel="stylesheet" />
    <script src="../../../Scripts/jquery/jquery-3.1.1.min.js"></script>
    <script src="../../../Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="../../../Scripts/match-height/jquery.matchHeight-min.js"></script>
    <script src="../../../Scripts/page/common.js"></script>
    <title>BRIGGS | RESIDENT SERVICE PLANE FOR ASSISTANCE CARE SERVICES</title>
</head>
<body class="test-rows">
    <!--form starts -->
    <div class="container">
        <div id="Page-01" name="pagebreak" description="FACILITY INFORMATION">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t">
                    <div class="briggs-content-box briggs-box-square briggs-no-pad">
                        <div class="row briggs-cont-row briggs-brd-thin-b">
                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-thick-t">



                                <div class="container">
                                    <div id="Page-1-01" name="pagebreak" description="RESIDENT APPRAISAL">
                                        <div class="row">
                                            <div class="col-lg-11 col-sm-11 col-md-11 briggs-mrg-t">
                                                <div class="briggs-content-box briggs-box-square briggs-no-pad">


                                                    <div class="panel panel-default briggs-brd-thin-b">

                                                        <div class="panel-body ">
                                                            <!--Using available Transportation-->
                                                            <div class="col-lg-11 briggs-no-pad col-sm-11 briggs-mrg-thin-b">

                                                                <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                                                    <div class="col-lg-4 col-sm-6 col-md-3 briggs-no-pad right-content">
                                                                        <div class="radio radio-info briggs-cntrl-grp ">
                                                                            <label for="TRANSPORTATION">
                                                                                <b>USING AVAILABLE TRANSPORTATION:</b>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-sm-6 col-md-3 briggs-no-pad ">
                                                                        <div class="radio radio-info briggs-cntrl-grp">
                                                                            <label for="AVA_NEED">
                                                                                <input type="checkbox" name="AVA_NEED" id="AVA_NEED">Independent
                                                                            </label>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            </div>

                                                            <div class="col-lg-11 briggs-no-pad col-sm-11 briggs-mrg-thin-b">

                                                                <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                                                    <div class="col-lg-4 col-sm-6 col-md-3 briggs-no-pad right-content">
                                                                        <div class="radio radio-info briggs-cntrl-grp">
                                                                            <label for="TB_CHECK_1">
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-sm-6 col-md-3 briggs-no-pad">
                                                                        <div class="radio radio-info briggs-cntrl-grp">
                                                                            <label for="AVA_NEED">
                                                                                <input type="checkbox" name="AVA_NEED" id="AVA_NEED">Provide Supervision
                                                                            </label>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>



                                                            <div class="col-lg-11 briggs-no-pad col-sm-11 briggs-mrg-thin-b">

                                                                <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                                                    <div class="col-lg-4 col-sm-6 col-md-3 briggs-no-pad right-content">
                                                                        <div class="radio radio-info briggs-cntrl-grp">
                                                                            <label for="TB_CHECK_1">
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-sm-6 col-md-3 briggs-no-pad ">
                                                                        <div class="radio radio-info briggs-cntrl-grp">
                                                                            <label for="AVA_NEED">
                                                                                <input type="checkbox" name="AVA_NEED" id="AVA_NEED">Provide Assistance Escort
                                                                            </label>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                                        <label for="AVA_OUT">Expected Outcome of Service:</label>
                                                                        <input type="text" class="form-control" id="AVA_OUT" name="AVA_OUT">
                                                                    </div>
                                                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                                        <label for="AVA_COM">Comments:</label>
                                                                        <input type="text" class="form-control" id="AVA_COM" name="AVA_COM">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <!--Using available Transportation end-->





                                                    <div class="panel panel-default briggs-brd-thin-b">
                                                        <!--Health Support-->
                                                        <div class="panel-heading">

                                                            <h3 class="panel-title"><b>HEALTH SUPPORT</b></h3>
                                                        </div>
                                                        <div class="panel-heading">

                                                            <div class="col-lg-11 briggs-no-pad col-sm-11 briggs-mrg-thin-b">

                                                                <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                                                    <div class="col-lg-6 col-sm-6 col-md-3 briggs-no-pad">
                                                                        <div class="radio radio-info briggs-cntrl-grp">
                                                                            <label for="ACTIVITY">
                                                                                <b>ACTIVITY</b>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-sm-6 col-md-3 briggs-no-pad">
                                                                        <div class="radio radio-info briggs-cntrl-grp">
                                                                            <label for="SERVICE_NEED">
                                                                                <b>SERVICE NEED</b>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <br>
                                                        </div>





                                                        <!--REMINDING RESIDENT OF IMPORTANT TASKS  starts-->
                                                        <div class="panel-body">
                                                            <div class="col-lg-11 briggs-no-pad col-sm-11 briggs-mrg-thin-b">

                                                                <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                                                    <div class="col-lg-6 col-sm-6 col-md-3 briggs-no-pad right-content">
                                                                        <div class="radio radio-info briggs-cntrl-grp">
                                                                            <label for="TB_CHECK_1">
                                                                                <b>REMINDING RESIDENT OF IMPORTANT TASKS</b>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-sm-6 col-md-3 briggs-no-pad">
                                                                        <div class="radio radio-info briggs-cntrl-grp">
                                                                            <label for="TASK_NEED">
                                                                                <input type="checkbox" name="TASK_NEED" id="TASK_NEED">Independent
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-11 briggs-no-pad col-sm-11 briggs-mrg-thin-b">

                                                                <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                                                    <div class="col-lg-6 col-sm-6 col-md-3 briggs-no-pad right-content">
                                                                        <div class="radio radio-info briggs-cntrl-grp">
                                                                            <label for="TB_CHECK_1">
                                                                                <b></b>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-sm-6 col-md-3 briggs-no-pad">
                                                                        <div class="radio radio-info briggs-cntrl-grp">
                                                                            <label for="TASK_NEED">
                                                                                <input type="checkbox" name="TASK_NEED" id="TASK_NEED">Appointments 
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>




                                                            <div class="col-lg-11 briggs-no-pad col-sm-11 briggs-mrg-thin-b">

                                                                <div class="col-lg-12 col-sm-12 briggs-no-pad ">
                                                                    <div class="col-lg-6 col-sm-6 col-md-3 briggs-no-pad right-content">
                                                                        <div class="radio radio-info briggs-cntrl-grp">
                                                                            <label for="TB_CHECK_1">
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-sm-6 col-md-3 briggs-no-pad">
                                                                        <div class="radio radio-info briggs-cntrl-grp">
                                                                            <label for="TASK_NEED">
                                                                                <input type="checkbox" name="TASK_NEED" id="TASK_NEED">Daily Tasks 
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>







                                                            <div class="col-lg-11 briggs-no-pad col-sm-11 briggs-mrg-thin-b">

                                                                <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                                                    <div class="col-lg-6 col-sm-6 col-md-3 briggs-no-pad right-content">
                                                                        <div class="radio radio-info briggs-cntrl-grp">
                                                                            <label for="TB_CHECK_1">
                                                                                <b></b>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-sm-6 col-md-3 briggs-no-pad">
                                                                        <div class="radio radio-info briggs-cntrl-grp ">
                                                                            <label for="TASK_NEED">
                                                                                <input type="checkbox" name="TASK_NEED" id="TASK_NEED">Others
                                                                            </label>
                                                                            <div class="from-group col-lg-12 col-sm-12 briggs-no-pad">
                                                                                <input class="form-control briggs-control briggs-zip-control briggs-mrg-thick-b" id="TASK_OTHER" name="TASK_OTHER" priggs-zipcode="" ng-model="briggs.ZIP_FAC" maxlength="10" type="text">
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>



                                                        </div>

                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                                        <label for="TASK_OUT">Expected Outcome of Service:</label>
                                                                        <input type="text" class="form-control" id="TASK_OUT" name="TASK_OUT">
                                                                    </div>
                                                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                                        <label for="TASK_COM">Comments:</label>
                                                                        <input type="text" class="form-control" id="TASK_COM" name="TASK_COM">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <!--REMINDING RESIDENT OF IMPORTANT TASKS ENDS-->



                                                    <div class="panel panel-default briggs-brd-thin-b">
                                                        <!--OBSERVING RESIDENT'S APPEARANCE AND WELL-BEING-->
                                                        <div class="panel-body">
                                                            <div class="col-lg-11 briggs-no-pad col-sm-11 briggs-mrg-thin-b">

                                                                <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                                                    <div class="col-lg-6 col-sm-6 col-md-3 briggs-no-pad right-content">
                                                                        <div class="radio radio-info briggs-cntrl-grp">
                                                                            <label for="RESIDENT_APPEARANCE">
                                                                                <b>OBSERVING RESIDENT'S APPEARANCE AND WELL-BEING</b>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-sm-6 col-md-3 briggs-no-pad">
                                                                        <div class="radio radio-info briggs-cntrl-grp">
                                                                            <label for="WELL_NEED">
                                                                                <input type="checkbox" name="WELL_NEED" id="WELL_NEED">Weekly or Less
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>




                                                            <div class="col-lg-11 briggs-no-pad col-sm-11 briggs-mrg-thin-b">

                                                                <div class="col-lg-12 col-sm-12 briggs-no-pad ">
                                                                    <div class="col-lg-6 col-sm-6 col-md-3 briggs-no-pad right-content">
                                                                        <div class="radio radio-info briggs-cntrl-grp">
                                                                            <label for="TB_CHECK_1">
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-sm-6 col-md-3 briggs-no-pad">
                                                                        <div class="radio radio-info briggs-cntrl-grp">
                                                                            <label for="WELL_NEED">
                                                                                <input type="checkbox" name="WELL_NEED" id="WELL_NEED">Daily 
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>







                                                            <div class="col-lg-11 briggs-no-pad col-sm-11 briggs-mrg-thin-b">

                                                                <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                                                    <div class="col-lg-6 col-sm-6 col-md-3 briggs-no-pad right-content">
                                                                        <div class="radio radio-info briggs-cntrl-grp">
                                                                            <label for="TB_CHECK_1">
                                                                                <b></b>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-sm-6 col-md-3 briggs-no-pad">
                                                                        <div class="radio radio-info briggs-cntrl-grp ">
                                                                            <label for="WELL_NEED">
                                                                                <input type="checkbox" name="WELL_NEED" id="WELL_NEED">Others

                                                                            </label>

                                                                            <div class="from-group col-lg-12 col-sm-12 briggs-no-pad">
                                                                                <input class="form-control briggs-control briggs-zip-control briggs-mrg-thick-b" id="WELL_OTHER" name="WELL_OTHER" priggs-zipcode="" ng-model="briggs.ZIP_FAC" maxlength="10" type="text">
                                                                            </div>

                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>



                                                        </div>
                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                                        <label for="WELL_OUT">Expected Outcome of Service:</label>
                                                                        <input type="text" class="form-control" id="WELL_OUT" name="WELL_OUT">
                                                                    </div>
                                                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                                        <label for="WELL_COM">Comments:</label>
                                                                        <input type="text" class="form-control" id="WELL_COM" name="WELL_COM">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--OBSERVING RESIDENT'S APPEARANCE AND WELL-BEING: end-->


                                                    <div class="panel panel-default briggs-brd-thin-b">
                                                        <div class="panel-heading">

                                                            <h3 class="panel-title"><b>OTHER SERVICES</b></h3>
                                                        </div>
                                                        <div class="panel-heading">

                                                            <div class="col-lg-11 briggs-no-pad col-sm-11 briggs-mrg-thin-b">

                                                                <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                                                    <div class="col-lg-4 col-sm-6 col-md-3 briggs-no-pad">
                                                                        <div class="radio radio-info briggs-cntrl-grp">
                                                                            <label for="ACTIVITY">
                                                                                <b>ACTIVITY</b>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-sm-6 col-md-3 briggs-no-pad">
                                                                        <div class="radio radio-info briggs-cntrl-grp">
                                                                            <label for="SERVICE_NEED">
                                                                                <b>SERVICE NEED</b>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <br>
                                                        </div>






                                                        <div class="panel-body">
                                                            <div class="col-lg-11 briggs-no-pad col-sm-11 briggs-mrg-thin-b">

                                                                <div class="col-lg-3 col-sm-6 briggs-no-pad right-content">
                                                                    <div class="col-lg-10 col-md-10 col-sm-9 briggs-no-pad briggs-mrg-thick-t">
                                                                        <textarea id="ACTIVITY" name="ACTIVITY" class="form-control briggs-control briggs-mrg-thick-b briggs-m1820-sec briggs-3126R-16-resident" cols="12" rows="5" spellcheck="true" ng-model="briggs.ADD_SIGN_A" placeholder="Enter Activity..here.." maxlength="280"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-8 col-sm-6 briggs-no-pad briggs-1851-check ">
                                                                    <div class="col-lg-10 col-md-10 col-sm-9 briggs-no-pad briggs-mrg-thick-t">
                                                                        <textarea id="SERVICE_NEED" name="SERVICE_NEED" class="form-control briggs-control briggs-mrg-thick-b briggs-m1820-sec briggs-3126R-16-resident" cols="12" rows="5" spellcheck="true" ng-model="briggs.ADD_SIGN_A" placeholder="Enter Service need..here.." maxlength="280"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                                        <label for="ACT_OUT">Expected Outcome of Service:</label>
                                                                        <input type="text" class="form-control" id="ACT_OUT" name="ACT_OUT">
                                                                    </div>
                                                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                                        <label for="ACT_COM">Comments:</label>
                                                                        <input type="text" class="form-control" id="ACT_COM" name="ACT_COM">
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="panel panel-default briggs-brd-thin-b">
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                                    <label for="EXP_OUT">Expected Outcome of Service:</label>
                                                                    <input type="text" class="form-control" id="EXP_OUT" name="EXP_OUT">
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                                    <label for="EXP_COM">Comments:</label>
                                                                    <input type="text" class="form-control" id="EXP_COM" name="EXP_COM">
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                <div class="col-lg-12 col-sm-12">

                                    <div class="col-lg-10 col-sm-10">
                                        <div class="col-lg-6 col-sm-3 col-md-2 briggs-no-pad briggs-cntrl-grp">
                                            <label class="briggs-f-thin" for="RES_COM">RESIDENT COMMENTS:</label>
                                        </div>
                                        <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-cntrl-grp briggs-mrg-thick-b">
                                            <textarea id="RES_COM" name="RES_COM" class="form-control briggs-control briggs-mrg-thick-b" cols="12" rows="6" spellcheck="true" ng-model="briggs.ACT_TAKE" maxlength="240"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!--end of  License Number::-->
                            </div>
                        </div>




                        <!-- signature region -->
                        <div class="row briggs-cont-row" name="signature_row" id="signature_row">
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-10 col-sm-9 col-md-10 briggs-no-pad briggs-brd-thin-r">
                                    <div name="signature_container" id="signature_container">
                                        <div class="col-lg-12  col-sm-12 briggs-no-pad-r  briggs-mrg-thick-t">
                                            Facility Administrator or Designee:
                                        </div>
                                        <div class="col-lg-12 col-sm-12 col-md-12 ">
                                            <textarea class="form-control briggs-control briggs-cntrl-grp briggs-mrg-thick-b" id="SIGN_A" name="SIGN_A" rows="3" cols="12" spellcheck="true" briggs-signature ng-model="briggs.SIGN_A" maxlength="45"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2  col-sm-3 col-md-2 briggs-no-pad-r ">
                                    <div class="col-lg-12  col-sm-12 briggs-no-pad briggs-mrg-thick-t">
                                        Date:
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad-l">
                                        <div class="briggs-col-offs">
                                            <input class="form-control briggs-control briggs-date-control briggs-cntrl-grp briggs-mrg-thick-b" id="DATE_SIGN_A" name="DATE_SIGN_A" ng-model="briggs.DATE_SIGN_A" maxlength="10" type="date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end of signature region-->



                        <!-- signature region -->
                        <div class="row briggs-cont-row" name="signature_row" id="signature_row">
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-10 col-sm-9 col-md-10 briggs-no-pad briggs-brd-thin-r">
                                    <div name="signature_container" id="signature_container">
                                        <div class="col-lg-12  col-sm-12 briggs-no-pad-r  briggs-mrg-thick-t">
                                            Resident Representative:
                                        </div>
                                        <div class="col-lg-12 col-sm-12 col-md-12 ">
                                            <textarea class="form-control briggs-control briggs-cntrl-grp briggs-mrg-thick-b" id="SIGN_A" name="SIGN_A" rows="3" cols="12" spellcheck="true" briggs-signature ng-model="briggs.SIGN_A" maxlength="45"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2  col-sm-3 col-md-2 briggs-no-pad-r ">
                                    <div class="col-lg-12  col-sm-12 briggs-no-pad briggs-mrg-thick-t">
                                        Date:
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad-l">
                                        <div class="briggs-col-offs">
                                            <input class="form-control briggs-control briggs-date-control briggs-cntrl-grp briggs-mrg-thick-b" id="DATE_SIGN_B" name="DATE_SIGN_B" ng-model="briggs.DATE_SIGN_A" maxlength="10" type="date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end of signature region-->

                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</body>
</html>
