<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />
    <link href="../../../Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../Content/css/main/briggs-main.css" rel="stylesheet" />
    <script src="../../../Scripts/jquery/jquery-3.1.1.min.js"></script>
    <script src="../../../Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="../../../Scripts/match-height/jquery.matchHeight-min.js"></script>
    <script src="../../../Scripts/page/common.js"></script>
    <title>BRIGGS | FUNCTIONAL ASSESSMENT</title>
</head>
<body class="test-rows">
    <!--form starts-->
    <div class="container">
        <div id="Page-01" name="pagebreak" description="FUNCTION">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t">
                    <!--header starts-->
                    <div class="col-lg-12 col-sm-12 col-md-12 briggs-cntrl-grp">
                        <div class="briggs-cntrl-grp text-left briggs-mrg-thick-t">
                            F-62372 (11/2012)
                        </div>
                        <div class="text-right">
                            Page 4 of 4
                        </div>
                     </div>
                    <!--header ends -->
                    <!--page 1 starts-->
                    
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-t briggs-mrg-thin-t">
                        18. The facility manages my personal funds. 
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-pad-thick-l briggs-mrg-thin-t">                        
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_1">
                                    <input name="SEX" type="radio" value="1" id="SEX_1" ng-model="briggs.SEX" />
                                        Yes
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_1">
                                    <input name="SEX" type="radio" value="1" id="SEX_1" ng-model="briggs.SEX" />
                                        No
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_1">
                                    <input name="SEX" type="radio" value="1" id="SEX_1" ng-model="briggs.SEX" />
                                        Don't Know
                                </label>
                            </div>
                        </div>            
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-pad-thick-l briggs-mrg-thin-t">
                        If you answered "Yes", do you have concerns about how the facility is handling your funds? 
                    </div>
                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                        <textarea id="PG1_ADL_COM" name="PG1_ADL_COM" rows="5" cols="50" class="form-control briggs-control" spellcheck="true" ng-model="briggs.PG1_ADL_COM" maxlength="210"></textarea>
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-t briggs-mrg-thin-t">
                        19. The facility gives me <b>WRITTEN</b> notices of any changes in fees or services at least 30 days before the change happens. 
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 item  briggs-pad-l">                                    
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_1">
                                    <input name="SEX" type="radio" value="1" id="SEX_1" ng-model="briggs.SEX" />
                                        Yes
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_2">
                                    <input name="SEX" type="radio" value="2" id="SEX_2" ng-model="briggs.SEX" />
                                        No
                                    </label>
                            </div>
                        </div>                        
                        <div class="briggs-fl briggs-pad-thick-lr">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_2">
                                    <input name="SEX" type="radio" value="2" id="SEX_2" ng-model="briggs.SEX" />
                                        Don't Know
                                    </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr briggs-mrg-thin-t">
                            Comments:
                        </div>
                    </div>
                    <div class="row briggs-cont-row">
                        <div class="col-lg-12 col-sm-12 briggs-no-pad">
                            <textarea id="PG1_ADL_COM" name="PG1_ADL_COM" rows="5" cols="50" class="form-control briggs-control" spellcheck="true" ng-model="briggs.PG1_ADL_COM" maxlength="210"></textarea>
                        </div>
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-t briggs-mrg-thin-t">
                        20. Do you control and take your own medications? 
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-pad-thick-l briggs-mrg-thin-t">                        
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_1">
                                    <input name="SEX" type="radio" value="1" id="SEX_1" ng-model="briggs.SEX" />
                                        Yes
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_1">
                                    <input name="SEX" type="radio" value="1" id="SEX_1" ng-model="briggs.SEX" />
                                        No
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_1">
                                    <input name="SEX" type="radio" value="1" id="SEX_1" ng-model="briggs.SEX" />
                                        Don't Know
                                </label>
                            </div>
                        </div>            
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-pad-thick-l briggs-mrg-thin-t">
                        <b>If you answered "No"</b>, have either you or your doctor signed a paper allowing the facility to control your medications and give then to you? 
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 item  briggs-pad-l">                                    
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_1">
                                    <input name="SEX" type="radio" value="1" id="SEX_1" ng-model="briggs.SEX" />
                                        Yes
                                </label>
                            </div>
                        </div>                        
                        <div class="briggs-fl briggs-pad-thick-lr">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_2">
                                    <input name="SEX" type="radio" value="2" id="SEX_2" ng-model="briggs.SEX" />
                                        No
                                    </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_2">
                                    <input name="SEX" type="radio" value="2" id="SEX_2" ng-model="briggs.SEX" />
                                        Don't Know
                                    </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr briggs-mrg-thin-t">
                            Comments:
                        </div>
                    </div>
                    <div class="row briggs-cont-row">
                        <div class="col-lg-12 col-sm-12 briggs-no-pad">
                            <textarea id="PG1_ADL_COM" name="PG1_ADL_COM" rows="5" cols="50" class="form-control briggs-control" spellcheck="true" ng-model="briggs.PG1_ADL_COM" maxlength="210"></textarea>
                        </div>
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-t briggs-mrg-thin-t">
                        21. If the facility assists me with my medications, I receive them
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-pad-thick-l briggs-mrg-thin-t">
                        <div class="col-lg-3 col-sm-3 briggs-f-thick briggs-mrg-thin-t">
                            ... on time
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_1">
                                    <input name="SEX" type="radio" value="1" id="SEX_1" ng-model="briggs.SEX" />
                                        Yes
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_1">
                                    <input name="SEX" type="radio" value="1" id="SEX_1" ng-model="briggs.SEX" />
                                        No
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_1">
                                    <input name="SEX" type="radio" value="1" id="SEX_1" ng-model="briggs.SEX" />
                                        Don't Know
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_1">
                                    <input name="SEX" type="radio" value="1" id="SEX_1" ng-model="briggs.SEX" />
                                        Not Applicable
                                </label>
                            </div>
                        </div>            
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 briggs-pad-l briggs-brd-thin-b">
                        <div class="col-sm-1 col-lg-1 col-md-1">
                            <label for="TITLE_SIGN_A" class="briggs-f-thin briggs-cntrl-grp">Comments:</label>
                        </div>
                        <div class="col-sm-11 col-lg-11 col-md-11 briggs-no-pad">
                            <textarea id="PG1_ADL_COM" name="PG1_ADL_COM" rows="5" cols="50" class="form-control briggs-control" spellcheck="true" ng-model="briggs.PG1_ADL_COM" maxlength="210"></textarea>
                        </div> 
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-pad-thick-l briggs-mrg-thin-t">
                        <div class="col-lg-3 col-sm-3 briggs-f-thick briggs-mrg-thin-t">
                            ... in an acceptable manner
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_1">
                                    <input name="SEX" type="radio" value="1" id="SEX_1" ng-model="briggs.SEX" />
                                        Yes
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_1">
                                    <input name="SEX" type="radio" value="1" id="SEX_1" ng-model="briggs.SEX" />
                                        No
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_1">
                                    <input name="SEX" type="radio" value="1" id="SEX_1" ng-model="briggs.SEX" />
                                        Don't Know
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_1">
                                    <input name="SEX" type="radio" value="1" id="SEX_1" ng-model="briggs.SEX" />
                                        Not Applicable
                                </label>
                            </div>
                        </div>            
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 briggs-pad-l briggs-brd-thin-b">
                        <div class="col-sm-1 col-lg-1 col-md-1">
                            <label for="TITLE_SIGN_A" class="briggs-f-thin briggs-cntrl-grp">Comments:</label>
                        </div>
                        <div class="col-sm-11 col-lg-11 col-md-11 briggs-no-pad">
                            <textarea id="PG1_ADL_COM" name="PG1_ADL_COM" rows="5" cols="50" class="form-control briggs-control" spellcheck="true" ng-model="briggs.PG1_ADL_COM" maxlength="210"></textarea>
                        </div> 
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-pad-thick-l briggs-mrg-thin-t">
                        <div class="col-lg-3 col-sm-3 briggs-f-thick briggs-mrg-thin-t">
                            ... as prescribed by my doctor
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_1">
                                    <input name="SEX" type="radio" value="1" id="SEX_1" ng-model="briggs.SEX" />
                                        Yes
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_1">
                                    <input name="SEX" type="radio" value="1" id="SEX_1" ng-model="briggs.SEX" />
                                        No
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_1">
                                    <input name="SEX" type="radio" value="1" id="SEX_1" ng-model="briggs.SEX" />
                                        Don't Know
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEX_1">
                                    <input name="SEX" type="radio" value="1" id="SEX_1" ng-model="briggs.SEX" />
                                        Not Applicable
                                </label>
                            </div>
                        </div>            
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 briggs-pad-l briggs-brd-thin-b">
                        <div class="col-sm-1 col-lg-1 col-md-1">
                            <label for="TITLE_SIGN_A" class="briggs-f-thin briggs-cntrl-grp">Comments:</label>
                        </div>
                        <div class="col-sm-11 col-lg-11 col-md-11 briggs-no-pad">
                            <textarea id="PG1_ADL_COM" name="PG1_ADL_COM" rows="5" cols="50" class="form-control briggs-control" spellcheck="true" ng-model="briggs.PG1_ADL_COM" maxlength="210"></textarea>
                        </div> 
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-t briggs-mrg-thin-t">
                        22. Any other comments regarding this facility you would like to make? <i>(Attach extra pages, if needed.)</i>
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 briggs-no-pad">
                            <textarea id="PG1_ADL_COM" name="PG1_ADL_COM" rows="5" cols="50" class="form-control briggs-control" spellcheck="true" ng-model="briggs.PG1_ADL_COM" maxlength="210"></textarea>
                    </div>
                    <div class="row briggs-cont-row">
                        <div class="col-lg-12 col-sm-12 briggs-no-pad">
                            <div class="col-lg-10 col-sm-10 col-md-10 briggs-no-pad-l briggs-brd-thin-r briggs-brd-thin-t">
                                    <label for="RECORD_NO" class="briggs-f-thin briggs-mrg-thick-t"><b>SIGNATURE</b> - Resident</label>
                                        <input class="form-control briggs-control briggs-mrg-thick-b" name="RECORD_NO" id="RECORD_NO" ng-model="briggs.RECORD_NO" maxlength="40" type="text" />
                            </div>                            
                            <div class="col-lg-2 col-sm-2 col-md-2 briggs-pad-l briggs-brd-thin-t">
                                    <label for="RECORD_NO" class="briggs-f-thin briggs-mrg-thick-t">Date Signed</label>
                                        <input class="form-control briggs-control briggs-mrg-thick-b" name="RECORD_NO" id="RECORD_NO" ng-model="briggs.RECORD_NO" maxlength="40" type="date" />
                            </div>                            
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 briggs-f-thick briggs-brd-thin-b briggs-no-pad">
                        <i>Other Person(s) Assisting Resident in Completing this Evaluation</i>
                    </div>
                    <div class="row briggs-cont-row briggs-brd-thin-t">
                        <div class="col-lg-12 col-sm-12 briggs-no-pad">
                            <div class="col-lg-10 col-sm-10 col-md-10 briggs-no-pad-l briggs-brd-thin-r briggs-brd-thin-b">
                                    <label for="RECORD_NO" class="briggs-f-thin briggs-mrg-thick-t"><b>SIGNATURE</b> - Guardian / Representative</label>
                                        <input class="form-control briggs-control briggs-mrg-thick-b" name="RECORD_NO" id="RECORD_NO" ng-model="briggs.RECORD_NO" maxlength="40" type="text" />
                            </div>                            
                            <div class="col-lg-2 col-sm-2 col-md-2 briggs-pad-l briggs-brd-thin-b">
                                    <label for="RECORD_NO" class="briggs-f-thin briggs-mrg-thick-t">Date Signed</label>
                                        <input class="form-control briggs-control briggs-mrg-thick-b" name="RECORD_NO" id="RECORD_NO" ng-model="briggs.RECORD_NO" maxlength="40" type="date" />
                            </div>                            
                        </div>
                    </div>
                    <div class="row briggs-cont-row">
                        <div class="col-lg-12 col-sm-12 briggs-no-pad">
                            <div class="col-lg-10 col-sm-10 col-md-10 briggs-no-pad-l briggs-brd-thin-r briggs-brd-thin-b">
                                    <label for="RECORD_NO" class="briggs-f-thin briggs-mrg-thick-t"><b>SIGNATURE</b> - CBRF Staff</label>
                                        <input class="form-control briggs-control briggs-mrg-thick-b" name="RECORD_NO" id="RECORD_NO" ng-model="briggs.RECORD_NO" maxlength="40" type="text" />
                            </div>                            
                            <div class="col-lg-2 col-sm-2 col-md-2 briggs-pad-l briggs-brd-thin-b">
                                    <label for="RECORD_NO" class="briggs-f-thin briggs-mrg-thick-t">Date Signed</label>
                                        <input class="form-control briggs-control briggs-mrg-thick-b" name="RECORD_NO" id="RECORD_NO" ng-model="briggs.RECORD_NO" maxlength="40" type="date" />
                            </div>                            
                        </div>
                    </div>

                    </br>
                    
                    
                    

                    
                    <!--page 1 ends -->
                    <!--footer starts -->
                    
                    <!--footer ends -->
                    <!--paging-->
                    
                    <!--paging-->
                </div>
            </div>
            <!--hidden fields starts-->
            
            <!--hidden fields ends -->
        </div>
    </div>
    <!--form ends-->
</body>
</html>
