<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />
    <link href="../../../Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../Content/css/main/briggs-main.css" rel="stylesheet" />
    <script src="../../../Scripts/jquery/jquery-3.1.1.min.js"></script>
    <script src="../../../Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="../../../Scripts/match-height/jquery.matchHeight-min.js"></script>
    <script src="../../../Scripts/page/common.js"></script>
    <title>BRIGGS | FUNCTIONAL ASSESSMENT</title>
</head>
<body class="test-rows">
    <!--form starts-->
    <div class="container">
        <div id="Page-01" name="pagebreak" description="FUNCTION">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t">
                    <!--header starts-->
                    <div class="col-lg-12 col-sm-12 col-md-12 briggs-cntrl-grp">
                        <div class="briggs-cntrl-grp text-left briggs-mrg-thick-t">
                            F-62372 (11/2012)
                        </div>
                        <div class="text-right">
                            Page 3 of 4
                        </div>
                     </div>
                    <!--header ends -->
                    <!--page 1 starts-->
                    
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-t briggs-mrg-thin-t">
                        12. The food served 
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-pad-thick-l briggs-mrg-thin-t">
                        <div class="col-lg-3 col-sm-3 briggs-f-thick briggs-mrg-thin-t">
                            ... is of good quality
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="12_GOOD_1">
                                    <input name="12_GOOD" type="radio" value="1" id="12_GOOD_1" ng-model="briggs.12_GOOD" />
                                        Yes
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="12_GOOD_0">
                                    <input name="12_GOOD" type="radio" value="0" id="12_GOOD_0" ng-model="briggs.12_GOOD" />
                                        No
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="12_GOOD_2">
                                    <input name="12_GOOD" type="radio" value="2" id="12_GOOD_2" ng-model="briggs.12_GOOD" />
                                        Don't Know
                                </label>
                            </div>
                        </div>            
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 briggs-pad-l briggs-brd-thin-b">
                        <div class="col-sm-1 col-lg-1 col-md-1">
                            <label for="12_GOOD_COM" class="briggs-f-thin briggs-cntrl-grp">Comments:</label>
                        </div>
                        <div class="col-sm-11 col-lg-11 col-md-11 briggs-no-pad">
                            <input class="form-control briggs-control briggs-cntrl-grp " id="12_GOOD_COM" name="12_GOOD_COM" ng-model="briggs.12_GOOD_COM" maxlength="30" type="text">
                        </div> 
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-pad-thick-l briggs-mrg-thin-t">
                        <div class="col-lg-3 col-sm-3 briggs-f-thick briggs-mrg-thin-t">
                            ... meets my nutritional needs
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="12_MEETS_1">
                                    <input name="12_MEETS" type="radio" value="1" id="12_MEETS_1" ng-model="briggs.12_MEETS" />
                                        Yes
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="12_MEETS_0">
                                    <input name="12_MEETS" type="radio" value="0" id="12_MEETS_0" ng-model="briggs.12_MEETS" />
                                        No
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="12_MEETS_2">
                                    <input name="12_MEETS" type="radio" value="2" id="12_MEETS_2" ng-model="briggs.12_MEETS" />
                                        Don't Know
                                </label>
                            </div>
                        </div>            
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 briggs-pad-l briggs-brd-thin-b">
                        <div class="col-sm-1 col-lg-1 col-md-1">
                            <label for="12_MEETS_COM" class="briggs-f-thin briggs-cntrl-grp">Comments:</label>
                        </div>
                        <div class="col-sm-11 col-lg-11 col-md-11 briggs-no-pad">
                            <input class="form-control briggs-control briggs-cntrl-grp " id="12_MEETS_COM" name="12_MEETS_COM" ng-model="briggs.12_MEETS_COM" maxlength="30" type="text">
                        </div> 
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-pad-thick-l briggs-mrg-thin-t">
                        <div class="col-lg-3 col-sm-3 briggs-f-thick briggs-mrg-thin-t">
                            ... is prepared well
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="12_PREP_1">
                                    <input name="12_PREP" type="radio" value="1" id="12_PREP_1" ng-model="briggs.12_PREP" />
                                        Yes
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="12_PREP_0">
                                    <input name="12_PREP" type="radio" value="0" id="12_PREP_0" ng-model="briggs.12_PREP" />
                                        No
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="12_PREP_2">
                                    <input name="12_PREP" type="radio" value="2" id="12_PREP_2" ng-model="briggs.12_PREP" />
                                        Don't Know
                                </label>
                            </div>
                        </div>            
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 briggs-pad-l briggs-brd-thin-b">
                        <div class="col-sm-1 col-lg-1 col-md-1">
                            <label for="12_PREP_COM" class="briggs-f-thin briggs-cntrl-grp">Comments:</label>
                        </div>
                        <div class="col-sm-11 col-lg-11 col-md-11 briggs-no-pad">
                            <input class="form-control briggs-control briggs-cntrl-grp " id="12_PREP_COM" name="12_PREP_COM" ng-model="briggs.12_PREP_COM" maxlength="30" type="text">
                        </div> 
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-pad-thick-l briggs-mrg-thin-t">
                        <div class="col-lg-3 col-sm-3 briggs-f-thick briggs-mrg-thin-t">
                            ... tastes good
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="12_TAST_1">
                                    <input name="12_TAST" type="radio" value="1" id="12_TAST_1" ng-model="briggs.12_TAST" />
                                        Yes
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="12_TAST_0">
                                    <input name="12_TAST" type="radio" value="0" id="12_TAST_0" ng-model="briggs.12_TAST" />
                                        No
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="12_TAST_2">
                                    <input name="12_TAST" type="radio" value="2" id="12_TAST_2" ng-model="briggs.12_TAST" />
                                        Don't Know
                                </label>
                            </div>
                        </div>            
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 briggs-pad-l briggs-brd-thin-b">
                        <div class="col-sm-1 col-lg-1 col-md-1">
                            <label for="12_TAST_COM" class="briggs-f-thin briggs-cntrl-grp">Comments:</label>
                        </div>
                        <div class="col-sm-11 col-lg-11 col-md-11 briggs-no-pad">
                            <input class="form-control briggs-control briggs-cntrl-grp " id="12_TAST_COM" name="12_TAST_COM" ng-model="briggs.12_TAST_COM" maxlength="30" type="text">
                        </div> 
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-pad-thick-l briggs-mrg-thin-t">
                        <div class="col-lg-3 col-sm-3 briggs-f-thick briggs-mrg-thin-t">
                            ... is always enough
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="12_ALW_1">
                                    <input name="12_ALW" type="radio" value="1" id="12_ALW_1" ng-model="briggs.12_ALW" />
                                        Yes
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="12_ALW_0">
                                    <input name="12_ALW" type="radio" value="0" id="12_ALW_0" ng-model="briggs.12_ALW" />
                                        No
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="12_ALW_2">
                                    <input name="12_ALW" type="radio" value="2" id="12_ALW_2" ng-model="briggs.12_ALW" />
                                        Don't Know
                                </label>
                            </div>
                        </div>            
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 briggs-pad-l briggs-brd-thin-b">
                        <div class="col-sm-1 col-lg-1 col-md-1">
                            <label for="12_ALW_COM" class="briggs-f-thin briggs-cntrl-grp">Comments:</label>
                        </div>
                        <div class="col-sm-11 col-lg-11 col-md-11 briggs-no-pad">
                            <input class="form-control briggs-control briggs-cntrl-grp " id="12_ALW_COM" name="12_ALW_COM" ng-model="briggs.12_ALW_COM" maxlength="30" type="text">
                        </div> 
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-pad-thick-l briggs-mrg-thin-t">
                        <div class="col-lg-3 col-sm-3 briggs-f-thick briggs-mrg-thin-t">
                            ... is of wide variety
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="12_WIDE_1">
                                    <input name="12_WIDE" type="radio" value="1" id="12_WIDE_1" ng-model="briggs.12_WIDE" />
                                        Yes
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="12_WIDE_0">
                                    <input name="12_WIDE" type="radio" value="0" id="12_WIDE_0" ng-model="briggs.12_WIDE" />
                                        No
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="12_WIDE_2">
                                    <input name="12_WIDE" type="radio" value="2" id="12_WIDE_2" ng-model="briggs.12_WIDE" />
                                        Don't Know
                                </label>
                            </div>
                        </div>            
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 briggs-pad-l briggs-brd-thin-b">
                        <div class="col-sm-1 col-lg-1 col-md-1">
                            <label for="12_WIDE_COM" class="briggs-f-thin briggs-cntrl-grp">Comments:</label>
                        </div>
                        <div class="col-sm-11 col-lg-11 col-md-11 briggs-no-pad">
                            <input class="form-control briggs-control briggs-cntrl-grp " id="12_WIDE_COM" name="12_WIDE_COM" ng-model="briggs.12_WIDE_COM" maxlength="30" type="text">
                        </div> 
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-pad-thick-l briggs-mrg-thin-t">
                        <div class="briggs-fl briggs-f-thick briggs-pad-l briggs-mrg-thin-t">
                            ... hot foods are served hot and cold foods are served cold
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="12_HOT_1">
                                    <input name="12_HOT" type="radio" value="1" id="12_HOT_1" ng-model="briggs.12_HOT" />
                                        Yes
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="12_HOT_0">
                                    <input name="12_HOT" type="radio" value="1" id="12_HOT_0" ng-model="briggs.12_HOT" />
                                        No
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="12_HOT_2">
                                    <input name="12_HOT" type="radio" value="2" id="12_HOT_2" ng-model="briggs.12_HOT" />
                                        Don't Know
                                </label>
                            </div>
                        </div>            
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 briggs-pad-l briggs-brd-thin-b">
                        <div class="col-sm-1 col-lg-1 col-md-1">
                            <label for="12_HOT_COM" class="briggs-f-thin briggs-cntrl-grp">Comments:</label>
                        </div>
                        <div class="col-sm-11 col-lg-11 col-md-11 briggs-no-pad">
                            <input class="form-control briggs-control briggs-cntrl-grp " id="12_HOT_COM" name="12_HOT_COM" ng-model="briggs.12_HOT_COM" maxlength="30" type="text">
                        </div> 
                    </div>                    
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-t briggs-mrg-thin-t">
                        13. My room is comfortable and meets my needs.
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 item  briggs-pad-l">                                    
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="THIRTEEN_1">
                                    <input name="THIRTEEN" type="radio" value="1" id="THIRTEEN_1" ng-model="briggs.THIRTEEN" />
                                        Yes
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="THIRTEEN_2">
                                    <input name="THIRTEEN" type="radio" value="2" id="THIRTEEN_2" ng-model="briggs.THIRTEEN" />
                                        Somewhat
                                    </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="THIRTEEN_0">
                                    <input name="THIRTEEN" type="radio" value="0" id="THIRTEEN_0" ng-model="briggs.THIRTEEN" />
                                        No
                                    </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="THIRTEEN_3">
                                    <input name="THIRTEEN" type="radio" value="3" id="THIRTEEN_3" ng-model="briggs.THIRTEEN" />
                                        Don't Know
                                    </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr briggs-mrg-thin-t">
                            Comments:
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                        <textarea id="THIRTEEN_COM" name="THIRTEEN_COM" rows="5" cols="50" class="form-control briggs-control" spellcheck="true" ng-model="briggs.THIRTEEN_COM" maxlength="210"></textarea>
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-t briggs-mrg-thin-t">
                        14. The furnishings in my room are kept in good repair.
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 item  briggs-pad-l">                                    
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="FOURTEEN_1">
                                    <input name="FOURTEEN" type="radio" value="1" id="FOURTEEN_1" ng-model="briggs.FOURTEEN" />
                                        Yes
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="FOURTEEN_2">
                                    <input name="FOURTEEN" type="radio" value="2" id="FOURTEEN_2" ng-model="briggs.FOURTEEN" />
                                        Somewhat
                                    </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="FOURTEEN_0">
                                    <input name="FOURTEEN" type="radio" value="0" id="FOURTEEN_0" ng-model="briggs.FOURTEEN" />
                                        No
                                    </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="FOURTEEN_3">
                                    <input name="FOURTEEN" type="radio" value="3" id="FOURTEEN_3" ng-model="briggs.FOURTEEN" />
                                        Don't Know
                                    </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr briggs-mrg-thin-t">
                            Comments:
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                        <textarea id="FOURTEEN_COM" name="FOURTEEN_COM" rows="5" cols="50" class="form-control briggs-control" spellcheck="true" ng-model="briggs.FOURTEEN_COM" maxlength="210"></textarea>
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-t briggs-mrg-thin-t">
                        15. My room, as well as the rest of the facility is kept neat and clean.
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 item  briggs-pad-l">                                    
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="FIFTEEN_1">
                                    <input name="FIFTEEN" type="radio" value="1" id="FIFTEEN_1" ng-model="briggs.FIFTEEN" />
                                        Yes
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="FIFTEEN_2">
                                    <input name="FIFTEEN" type="radio" value="2" id="FIFTEEN_2" ng-model="briggs.FIFTEEN" />
                                        Somewhat
                                    </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="FIFTEEN_0">
                                    <input name="FIFTEEN" type="radio" value="0" id="FIFTEEN_0" ng-model="briggs.FIFTEEN" />
                                        No
                                    </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="FIFTEEN_3">
                                    <input name="FIFTEEN" type="radio" value="3" id="FIFTEEN_3" ng-model="briggs.FIFTEEN" />
                                        Don't Know
                                    </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr briggs-mrg-thin-t">
                            Comments:
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                        <textarea id="FIFTEEN_COM" name="FIFTEEN_COM" rows="5" cols="50" class="form-control briggs-control" spellcheck="true" ng-model="briggs.FIFTEEN_COM" maxlength="210"></textarea>
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-t briggs-mrg-thin-t">
                        16. I feel safe and comfortable here.
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 item  briggs-pad-l">                                    
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SIXTEEN_1">
                                    <input name="SIXTEEN" type="radio" value="1" id="SIXTEEN_1" ng-model="briggs.SIXTEEN" />
                                        Yes
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SIXTEEN_2">
                                    <input name="SIXTEEN" type="radio" value="2" id="SIXTEEN_2" ng-model="briggs.SIXTEEN_1" />
                                        Somewhat
                                    </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SIXTEEN_0">
                                    <input name="SIXTEEN" type="radio" value="0" id="SIXTEEN_0" ng-model="briggs.SIXTEEN" />
                                        No
                                    </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SIXTEEN_3">
                                    <input name="SIXTEEN" type="radio" value="3" id="SIXTEEN_3" ng-model="briggs.SIXTEEN" />
                                        Don't Know
                                    </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr briggs-mrg-thin-t">
                            Comments:
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                        <textarea id="SIXTEEN_COM" name="SIXTEEN_COM" rows="5" cols="50" class="form-control briggs-control" spellcheck="true" ng-model="briggs.SIXTEEN_COM" maxlength="210"></textarea>
                    </div>
                    <div class="row briggs-cont-row col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-t briggs-mrg-thin-t">
                        17. People respect my privacy.
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 item  briggs-pad-l">                                    
                        <div class="briggs-fl briggs-pad-l">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEVENTEEN_1">
                                    <input name="SEVENTEEN" type="radio" value="1" id="SEVENTEEN_1" ng-model="briggs.SEVENTEEN" />
                                        Yes
                                </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEVENTEEN_2">
                                    <input name="SEVENTEEN" type="radio" value="2" id="SEVENTEEN_2" ng-model="briggs.SEVENTEEN" />
                                        Somewhat
                                    </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEVENTEEN_0">
                                    <input name="SEVENTEEN" type="radio" value="0" id="SEVENTEEN_0" ng-model="briggs.SEVENTEEN" />
                                        No
                                    </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr">
                            <div class="radio radio-info briggs-cntrl-grp ">
                                <label for="SEVENTEEN_3">
                                    <input name="SEVENTEEN" type="radio" value="3" id="SEVENTEEN_3" ng-model="briggs.SEVENTEEN" />
                                        Don't Know
                                    </label>
                            </div>
                        </div>
                        <div class="briggs-fl briggs-pad-thick-lr briggs-mrg-thin-t">
                            Comments:
                        </div>
                    </div>
                    <div class="row briggs-cont-row">
                        <div class="col-lg-12 col-sm-12 briggs-no-pad">
                            <textarea id="SEVENTEEN_COM" name="SEVENTEEN_COM" rows="5" cols="50" class="form-control briggs-control" spellcheck="true" ng-model="briggs.SEVENTEEN_COM" maxlength="210"></textarea>
                        </div>
                    </div></br>
                    
                    
                    

                    
                    <!--page 1 ends -->
                    <!--footer starts -->
                    
                    <!--footer ends -->
                    <!--paging-->
                    
                    <!--paging-->
                </div>
            </div>
            <!--hidden fields starts-->
            
            <!--hidden fields ends -->
        </div>
    </div>
    <!--form ends-->
</body>
</html>
