<div id="Page-01" name="pagebreak" description="RESIDENT APPRAISAL">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t">
                    <!--header starts-->
                    <div class="row briggs-cont-row">
                        <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-mrg-t">
                            <div class="col-lg-3 col-sm-3 briggs-no-pad  briggs-f-md briggs-pad-thick-r">
                                STATE OF CALIFORNIA - HEALTH AND HUMAN SERVICES AGENCY
                            </div>
                            <div class="col-lg-5 col-sm-5 briggs-no-pad">
                                <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-resident-review-sec briggs-pg-title briggs-cntrl-grp briggs-title-c">
                                    RESIDENT APPRAISAL<br>
                                    Residential Care Facilities For The Elderly
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad briggs-f-md briggs-title-r">
                                <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                    CALIFORNIA DEPARTMENT OF SOCIAL SERVICES<br>
                                    COMMUNITY CARE LICENSING
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--header ends-->
                    <!--page 01 starts-->
                    <div class="briggs-content-box briggs-box-square briggs-no-pad">
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-f-thick briggs-brd-thick-b">
                                <div class="briggs-mrg-thick-t briggs-cntrl-grp">
                                    NOTE: <em class="briggs-f-thin">
                                        This information may be obtained from the Prospective Resident, or his/her responsible person. This form is not a substitute for the
                                        Physician's Report (LIC 602).
                                    </em>
                                </div>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thick-b">
                                <div class="col-lg-11 briggs-no-pad col-sm-10 col-md-10 briggs-brd-thin-r">
                                    <div class="col-lg-12 col-md-12 briggs-no-pad-r col-sm-12 briggs-mrg-thick-t">
                                        <label for="NAME_FULL" class="briggs-f-thin">APPLICANT'S NAME</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <input class="form-control briggs-control briggs-mrg-thick-b" id="NAME_FULL" name="NAME_FULL" ng-model="briggs.NAME_FULL" maxlength="100" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-2 col-md-2 briggs-no-pad ">
                                    <div class="col-lg-12 col-md-12 briggs-no-pad-r briggs-mrg-thick-t col-sm-6">
                                        <label for="AGE" class="briggs-f-thin">AGE</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <input class="form-control briggs-control briggs-mrg-thick-b" id="AGE" name="AGE" ng-model="briggs.AGE" maxlength="3" type="number">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thick-b">
                                <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thick-b">
                                    <div class="col-lg-12 col-sm-12 briggs-cntrl-grp">
                                        <label class="briggs-f-thin" for="HEALTH"><span class="briggs-f-thick">HEALTH</span> (Describe overall health condition including any dietary limitations)</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12 briggs-cntrl-grp">
                                    <textarea rows="3" id="HEALTH" name="HEALTH" class="form-control briggs-control briggs-cntrl-grp" spellcheck="true" ng-model="briggs.HEALTH" maxlength="480"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thick-b">
                                <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thick-b">
                                    <div class="col-lg-12 col-sm-12 briggs-cntrl-grp">
                                        <label class="briggs-f-thin" for="PHY_DIS"><span class="briggs-f-thick">PHYSICAL DISABILITIES</span> (Describe any physical limitations including vision, hearing or speech)</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12 briggs-cntrl-grp">
                                    <textarea rows="10" id="PHY_DIS" name="PHY_DIS" class="form-control briggs-control briggs-cntrl-grp" spellcheck="true" ng-model="briggs.PHY_DIS" maxlength="1680"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thick-b">
                                <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thick-b">
                                    <div class="col-lg-12 col-sm-12 briggs-cntrl-grp">
                                        <div class="briggs-fl briggs-pad-thick-r">
                                            <label for="MEN_CON">MENTAL CONDITION</label>
                                        </div>
                                        <div class="col-lg-10 col-sm-9 col-md-10 briggs-no-pad">
                                            (Specify extent of any symptoms of confusion, forgetfulness: participation in social activities (i.e., active or withdrawn))
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12 briggs-cntrl-grp">
                                    <textarea rows="10" id="MEN_CON" name="MEN_CON" class="form-control briggs-control briggs-cntrl-grp" spellcheck="true" ng-model="briggs.MEN_CON" maxlength="1560"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thick-b">
                                    <div class="col-lg-12 col-sm-12 briggs-cntrl-grp">
                                        <div class="briggs-fl briggs-pad-thick-r">
                                            <label for="HEALTH_HIST">HEALTH HISTORY</label>
                                        </div>
                                        <div class="col-lg-10 col-sm-9 col-md-10 briggs-no-pad">
                                            (List currently prescribed medications and major illnesses, surgery, accidents; specify whether hospitalized and length of hospitalization in
                                            last 5 years)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12 briggs-cntrl-grp">
                                    <textarea rows="20" id="HEALTH_HIST" name="HEALTH_HIST" class="form-control briggs-control briggs-cntrl-grp" spellcheck="true" ng-model="briggs.HEALTH_HIST" maxlength="1920"></textarea>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <!--paging-->
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 briggs-pad-thick briggs-f-thick briggs-cntrl-grp text-center">
                            --- Page 1 of 3 ---
                        </div>
                    </div>
                    <!--paging-->
                </div>
            </div>
            <!-- hidden fields starts -->
            <input type="hidden" name="FORM_NAME" id="FORM_NAME" ng-model="briggs.FORM_NAME">
            <input type="hidden" name="FORM_REV" id="FORM_REV" ng-model="briggs.FORM_REV">
            <!-- hidden fields ends -->
        </div>