<div id="Page-01" name="pagebreak" description="ALR Community-Initial Individual Assessment Team Determination">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t">

                    <!--header starts-->
                    <div class="row briggs-cont-row">
                        <div class="col-lg-12 col-sm-12  briggs-pg-title briggs-title-c">
                            ALR Community - Initial Individual Assessment Team Determination
                        </div>
                    </div>
                    <!--header starts-->
                    <!--page 1 starts-->
                    <div class="briggs-content-box briggs-box-square briggs-no-pad">
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-mrg-t briggs-no-pad-r">
                                <div class="briggs-fl briggs-pad-thick-r">
                                    <label for="NAME" class="briggs-f-thin">Individual's Name:</label>
                                </div>
                                <div class="col-lg-8 briggs-no-pad col-sm-6 col-md-7 briggs-mrg-thin-b">
                                    <input class="form-control briggs-control" id="NAME" name="NAME" ng-model="briggs.NAME" maxlength="45" type="text">
                                </div>
                                <div class="briggs-fl briggs-col-offs briggs-pad-thick-r">
                                    <label for="DATE_TODAY" class="briggs-f-thin">Date:</label>
                                </div>
                                <div class="briggs-fl">
                                    <input class="form-control briggs-control briggs-date-control" id="DATE_TODAY" name="DATE_TODAY" ng-model="briggs.DATE_TODAY" maxlength="10" type="date">
                                </div>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-f-thick briggs-mrg-thick-t">
                                Based on all assessment information, the Assessment Team has determined:
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-9 col-md-8 briggs-mrg-thin-t briggs-sm-f-12 briggs-md-f-14">
                                    Moving into the ALR is the individual's choice:
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad">
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MOV_ALR_1">
                                                <input type="radio" id="MOV_ALR_1" name="MOV_ALR" value="1" ng-model="briggs.MOV_ALR">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MOV_ALR_0">
                                                <input type="radio" id="MOV_ALR_0" name="MOV_ALR" value="0" ng-model="briggs.MOV_ALR">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-9 col-md-8 briggs-mrg-thin-t briggs-sm-f-12 briggs-md-f-14">
                                    Community meets individual's independence/community integration needs:
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad">
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="COM_NEED_1">
                                                <input type="radio" id="COM_NEED_1" name="COM_NEED" value="1" ng-model="briggs.COM_NEED">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="COM_NEED_0">
                                                <input type="radio" id="COM_NEED_0" name="COM_NEED" value="0" ng-model="briggs.COM_NEED">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-9 col-md-8 briggs-no-pad-r briggs-mrg-thin-t">
                                    <div class="briggs-fl  briggs-pad-thick-r briggs-sm-f-12 briggs-md-f-14">
                                        Individual agrees to the available selection of living arrangement, Room #
                                    </div>
                                    <div class="briggs-fl  briggs-pad-thick-r">
                                        <input id="ROOM_NO" name="ROOM_NO" class="form-control briggs-control briggs-width-60" ng-model="briggs.ROOM_NO" maxlength="5" type="text">
                                    </div>
                                    <div class="briggs-fl briggs-f-thick">
                                        :
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad">
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="LIVE_ARR_1">
                                                <input type="radio" id="LIVE_ARR_1" name="LIVE_ARR" value="1" ng-model="briggs.LIVE_ARR">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="LIVE_ARR_0">
                                                <input type="radio" id="LIVE_ARR_0" name="LIVE_ARR" value="0" ng-model="briggs.LIVE_ARR">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-9 col-md-8  briggs-mrg-thin-t briggs-sm-f-12 briggs-md-f-14">
                                    Individual agrees to roommate choice (if applicable):
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad">
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="IND_MATE_1">
                                                <input type="radio" id="IND_MATE_1" name="IND_MATE" value="1" ng-model="briggs.IND_MATE">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="IND_MATE_0">
                                                <input type="radio" id="IND_MATE_0" name="IND_MATE" value="0" ng-model="briggs.IND_MATE">No
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="IND_MATE_254">
                                                <input type="radio" id="IND_MATE_254" name="IND_MATE" value="254" ng-model="briggs.IND_MATE">N/A
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-9 col-md-8 briggs-mrg-thin-t briggs-sm-f-12 briggs-md-f-14">
                                    Individual is capable of locking and unlocking their living quarters:
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad">
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="LOCK_UN_1">
                                                <input type="radio" id="LOCK_UN_1" name="LOCK_UN" value="1" ng-model="briggs.LOCK_UN">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="LOCK_UN_0">
                                                <input type="radio" id="LOCK_UN_0" name="LOCK_UN" value="0" ng-model="briggs.LOCK_UN">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-9 col-md-8 briggs-mrg-thin-t briggs-sm-f-12 briggs-md-f-14">
                                    Community is able to meet therapeutic diet needs and/or food preferences:
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad">
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="FOOD_PREF_1">
                                                <input type="radio" id="FOOD_PREF_1" name="FOOD_PREF" value="1" ng-model="briggs.FOOD_PREF">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="FOOD_PREF_0">
                                                <input type="radio" id="FOOD_PREF_0" name="FOOD_PREF" value="0" ng-model="briggs.FOOD_PREF">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-9 col-md-8 briggs-mrg-thin-t briggs-sm-f-12 briggs-md-f-14">
                                    Individual is able to safely cook and use food preparation areas/utensils:
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad">
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="FOOD_UTEN_1">
                                                <input type="radio" id="FOOD_UTEN_1" name="FOOD_UTEN" value="1" ng-model="briggs.FOOD_UTEN">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="FOOD_UTEN_0">
                                                <input type="radio" id="FOOD_UTEN_0" name="FOOD_UTEN" value="0" ng-model="briggs.FOOD_UTEN">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-9 col-md-8  briggs-mrg-thin-t briggs-sm-f-12 briggs-md-f-14">
                                    Individual is able to self-manage any injectable medications:<br>
                                    <div class="col-lg-7 col-sm-10 col-md-10 briggs-no-pad briggs-txt-a briggs-f-md">
                                        (Note: answering "no" does not preclude admission to ALR if the community has a 
                                        nurse on staff to meet the need for injectable medication administration or if Home Health will administer.)
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad">
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="SELF_INJ_1">
                                                <input type="radio" id="SELF_INJ_1" name="SELF_INJ" value="1" ng-model="briggs.SELF_INJ">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="SELF_INJ_0">
                                                <input type="radio" id="SELF_INJ_0" name="SELF_INJ" value="0" ng-model="briggs.SELF_INJ">No
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="SELF_INJ_254">
                                                <input type="radio" id="SELF_INJ_254" name="SELF_INJ" value="254" ng-model="briggs.SELF_INJ">N/A
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-9 col-md-8  briggs-mrg-thin-t briggs-sm-f-12 briggs-md-f-14">
                                    Community can meet individual's level of need related to continence:
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad">
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="REL_CON_1">
                                                <input type="radio" id="REL_CON_1" name="REL_CON" value="1" ng-model="briggs.REL_CON">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="REL_CON_0">
                                                <input type="radio" id="REL_CON_0" name="REL_CON" value="0" ng-model="briggs.REL_CON">No
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="REL_CON_254">
                                                <input type="radio" id="REL_CON_254" name="REL_CON" value="254" ng-model="briggs.REL_CON">N/A
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-9 col-md-8  briggs-mrg-thin-t briggs-sm-f-12 briggs-md-f-14">
                                    Community can meet individual's nighttime needs:
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad">
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="NIGHT_NEED_1">
                                                <input type="radio" id="NIGHT_NEED_1" name="NIGHT_NEED" value="1" ng-model="briggs.NIGHT_NEED">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="NIGHT_NEED_0">
                                                <input type="radio" id="NIGHT_NEED_0" name="NIGHT_NEED" value="0" ng-model="briggs.NIGHT_NEED">No
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="NIGHT_NEED_254">
                                                <input type="radio" id="NIGHT_NEED_254" name="NIGHT_NEED" value="254" ng-model="briggs.NIGHT_NEED">N/A
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-9 col-md-8  briggs-mrg-thin-t briggs-sm-f-12 briggs-md-f-14">
                                    Community can meet the individual's level of need related to supervision and protective oversight:
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad">
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="SUPER_OVER_1">
                                                <input type="radio" id="SUPER_OVER_1" name="SUPER_OVER" value="1" ng-model="briggs.SUPER_OVER">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="SUPER_OVER_0">
                                                <input type="radio" id="SUPER_OVER_0" name="SUPER_OVER" value="0" ng-model="briggs.SUPER_OVER">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-9 col-md-8  briggs-mrg-thin-t briggs-sm-f-12 briggs-md-f-14">
                                    Community's physical plan/layout is able to accommodate the individual's needs related to accessibility:
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad">
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="PHY_PLAN_1">
                                                <input type="radio" id="PHY_PLAN_1" name="PHY_PLAN" value="1" ng-model="briggs.PHY_PLAN">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="PHY_PLAN_0">
                                                <input type="radio" id="PHY_PLAN_0" name="PHY_PLAN" value="0" ng-model="briggs.PHY_PLAN">No
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="PHY_PLAN_254">
                                                <input type="radio" id="PHY_PLAN_254" name="PHY_PLAN" value="254" ng-model="briggs.PHY_PLAN">N/A
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-9 col-md-8  briggs-mrg-thin-t briggs-sm-f-12 briggs-md-f-14">
                                    Community can support the individual's overall physical, emotional, social and spiritual needs:
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad">
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="SUP_NEED_1">
                                                <input type="radio" id="SUP_NEED_1" name="SUP_NEED" value="1" ng-model="briggs.SUP_NEED">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="SUP_NEED_0">
                                                <input type="radio" id="SUP_NEED_0" name="SUP_NEED" value="0" ng-model="briggs.SUP_NEED">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-9 col-md-8  briggs-mrg-thin-t briggs-sm-f-12 briggs-md-f-14">
                                    Community's culture is a good fit for the individual:
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad">
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="COM_CULT_1">
                                                <input type="radio" id="COM_CULT_1" name="COM_CULT" value="1" ng-model="briggs.COM_CULT">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="COM_CULT_0">
                                                <input type="radio" id="COM_CULT_0" name="COM_CULT" value="0" ng-model="briggs.COM_CULT">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12  briggs-cntrl-grp briggs-mrg-thick-b">
                                <label for="COM_CON">Comments and considerations:</label>
                                <textarea id="COM_CON" name="COM_CON" class="form-control briggs-control" rows="12" spellcheck="true" ng-model="briggs.COM_CON" maxlength="1560"></textarea>
                            </div>
                        </div>
                    </div>
                    <!--page 1 ends-->
                    <!--paging-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 briggs-pad-thick briggs-f-thick briggs-cntrl-grp text-center">
                            --- Page 1 of 3 ---
                        </div>
                    </div>
                    <!--paging-->
                </div>
            </div>          
        </div>