<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />
    <link href="../../../Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../Content/css/main/briggs-main.css" rel="stylesheet" />
    <link href="../../../Content/css/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="../../../Scripts/jquery/jquery-3.1.1.min.js"></script>
    <script src="../../../Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="../../../Scripts/match-height/jquery.matchHeight-min.js"></script>
    <script src="../../../Scripts/page/common.js"></script>
    <title>BRIGGS |HOME CARE AND ASSISTED LIVING PROGRAM</title>
</head>
<body class="test-rows">
    <!--form starts-->
    <div class="container">
        <div id="Page-02" name="pagebreak" description="HOMECARE AND ASSISTEDLIVING ">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t ">
                    <div class="briggs-content-box briggs-box-square briggs-no-pad">
                        <div class="row briggs-cont-row  briggs-brd-thin-b">
                            <div class="col-lg-12 col-sm-12 briggs-mrg-thick-t">
							
                                <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t briggs-brd-thin-b briggs-cntrl-grp">
                                    Home Care Provider Change of Information Form 
                                </div>
								
								 <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t briggs-cntrl-grp">
                                    <label>Change of Contact Information</label>
                                </div>
								
								
								
							<div class="col-lg-12 col-sm-12 briggs-no-pad briggs-cntrl-grp">
                                <div class="col-lg-4 col-sm-4 briggs-no-pad">
                                    <div class="col-lg-10 col-sm-10 col-md-10">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="ADD_CHANGE" class="briggs-col-offs">
                                                <input type="Checkbox" id="ADD_CHANGE" name="ADD_CHANGE" value="1" ng-model="briggs.HIST_TUB">Change of Physical Address
                                            </label>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-lg-4 col-sm-4 briggs-no-pad">
                                    <div class="col-lg-10 col-sm-10 col-md-10">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="ADD_CHANGE" class="briggs-col-offs">
                                                <input type="Checkbox" id="ADD_CHANGE" name="ADD_CHANGE" value="2" ng-model="briggs.HIST_TUB">Change of Mailing Address
                                            </label>
                                        </div>
										
                                    </div>
                                </div>
								
								<div class="col-lg-3 col-sm-3 briggs-no-pad">
                                    <div class="col-lg-6 col-sm-5 col-md-5">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="ADD_CHANGE" class="briggs-col-offs">
                                                <input type="Checkbox" id="ADD_CHANGE" name="ADD_CHANGE" value="3" ng-model="briggs.HIST_TUB">Both
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
							
							
							<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-cntrl-grp">
							    <div class="col-lg-6 col-sm-6 col-md-6 briggs-no-pad">
								 <div class="col-lg-10 col-sm-10 col-md-10 briggs-no-pad ">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="ADD_PREV" class="briggs-col-offs">
                                               Previous Address:
                                            </label>
                                        </div>
										<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad ">
										<textarea id="ADD_PREV" name="ADD_PREV" rows="5" cols="50" class="form-control briggs-control" spellcheck="true" ng-model="briggs.ONE_OTH_SERV" maxlength="210"></textarea>
                                    </div>
								</div>
								</div>
								
								<div class="col-lg-6 col-sm-6 col-md-6 briggs-no-pad">
								 <div class="col-lg-10 col-sm-10 col-md-10 briggs-no-pad ">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="ADD_NEW" class="briggs-col-offs">
                                               New Address:
                                            </label>
                                        </div>
										<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad ">
										<textarea id="ADD_NEW" name="ADD_NEW" rows="5" cols="50" class="form-control briggs-control" spellcheck="true" ng-model="briggs.ONE_OTH_SERV" maxlength="210"></textarea>
                                    </div>
								</div>
								</div>
							</div>
							
							
							             <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-cntrl-grp">
                                                        <div class="col-lg-6 col-sm-6 col-md-6 briggs-mrg-thin-t">
                                                            <div class="briggs-cntrl-grp">
															 <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad">
                                                                    <label for="NEW_PHONE" class="briggs-mrg-l">
                                                                      <input type="checkbox" id="NEW_PHONE" name="NEW_PHONE" ng-model="briggs.HYG_NEED">
                                                                     </label>
                                                                </div>
															
															
															
                                                                <div class="col-lg-2 col-sm-12 col-md-12 briggs-no-pad">
                                                                    <label for="PHONE_NEW" class="briggs-f-thin">
                                                                       New Phone#:
                                                                    </label>
                                                                </div>
																 <div class="col-lg-5 col-sm-12 col-md-12 briggs-no-pad">
                                                                <label for="PHONE_NEW" >
                                                                 <input id="PHONE_NEW" name="PHONE_NEW" class="form-control briggs-control" ng-model="briggs.HYG_SPEC" maxlength="60" type="text">
                                                                 </label>
																 </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-6 col-sm-6 col-md-6 briggs-mrg-thin-t">
                                                            <div class="briggs-cntrl-grp">
															 <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad">
                                                                    <label for="NEW_FAX" class="briggs-mrg-l">
                                                                      <input type="checkbox" id="NEW_FAX" name="NEW_FAX" ng-model="briggs.HYG_NEED">
                                                                     </label>
                                                                </div>
															
															
															
                                                                <div class="col-lg-2 col-sm-12 col-md-12 briggs-no-pad">
                                                                    <label for="PHONE_NEW_FAX" class="briggs-f-thin">
                                                                       New Fax#:
                                                                    </label>
                                                                </div>
																 <div class="col-lg-5 col-sm-12 col-md-12 briggs-no-pad">
                                                                 <label for="PHONE_NEW_FAX" >
                                                                 <input id="PHONE_NEW_FAX" name="PHONE_NEW_FAX" class="form-control briggs-control" ng-model="briggs.HYG_SPEC" maxlength="60" type="text">
                                                                 </label>
																 </div>
                                                            </div>
                                                        </div>
                                                    </div>
													
													
													
													
													<div class="col-lg-12 col-sm-12 briggs-mrg-thick-t">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad-r">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="NEW_EMAIL" class="briggs-mrg-l">
                                                <input type="checkbox" value="1" id="NEW_EMAIL" name="NEW_EMAIL" ng-model="briggs.HYG_NEED">
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-lg-11 col-sm-11 briggs-no-pad">
                                        <div class="col-lg-2 col-sm-7 col-md-5 briggs-no-pad briggs-cntrl-grp">
                                            New Email Address:
                                        </div>
                                        <div class="col-lg-9 col-sm-4 col-md-6 briggs-no-pad briggs-cntrl-grp">
                                            <input id="EMAIL_NEW" name="EMAIL_NEW" class="form-control briggs-control" ng-model="briggs.HYG_SPEC" maxlength="60" type="text">
                                        </div>
                                    </div>
                                </div>
								
								
								
								
								
								
								
								
								
								
								<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t ">
                                    <!--Resident name and Date starts-->
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-2 col-sm-4 col-md-4 briggs-no-pad-r ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-11 col-sm-11 col-md-11 briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad">
                                                <label for="DATE_ADDRESS" class="briggs-f-thin">
                                                    Effective Date of Changes:
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-9 col-md-9 briggs-no-pad-l briggs-pad-thick-r">
                                                <input class="form-control briggs-control briggs-date-control  briggs-mrg-thick-b DATE" id="DATE_ADDRESS" name="DATE_ADDRESS" ng-model="briggs.DATE_SIGN_B" maxlength="10" type="date">
                                            </div>
                                        </div>
                                    </div>
                                </div>
													
										



							
							
							
							
						<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t briggs-cntrl-grp briggs-brd-thin-t">
						<div class="col-lg-3 col-sm-3 col-md-3">
                              <label for="CHANGE_COMP" class="briggs-mrg-l">
                                                           <input type="checkbox" id="CHANGE_COMP" name="CHANGE_COMP" ng-model="briggs.HYG_NEED">
                                                          </label>      
														  <label>Change of Contact Information:</label>
                                </div>
								<div class="col-lg-9 col-sm-9 col-md-9"> 
								I have hired Employees and now have workers ' compensation insurance.My evidence of workers' compensation insurance is attached.(Attach certificate of insurance) 
								
								</div>
							</div>
							
							
							
							
								<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t ">
                                    <!--Resident name and Date starts-->
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-2 col-sm-4 col-md-4 briggs-no-pad-r ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-11 col-sm-11 col-md-11 briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad">
                                                <label for="DATE_CHANGE" class="briggs-f-thin">
                                                    Effective Date of Changes:
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-9 col-md-9 briggs-no-pad-l briggs-pad-thick-r">
                                                <input class="form-control briggs-control briggs-date-control  briggs-mrg-thick-b DATE" id="DATE_CHANGE" name="DATE_CHANGE" ng-model="briggs.DATE_SIGN_B" maxlength="10" type="date">
                                            </div>
                                        </div>
                                    </div>
                                </div>
													

							
							
								
						<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t briggs-cntrl-grp briggs-brd-thin-t">
						<div class="col-lg-12 col-sm-12 col-md-12">
                              <label for="CHANGE_RN" class="briggs-mrg-l">
                                                           <input type="checkbox" id="CHANGE_RN" name="CHANGE_RN" ng-model="briggs.HYG_NEED">
                                                          </label>      
														  <label>Change of Responsible Registered Nurse (RN):  (Do not report changes of all RNs.) :</label>
                                                        </div>
							                        </div>
							
							
							                 <div class="col-lg-12 col-sm-12 briggs-mrg-thick-t briggs-cntrl-grp">
                                                                <div class="col-lg-10 col-sm-9 col-md-9 briggs-no-pad briggs-mrg-thin-t">
                                                                    <div class="briggs-cntrl-grp">
                                                                        <div class="col-lg-2 col-sm-4 col-md-4 briggs-no-pad-r ">
                                                                            <label for="PREV_RN" class="briggs-f-thin">Previous RN’s Name:</label>
                                                                        </div>
                                                                        <div class="col-lg-9 col-sm-8 col-md-8 briggs-no-pad briggs-pad-thick-l">
                                                                            <input type="text" class="form-control briggs-control" id="PREV_RN" name="PREV_RN">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-2 col-sm-3 col-md-2 briggs-mrg-thin-t">
                                                                    <div class="briggs-cntrl-grp">
                                                                        <div class="col-lg-3 col-sm-3 col-md-4 briggs-no-pad">
                                                                            <label  class="briggs-f-thin">
                                                                               
                                                                            </label>
                                                                        </div>
                                                                        <div class="col-lg-9 col-sm-9 col-md-8 briggs-no-pad-l briggs-pad-thick-r">
                                                                            
                                                                        </div>
                                                                    </div>
                                                              
                                                            </div>
                                                       
                                                        </div>
							
								
								<div class="col-lg-12 col-sm-12 briggs-mrg-thick-t briggs-cntrl-grp">
                                                        <div class="col-lg-9 col-sm-8 col-md-9 briggs-no-pad briggs-mrg-thin-t">
                                                            <div class="briggs-cntrl-grp">
                                                                <div class="col-lg-2 col-sm-4 col-md-4 briggs-no-pad-r ">
                                                                    <label for="NEW_RN" class="briggs-f-thin">New RN’s Name:</label>
                                                                </div>
                                                                <div class="col-lg-10 col-sm-8 col-md-8 briggs-no-pad briggs-pad-thick-l">
                                                                    <input type="text" class="form-control briggs-control" id="NEW_RN" name="NEW_RN">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3 col-sm-4 col-md-3 briggs-mrg-thin-t">
                                                            <div class="briggs-cntrl-grp">
                                                                <div class="col-lg-5 col-sm-10 col-md-12 briggs-no-pad">
                                                                    <label for="RN_LICENSE" class="briggs-f-thin">
                                                                        License #:                                                                  
																		</label>
                                                                </div>
                                                                <div class="col-lg-6 col-sm-12 col-md-12 briggs-no-pad-l briggs-pad-thick-r">
                                                                    <input class="form-control briggs-control briggs-date-control  briggs-mrg-thick-b " type="text" id="RN_LICENSE" name="RN_LICENSE">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
								
								
								
								
								
								
								
								
								
								
								<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t ">
                                    <!--Resident name and Date starts-->
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-2 col-sm-4 col-md-4 briggs-no-pad-r ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-11 col-sm-11 col-md-11 briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad">
                                                <label for="DATE_RN_CHANGE" class="briggs-f-thin">
                                                    Effective Date of Changes:
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-9 col-md-9 briggs-no-pad-l briggs-pad-thick-r">
                                                <input class="form-control briggs-control briggs-date-control  briggs-mrg-thick-b DATE" id="DATE_RN_CHANGE" name="DATE_RN_CHANGE" ng-model="briggs.DATE_SIGN_B" maxlength="10" type="date">
                                            </div>
                                        </div>
                                    </div>
                                </div>
													
								
								
								
								
								
								<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t briggs-brd-thin-b  briggs-brd-thin-t  briggs-brd-thin-l  briggs-brd-thin-r briggs-cntrl-grp">
								               
                                                                <div class="row briggs-col-offs">
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 form-group">
                                                                        <label for="DATE_MDH">MDH Only:  License Expiration Date:</label>
                                                                        
                                                                    </div>
																	<div class="col-lg-7 col-md-7 col-sm-7 form-group">
                                                                        
                                                                        <input type="text" class="form-control" id="DATE_MDH" name="DATE_MDH">
                                                                    </div>
                                                                    
                                                                </div>
                                                        </div>
						
								
								
								
								
								<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t briggs-cntrl-grp briggs-brd-thin-t">
						<div class="col-lg-12 col-sm-12 col-md-12">
                              <label for="CHANGE_AGENT" class="briggs-mrg-l">
                                                           <input type="checkbox" id="CHANGE_AGENT" name="CHANGE_AGENT" ng-model="briggs.HYG_NEED">
                                                          </label>      
														  <label>Change in Agent (Both agents must sign below.) :</label>
                                </div>
								
							</div>
							
							
								


                                <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t ">
                                    <!--Resident name and Date starts-->
                                    <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-2 col-sm-4 col-md-4 briggs-no-pad-r ">
                                               <label for="PREV_AGENT" class="briggs-f-thin">
                                               Previous Agent Name:
											   </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-8 col-md-8 briggs-no-pad briggs-pad-thick-l">
                                                <input type="text" class="form-control briggs-control" id="PREV_AGENT" name="PREV_AGENT">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Provider's Legal Name-->


                                 <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t ">
                                    <!--Resident name and Date starts-->
                                    <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-2 col-sm-4 col-md-4 briggs-no-pad-r ">
                                               <label for="NEW_AGENT" class="briggs-f-thin">
                                               New Agent Name:
											   </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-8 col-md-8 briggs-no-pad briggs-pad-thick-l">
                                                <input type="text" class="form-control briggs-control" id="NEW_AGENT" name="NEW_AGENT">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Provider's Doing Bussiness-->


                                  <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t ">
                                    <!--Resident name and Date starts-->
                                    <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-2 col-sm-4 col-md-4 briggs-no-pad-r ">
                                               <label for="EMAIL_NEW_AGENT" class="briggs-f-thin">
                                               New Agent’s Email:
											   </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-8 col-md-8 briggs-no-pad briggs-pad-thick-l">
                                                <input type="text" class="form-control briggs-control" id="EMAIL_NEW_AGENT" name="EMAIL_NEW_AGENT">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Health Facility ID-->


                                <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t ">
                                    <!--Resident name and Date starts-->
                                    <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-3 col-sm-4 col-md-4 briggs-no-pad-r ">
                                                <label for="NAME_BOARD" class="briggs-f-thin">
                                               Owner/Board Member Name:  
											   </label>
                                            </div>
                                            <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-pad-thick-l">
                                                <input type="text" class="form-control briggs-control" id="NAME_BOARD" name="NAME_BOARD">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Agent-->



                                 
								
								
								
								
								<div class="row briggs-cont-row" name="signature_row" id="signature_row">
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b briggs-brd-thin-t briggs-brd-thin-l briggs-brd-thin-r briggs-mrg-t ">
                                <div class="col-lg-10 col-sm-9 col-md-10 briggs-no-pad briggs-brd-thin-r">
                                    <div name="signature_container" id="signature_container">
                                        <div class="col-lg-12  col-sm-12 briggs-no-pad-r  briggs-mrg-thick-t">
                                            Owner/Board Member Signature:
                                        </div>
                                        <div class="col-lg-12 col-sm-12 col-md-12 ">
                                            <textarea class="form-control briggs-control briggs-cntrl-grp briggs-mrg-thick-b" id="SIGN_A" name="SIGN_A" rows="3" cols="12" spellcheck="true" briggs-signature="" ng-model="briggs.SIGN_A" maxlength="45"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2  col-sm-3 col-md-2 briggs-no-pad-r ">
                                    <div class="col-lg-12  col-sm-12 briggs-no-pad briggs-mrg-thick-t">
                                        Date:
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad-l">
                                        <div class="briggs-col-offs">
                                            <input class="form-control briggs-control briggs-date-control briggs-cntrl-grp briggs-mrg-thick-b" id="DATE_SIGN_A" name="DATE_SIGN_A" ng-model="briggs.DATE_SIGN_A" maxlength="10" type="date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
								
								
								
								
								
								
								
								
								



                                
								<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t ">
                                    <!--Resident name and Date starts-->
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-2 col-sm-4 col-md-4 briggs-no-pad-r ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-11 col-sm-11 col-md-11 briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad">
                                                <label for="DATE_AGENT" class="briggs-f-thin">
                                                    Effective Date of Changes:
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-9 col-md-9 briggs-no-pad-l briggs-pad-thick-r">
                                                <input class="form-control briggs-control briggs-date-control  briggs-mrg-thick-b DATE" id="DATE_AGENT" name="DATE_AGENT" ng-model="briggs.DATE_SIGN_B" maxlength="10" type="date">
                                            </div>
                                        </div>
                                    </div>
                                </div>
													
                                <!--Mailing Address-->


                               
                                




                               


                               



                                

                                <div class="row briggs-cont-row" name="signature_row_1" id="signature_row_1">
                                    <!--footer starts-->
                                    <div class="col-lg-2 col-ms-2 col-sm-2 briggs-brd-thin-t">
                                    </div>
                                    <div class="col-lg-8 col-sm-8 briggs-no-pad briggs-brd-thin-t">
                                        <div class="col-lg-12 col-sm-12 col-md-12 briggs-fl">
                                            <label class="col-lg-8  col-sm-8 briggs-font-italic briggs-title-c" for="AHCA-MED"> </label>
                                        </div>

                                    </div>
                                    <div class="col-lg-2 col-ms-2 col-sm-2 briggs-brd-thin-t">
                                        <label class="col-lg-12  col-sm-12 briggs-no-pad-r  briggs-mrg-thick-t" for="AHCA-MED-B">--- Page 2 of 3 ---</label>
                                    </div>

                                </div>
                                <!--Ends footer starts-->
                            </div>
                            <!--page 2 ends-->
                            <!--paging-->

                            <!--paging-->
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>
