<div id="Page-01" name="pagebreak" description="ALR Community-COOKING ASSESSMENT">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t">

                    <!--header starts-->
                    <div class="row briggs-cont-row">
                        <div class="col-lg-12 col-sm-12  briggs-pg-title briggs-title-c">
                            ALR COMMUNITY - COOKING ASSESSMENT
                        </div>
                    </div>
                    <!--header starts-->
                    <!--page 1 starts-->
                    <div class="briggs-content-box briggs-box-square briggs-no-pad">
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t">
                                The Cooking Assessment determines an individual's ability to independently utilize varied cooking methods.
                                Complete this assessment by speaking directly with the individual, family or care givers,
                                and/or direct observation of individual's safety skills, as possible.
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t">
                                Department of Health Care Policy and Financing rules require all Medicaid-funded
                                individuals to complete a cooking assessment prior to admission.
                                Signatures of both the person completing the assessment and the person being assessed are required.
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-mrg-t briggs-no-pad-r">
                                <div class="briggs-fl briggs-pad-thick-r">
                                    <label for="NAME#0">Individual's Name:</label>
                                </div>
                                <div class="col-lg-8 briggs-no-pad col-sm-6 col-md-7 briggs-mrg-thin-b">
                                    <input class="form-control briggs-control" id="NAME#0" name="NAME" ng-model="briggs.NAME" maxlength="50" type="text">
                                </div>
                                <div class="briggs-fl briggs-col-offs briggs-pad-thick-r">
                                    <label for="DATE_NAME">Date:</label>
                                </div>
                                <div class="briggs-fl">
                                    <input class="form-control briggs-control briggs-date-control" id="DATE_NAME" name="DATE_NAME" ng-model="briggs.DATE_NAME" maxlength="10" type="date">
                                </div>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-f-thick briggs-mrg-thick-t">
                                Stove:
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Wants to use stove independently.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="STOVE_IND_1">
                                                <input type="radio" id="STOVE_IND_1" name="STOVE_IND" value="1" ng-model="briggs.STOVE_IND">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="STOVE_IND_0">
                                                <input type="radio" id="STOVE_IND_0" name="STOVE_IND" value="0" ng-model="briggs.STOVE_IND">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Turns burners on and off.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="STOVE_BURN_1">
                                                <input type="radio" id="STOVE_BURN_1" name="STOVE_BURN" value="1" ng-model="briggs.STOVE_BURN">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="STOVE_BURN_0">
                                                <input type="radio" id="STOVE_BURN_0" name="STOVE_BURN" value="0" ng-model="briggs.STOVE_BURN">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Adjusts temperature of stove burners.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="STOVE_ADJ_1">
                                                <input type="radio" id="STOVE_ADJ_1" name="STOVE_ADJ" value="1" ng-model="briggs.STOVE_ADJ">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="STOVE_ADJ_0">
                                                <input type="radio" id="STOVE_ADJ_0" name="STOVE_ADJ" value="0" ng-model="briggs.STOVE_ADJ">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Puts appropriate items on the burners.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="STOVE_APP_1">
                                                <input type="radio" id="STOVE_APP_1" name="STOVE_APP" value="1" ng-model="briggs.STOVE_APP">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="STOVE_APP_0">
                                                <input type="radio" id="STOVE_APP_0" name="STOVE_APP" value="0" ng-model="briggs.STOVE_APP">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Does not leave food unattended on stove.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="STOVE_FOOD_1">
                                                <input type="radio" id="STOVE_FOOD_1" name="STOVE_FOOD" value="1" ng-model="briggs.STOVE_FOOD">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="STOVE_FOOD_0">
                                                <input type="radio" id="STOVE_FOOD_0" name="STOVE_FOOD" value="0" ng-model="briggs.STOVE_FOOD">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Keeps stove-top free of flammable items.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="STOVE_TOP_1">
                                                <input type="radio" id="STOVE_TOP_1" name="STOVE_TOP" value="1" ng-model="briggs.STOVE_TOP">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="STOVE_TOP_0">
                                                <input type="radio" id="STOVE_TOP_0" name="STOVE_TOP" value="0" ng-model="briggs.STOVE_TOP">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Uses pot holders when removing hot items from stove.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="STOVE_POT_1">
                                                <input type="radio" id="STOVE_POT_1" name="STOVE_POT" value="1" ng-model="briggs.STOVE_POT">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="STOVE_POT_0">
                                                <input type="radio" id="STOVE_POT_0" name="STOVE_POT" value="0" ng-model="briggs.STOVE_POT">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-f-thick briggs-mrg-thick-t">
                                Oven:
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Wants to use oven independently.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="OVEN_IND_1">
                                                <input type="radio" id="OVEN_IND_1" name="OVEN_IND" value="1" ng-model="briggs.OVEN_IND">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="OVEN_IND_0">
                                                <input type="radio" id="OVEN_IND_0" name="OVEN_IND" value="0" ng-model="briggs.OVEN_IND">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Sets temperature independently.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="OVEN_TEMP_1">
                                                <input type="radio" id="OVEN_TEMP_1" name="OVEN_TEMP" value="1" ng-model="briggs.OVEN_TEMP">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="OVEN_TEMP_0">
                                                <input type="radio" id="OVEN_TEMP_0" name="OVEN_TEMP" value="0" ng-model="briggs.OVEN_TEMP">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Remembers to turn off oven when done.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="OVEN_DONE_1">
                                                <input type="radio" id="OVEN_DONE_1" name="OVEN_DONE" value="1" ng-model="briggs.OVEN_DONE">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="OVEN_DONE_0">
                                                <input type="radio" id="OVEN_DONE_0" name="OVEN_DONE" value="0" ng-model="briggs.OVEN_DONE">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Puts only appropriate items in the oven.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="OVEN_APP_1">
                                                <input type="radio" id="OVEN_APP_1" name="OVEN_APP" value="1" ng-model="briggs.OVEN_APP">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="OVEN_APP_0">
                                                <input type="radio" id="OVEN_APP_0" name="OVEN_APP" value="0" ng-model="briggs.OVEN_APP">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Uses pot holders when removing hot items from oven.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="OVEN_POT_1">
                                                <input type="radio" id="OVEN_POT_1" name="OVEN_POT" value="1" ng-model="briggs.OVEN_POT">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="OVEN_POT_0">
                                                <input type="radio" id="OVEN_POT_0" name="OVEN_POT" value="0" ng-model="briggs.OVEN_POT">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-f-thick briggs-mrg-thick-t">
                                Toaster:
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Wants to use toaster independently.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="TOAST_IND_1">
                                                <input type="radio" id="TOAST_IND_1" name="TOAST_IND" value="1" ng-model="briggs.TOAST_IND">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="TOAST_IND_0">
                                                <input type="radio" id="TOAST_IND_0" name="TOAST_IND" value="0" ng-model="briggs.TOAST_IND">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Adjusts toaster settings independently.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="TOAST_ADJ_1">
                                                <input type="radio" id="TOAST_ADJ_1" name="TOAST_ADJ" value="1" ng-model="briggs.TOAST_ADJ">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="TOAST_ADJ_0">
                                                <input type="radio" id="TOAST_ADJ_0" name="TOAST_ADJ" value="0" ng-model="briggs.TOAST_ADJ">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Knows how to safely remove food items from toaster.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="TOAST_REM_1">
                                                <input type="radio" id="TOAST_REM_1" name="TOAST_REM" value="1" ng-model="briggs.TOAST_REM">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="TOAST_REM_0">
                                                <input type="radio" id="TOAST_REM_0" name="TOAST_REM" value="0" ng-model="briggs.TOAST_REM">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-f-thick briggs-mrg-thick-t">
                                Microwave:
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Wants to use microwave independently.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MIC_IND_1">
                                                <input type="radio" id="MIC_IND_1" name="MIC_IND" value="1" ng-model="briggs.MIC_IND">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MIC_IND_0">
                                                <input type="radio" id="MIC_IND_0" name="MIC_IND" value="0" ng-model="briggs.MIC_IND">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Sets microwave settings appropriately.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MIC_APP_1">
                                                <input type="radio" id="MIC_APP_1" name="MIC_APP" value="1" ng-model="briggs.MIC_APP">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MIC_APP_0">
                                                <input type="radio" id="MIC_APP_0" name="MIC_APP" value="0" ng-model="briggs.MIC_APP">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Puts appropriate items in the microwave.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MIC_ITEM_1">
                                                <input type="radio" id="MIC_ITEM_1" name="MIC_ITEM" value="1" ng-model="briggs.MIC_ITEM">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MIC_ITEM_0">
                                                <input type="radio" id="MIC_ITEM_0" name="MIC_ITEM" value="0" ng-model="briggs.MIC_ITEM">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Does not leave food unattended in microwave.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MIC_FOOD_1">
                                                <input type="radio" id="MIC_FOOD_1" name="MIC_FOOD" value="1" ng-model="briggs.MIC_FOOD">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MIC_FOOD_0">
                                                <input type="radio" id="MIC_FOOD_0" name="MIC_FOOD" value="0" ng-model="briggs.MIC_FOOD">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Uses pot holders when removing hot items from microwave.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MIC_POT_1">
                                                <input type="radio" id="MIC_POT_1" name="MIC_POT" value="1" ng-model="briggs.MIC_POT">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MIC_POT_0">
                                                <input type="radio" id="MIC_POT_0" name="MIC_POT" value="0" ng-model="briggs.MIC_POT">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Cleans up as needed.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MIC_CLEAN_1">
                                                <input type="radio" id="MIC_CLEAN_1" name="MIC_CLEAN" value="1" ng-model="briggs.MIC_CLEAN">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MIC_CLEAN_0">
                                                <input type="radio" id="MIC_CLEAN_0" name="MIC_CLEAN" value="0" ng-model="briggs.MIC_CLEAN">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-f-thick briggs-mrg-thick-t">
                                Miscellaneous:
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Knows what to do if a food item burns/catches on fire.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MISC_BURN_1">
                                                <input type="radio" id="MISC_BURN_1" name="MISC_BURN" value="1" ng-model="briggs.MISC_BURN">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MISC_BURN_0">
                                                <input type="radio" id="MISC_BURN_0" name="MISC_BURN" value="0" ng-model="briggs.MISC_BURN">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Does not wear loose clothing while cooking on stove.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MISC_LOOSE_1">
                                                <input type="radio" id="MISC_LOOSE_1" name="MISC_LOOSE" value="1" ng-model="briggs.MISC_LOOSE">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MISC_LOOSE_0">
                                                <input type="radio" id="MISC_LOOSE_0" name="MISC_LOOSE" value="0" ng-model="briggs.MISC_LOOSE">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Uses knives or other sharp utensils safely.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MISC_SHARP_1">
                                                <input type="radio" id="MISC_SHARP_1" name="MISC_SHARP" value="1" ng-model="briggs.MISC_SHARP">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MISC_SHARP_0">
                                                <input type="radio" id="MISC_SHARP_0" name="MISC_SHARP" value="0" ng-model="briggs.MISC_SHARP">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-mrg-thin-b">
                                <div class="col-lg-7 col-sm-8 col-md-8 briggs-col-offs briggs-mrg-thin-t">
                                    Determines if foods are spoiled.
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MISC_SPOIL_1">
                                                <input type="radio" id="MISC_SPOIL_1" name="MISC_SPOIL" value="1" ng-model="briggs.MISC_SPOIL">Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="MISC_SPOIL_0">
                                                <input type="radio" id="MISC_SPOIL_0" name="MISC_SPOIL" value="0" ng-model="briggs.MISC_SPOIL">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--page 1 ends-->
                    <!--paging-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 briggs-pad-thick briggs-f-thick briggs-cntrl-grp text-center">
                            --- Page 1 of 3 ---
                        </div>
                    </div>
                    <!--paging-->
                </div>
            </div>
            <!-- hidden fields starts -->
            <input type="hidden" name="FORM_NAME" id="FORM_NAME" ng-model="briggs.FORM_NAME">
            <input type="hidden" name="FORM_REV" id="FORM_REV" ng-model="briggs.FORM_REV">
            <!-- hidden fields ends -->
        </div>