<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />
    <link href="../../../Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../Content/css/main/briggs-main.css" rel="stylesheet" />
    <link href="../../../Content/css/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="../../../Scripts/jquery/jquery-3.1.1.min.js"></script>
    <script src="../../../Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="../../../Scripts/match-height/jquery.matchHeight-min.js"></script>
    <script src="../../../Scripts/page/common.js"></script>
    <title>BRIGGS |HOME CARE AND ASSISTED LIVING PROGRAM</title>
</head>
<body class="test-rows">
    <!--form starts-->
    <div class="container">
        <div id="Page-03" name="pagebreak" description="HOMECARE AND ASSISTEDLIVING ">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t ">
                    <div class="briggs-content-box briggs-box-square briggs-no-pad">
                        <div class="row briggs-cont-row  briggs-brd-thin-b">
                            <div class="col-lg-12 col-sm-12 briggs-mrg-thick-t">
							
                                <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t  briggs-cntrl-grp">
                                    Home Care Provider Change of Information Form 
                                </div> <!--header-->
								
								<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t briggs-cntrl-grp briggs-brd-thin-t">
						<div class="col-lg-12 col-sm-12 col-md-12">
                              <label for="CHANGE_HOUSE" class="briggs-mrg-l">
                                                           <input type="checkbox" id="CHANGE_HOUSE" name="CHANGE_HOUSE" ng-model="briggs.HYG_NEED">
                                                          </label>      
														  <label>Change in Agent (Both agents must sign below.) :</label>
                                </div>
								
							</div><!--part 1 head-->
							
							
								<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad-r ">
							<div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad-r ">
                                                <label  class="briggs-f-thin"> </label>
                                            </div>
											<div class="col-lg-11 col-sm-11 col-md-11 briggs-no-pad-r ">
                                                <label class="briggs-f-thin">If you have changed the Housing with Services locations where you offer services, list below:.</label>
                                            </div>
											
											</div>
							
							
							
							
							<div class="col-lg-12 col-sm-12 briggs-mrg-thick-t briggs-cntrl-grp">
                                                        <div class="col-lg-9 col-sm-8 col-md-9 briggs-no-pad briggs-mrg-thin-t">
                                                            <div class="briggs-cntrl-grp">
                                                                <div class="col-lg-2 col-sm-4 col-md-4 briggs-no-pad-r ">
                                                                    <label for="ADD_LOC_A" class="briggs-f-thin">Added Location(s):</label>
                                                                </div>
                                                                <div class="col-lg-10 col-sm-8 col-md-8 briggs-no-pad briggs-pad-thick-l">
                                                                    <input type="text" class="form-control briggs-control" id="ADD_LOC_A" name="ADD_LOC_A">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3 col-sm-4 col-md-3 briggs-mrg-thin-t">
                                                            <div class="briggs-cntrl-grp">
                                                                <div class="col-lg-5 col-sm-10 col-md-12 briggs-no-pad">
                                                                    <label for="HFID_A" class="briggs-f-thin">
                                                                        HFID(s):  
																		</label>
                                                                </div>
                                                                <div class="col-lg-6 col-sm-12 col-md-12 briggs-no-pad-l briggs-pad-thick-r">
                                                                    <input class="form-control briggs-control briggs-date-control  briggs-mrg-thick-b " type="text" id="HFID_A" name="HFID_A">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
													
													
													<div class="col-lg-12 col-sm-12 briggs-mrg-thick-t briggs-cntrl-grp">
                                                        <div class="col-lg-9 col-sm-8 col-md-9 briggs-no-pad briggs-mrg-thin-t">
                                                            <div class="briggs-cntrl-grp">
                                                                <div class="col-lg-2 col-sm-4 col-md-4 briggs-no-pad-r ">
                                                                    <label for="ADD_LOC_B" class="briggs-f-thin">Added Location(s):</label>
                                                                </div>
                                                                <div class="col-lg-10 col-sm-8 col-md-8 briggs-no-pad briggs-pad-thick-l">
                                                                    <input type="text" class="form-control briggs-control" id="ADD_LOC_B" name="ADD_LOC_B">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3 col-sm-4 col-md-3 briggs-mrg-thin-t">
                                                            <div class="briggs-cntrl-grp">
                                                                <div class="col-lg-5 col-sm-10 col-md-12 briggs-no-pad">
                                                                    <label for="HFID_B" class="briggs-f-thin">
                                                                        HFID(s):    
																		</label>
                                                                </div>
                                                                <div class="col-lg-6 col-sm-12 col-md-12 briggs-no-pad-l briggs-pad-thick-r">
                                                                    <input class="form-control briggs-control briggs-date-control  briggs-mrg-thick-b " type="text" id="HFID_B" name="HFID_B">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
													
													
													<div class="col-lg-12 col-sm-12 briggs-mrg-thick-t briggs-cntrl-grp">
                                                        <div class="col-lg-9 col-sm-8 col-md-9 briggs-no-pad briggs-mrg-thin-t">
                                                            <div class="briggs-cntrl-grp">
                                                                <div class="col-lg-2 col-sm-4 col-md-4 briggs-no-pad-r ">
                                                                    <label for="DROP_LOC_A" class="briggs-f-thin">Dropped Location(s): </label>
                                                                </div>
                                                                <div class="col-lg-10 col-sm-8 col-md-8 briggs-no-pad briggs-pad-thick-l">
                                                                    <input type="text" class="form-control briggs-control" id="DROP_LOC_A" name="DROP_LOC_A">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3 col-sm-4 col-md-3 briggs-mrg-thin-t">
                                                            <div class="briggs-cntrl-grp">
                                                                <div class="col-lg-5 col-sm-10 col-md-12 briggs-no-pad">
                                                                    <label for="HFID_C" class="briggs-f-thin">
                                                                        HFID(s):       
																		</label>
                                                                </div>
                                                                <div class="col-lg-6 col-sm-12 col-md-12 briggs-no-pad-l briggs-pad-thick-r">
                                                                    <input class="form-control briggs-control briggs-date-control  briggs-mrg-thick-b " type="text" id="HFID_C" name="HFID_C">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
													
													
													<div class="col-lg-12 col-sm-12 briggs-mrg-thick-t briggs-cntrl-grp">
                                                        <div class="col-lg-9 col-sm-8 col-md-9 briggs-no-pad briggs-mrg-thin-t">
                                                            <div class="briggs-cntrl-grp">
                                                                <div class="col-lg-2 col-sm-4 col-md-4 briggs-no-pad-r ">
                                                                    <label for="DROP_LOC_B" class="briggs-f-thin">Dropped Location(s):</label>
                                                                </div>
                                                                <div class="col-lg-10 col-sm-8 col-md-8 briggs-no-pad briggs-pad-thick-l">
                                                                    <input type="text" class="form-control briggs-control" id="DROP_LOC_B" name="DROP_LOC_B">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3 col-sm-4 col-md-3 briggs-mrg-thin-t">
                                                            <div class="briggs-cntrl-grp">
                                                                <div class="col-lg-5 col-sm-10 col-md-12 briggs-no-pad">
                                                                    <label for="HFID_D" class="briggs-f-thin">
                                                                         HFID(s):                                                                     </label>
                                                                </div>
                                                                <div class="col-lg-6 col-sm-12 col-md-12 briggs-no-pad-l briggs-pad-thick-r">
                                                                    <input class="form-control briggs-control briggs-date-control  briggs-mrg-thick-b " type="text" id="HFID_D" name="HFID_D">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
													
													
													
								<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t ">
                                    <!--Resident name and Date starts-->
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-2 col-sm-4 col-md-4 briggs-no-pad-r ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-11 col-sm-11 col-md-11 briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad">
                                                <label for="DATE_HOUSE" class="briggs-f-thin">
                                                    Effective Date of Changes:
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-9 col-md-9 briggs-no-pad-l briggs-pad-thick-r">
                                                <input class="form-control briggs-control briggs-date-control  briggs-mrg-thick-b DATE" id="DATE_HOUSE" name="DATE_HOUSE" ng-model="briggs.DATE_SIGN_B" maxlength="10" type="date">
                                            </div>
                                        </div>
                                    </div>
                                </div>
													
													
													
													
													
													
													
																					<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t briggs-cntrl-grp briggs-brd-thin-t">
						                                                                  <div class="col-lg-12 col-sm-12 col-md-12">
                                                                                               <label for="CHANGE_BRANCH" class="briggs-mrg-l">
                                                                                                  <input type="checkbox" id="CHANGE_BRANCH" name="CHANGE_BRANCH" ng-model="briggs.HYG_NEED">
                                                                                                                 </label>      
														                                                      <label>Change in Agent (Both agents must sign below.) :</label>
                                                                                                 </div>
								
							                                                                    </div>
							
							
							<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad-r ">
							<div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad-r ">
                                                <label  class="briggs-f-thin"> </label>
                                            </div>
											<div class="col-lg-11 col-sm-11 col-md-11 briggs-no-pad-r ">
                                                <label  class="briggs-f-thin"> If you have changed the Branch Office locations where you offer services, list below: .</label>
                                            </div>
											
											</div>
							
							
							<div class="col-lg-12 col-sm-12 briggs-mrg-thick-t briggs-cntrl-grp">
                                                        <div class="col-lg-9 col-sm-8 col-md-9 briggs-no-pad briggs-mrg-thin-t">
                                                            <div class="briggs-cntrl-grp">
                                                                <div class="col-lg-2 col-sm-4 col-md-4 briggs-no-pad-r ">
                                                                    <label for="ADD_LOC_C" class="briggs-f-thin">Added Location(s):</label>
                                                                </div>
                                                                <div class="col-lg-10 col-sm-8 col-md-8 briggs-no-pad briggs-pad-thick-l">
                                                                    <input type="text" class="form-control briggs-control" id="ADD_LOC_C" name="ADD_LOC_C">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3 col-sm-4 col-md-3 briggs-mrg-thin-t">
                                                            <div class="briggs-cntrl-grp">
                                                                <div class="col-lg-5 col-sm-10 col-md-12 briggs-no-pad">
                                                                    <label for="HFID_E" class="briggs-f-thin">
                                                                        HFID(s):   
																		</label>
                                                                </div>
                                                                <div class="col-lg-6 col-sm-12 col-md-12 briggs-no-pad-l briggs-pad-thick-r">
                                                                    <input class="form-control briggs-control briggs-date-control  briggs-mrg-thick-b " type="text" id="HFID_E" name="HFID_E">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
													
													
													<div class="col-lg-12 col-sm-12 briggs-mrg-thick-t briggs-cntrl-grp">
                                                        <div class="col-lg-9 col-sm-8 col-md-9 briggs-no-pad briggs-mrg-thin-t">
                                                            <div class="briggs-cntrl-grp">
                                                                <div class="col-lg-2 col-sm-4 col-md-4 briggs-no-pad-r ">
                                                                    <label for="ADD_LOC_D" class="briggs-f-thin">Added Location(s):</label>
                                                                </div>
                                                                <div class="col-lg-10 col-sm-8 col-md-8 briggs-no-pad briggs-pad-thick-l">
                                                                    <input type="text" class="form-control briggs-control" id="ADD_LOC_D" name="ADD_LOC_D">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3 col-sm-4 col-md-3 briggs-mrg-thin-t">
                                                            <div class="briggs-cntrl-grp">
                                                                <div class="col-lg-5 col-sm-10 col-md-12 briggs-no-pad">
                                                                    <label for="HFID_F" class="briggs-f-thin">
                                                                        HFID(s):                                                                     </label>
                                                                </div>
                                                                <div class="col-lg-6 col-sm-12 col-md-12 briggs-no-pad-l briggs-pad-thick-r">
                                                                    <input class="form-control briggs-control briggs-date-control  briggs-mrg-thick-b " type="text" id="HFID_F" name="HFID_F">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
													
													
													<div class="col-lg-12 col-sm-12 briggs-mrg-thick-t briggs-cntrl-grp">
                                                        <div class="col-lg-9 col-sm-8 col-md-9 briggs-no-pad briggs-mrg-thin-t">
                                                            <div class="briggs-cntrl-grp">
                                                                <div class="col-lg-2 col-sm-4 col-md-4 briggs-no-pad-r ">
                                                                    <label for="DROP_LOC_C" class="briggs-f-thin">Dropped Location(s): </label>
                                                                </div>
                                                                <div class="col-lg-10 col-sm-8 col-md-8 briggs-no-pad briggs-pad-thick-l">
                                                                    <input type="text" class="form-control briggs-control" id="DROP_LOC_C" name="DROP_LOC_C">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3 col-sm-4 col-md-3 briggs-mrg-thin-t">
                                                            <div class="briggs-cntrl-grp">
                                                                <div class="col-lg-5 col-sm-10 col-md-12 briggs-no-pad">
                                                                    <label for="HFID_G" class="briggs-f-thin">
                                                                        HFID(s):                                                                     </label>
                                                                </div>
                                                                <div class="col-lg-6 col-sm-12 col-md-12 briggs-no-pad-l briggs-pad-thick-r">
                                                                    <input class="form-control briggs-control briggs-date-control  briggs-mrg-thick-b " type="text" id="HFID_G" name="HFID_G">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
													
													
													<div class="col-lg-12 col-sm-12 briggs-mrg-thick-t briggs-cntrl-grp">
                                                        <div class="col-lg-9 col-sm-8 col-md-9 briggs-no-pad briggs-mrg-thin-t">
                                                            <div class="briggs-cntrl-grp">
                                                                <div class="col-lg-2 col-sm-4 col-md-4 briggs-no-pad-r ">
                                                                    <label for="DROP_LOC_D" class="briggs-f-thin">Dropped Location(s):</label>
                                                                </div>
                                                                <div class="col-lg-10 col-sm-8 col-md-8 briggs-no-pad briggs-pad-thick-l">
                                                                    <input type="text" class="form-control briggs-control" id="DROP_LOC_D" name="DROP_LOC_D">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3 col-sm-4 col-md-3 briggs-mrg-thin-t">
                                                            <div class="briggs-cntrl-grp">
                                                                <div class="col-lg-5 col-sm-10 col-md-12 briggs-no-pad">
                                                                    <label for="HFID_H" class="briggs-f-thin">
                                                                         HFID(s):                                             
																		 </label>
                                                                </div>
                                                                <div class="col-lg-6 col-sm-12 col-md-12 briggs-no-pad-l briggs-pad-thick-r">
                                                                    <input class="form-control briggs-control briggs-date-control  briggs-mrg-thick-b " type="text" id="HFID_H" name="HFID_H">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
													
													
													
								<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t ">
                                    <!--Resident name and Date starts-->
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-2 col-sm-4 col-md-4 briggs-no-pad-r ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-11 col-sm-11 col-md-11 briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad">
                                                <label for="DATE_BRANCH" class="briggs-f-thin">
                                                    Effective Date of Changes:
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-9 col-md-9 briggs-no-pad-l briggs-pad-thick-r">
                                                <input class="form-control briggs-control briggs-date-control  briggs-mrg-thick-b DATE" id="DATE_BRANCH" name="DATE_BRANCH" ng-model="briggs.DATE_SIGN_B" maxlength="10" type="date">
                                            </div>
                                        </div>
                                    </div>
                                </div>
								
								
								
								
								<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t briggs-brd-thick-t">
                                    <!--Resident name and Date starts-->
                                    <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-3 col-sm-4 col-md-4 briggs-no-pad-r ">
                                                <label for="NAME_RECORD" class="briggs-3697HH-phy-sec">*Name of Agent on Record:</label>
                                            </div>
                                            <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-pad-thick-l">
                                                <input type="text" class="form-control briggs-control" id="NAME_RECORD" name="NAME_RECORD">
                                            </div>
                                        </div>
                                    </div>
                                </div>
								
								
								<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t ">
                                    <!--Resident name and Date starts-->
                                    <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-3 col-sm-4 col-md-4 briggs-no-pad-r ">
                                                <label for="SIGN_B" class="briggs-3697HH-phy-sec">Signature of Agent on Record:</label>
                                            </div>
                                            <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-pad-thick-l">
                                                <input type="text" class="form-control briggs-control" id="SIGN_B" name="SIGN_B">
                                            </div>
                                        </div>
                                    </div>
                                </div>
								
								
								<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t ">
                                    <!--Resident name and Date starts-->
                                    <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad-r ">
                                                <label class="briggs-3697HH-phy-sec">The agent and signatory must be an owner, board member, or agent currently listed in the MDH database in order for MDH to accept changes requested on this form</label>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
							
								
							
							
							
							
						<div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-mrg-t briggs-no-pad-r">
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad-r ">
                                                <label for="DATE_SIGN_B" class="briggs-3697HH-phy-sec">Date:</label>
                                            </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad-r">
                                    <input class="form-control briggs-control briggs-date-control" id="DATE_SIGN_B" name="DATE_SIGN_B" ng-model="briggs.DATE_IND" maxlength="10" type="date">
                                </div>
                            </div>
                        </div>
							
							
							
							
							<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-cntrl-grp briggs-mrg-t">
							    <div class="col-lg-6 col-sm-6 col-md-6 briggs-no-pad">
								 <div class="col-lg-10 col-sm-10 col-md-10 briggs-no-pad ">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="HIST_TUB_1" class="briggs-col-offs">
                                              Return the completed document to:
                                            </label>
                                        </div>
								</div>
								</div>
								
								<div class="col-lg-6 col-sm-6 col-md-6 briggs-no-pad">
								 <div class="col-lg-10 col-sm-10 col-md-10 briggs-no-pad ">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="HIST_TUB_1" class="briggs-col-offs">
                                               Home Care and Assisted Living Program 
                                            </label>
                                        </div>
										<div class="radio radio-info briggs-cntrl-grp">
                                            <label for="HIST_TUB_1" class="briggs-col-offs">
                                               Minnesota Department of Health 
                                            </label>
                                        </div>
										<div class="radio radio-info briggs-cntrl-grp">
                                            <label for="HIST_TUB_1" class="briggs-col-offs">
                                              PO Box 64900  
                                            </label>
                                        </div>
										
										<div class="radio radio-info briggs-cntrl-grp">
                                            <label for="HIST_TUB_1" class="briggs-col-offs">
                                              St. Paul, MN 55164-0900  
                                            </label>
                                        </div>
										<div class="radio radio-info briggs-cntrl-grp">
                                            <label for="HIST_TUB_1" class="briggs-col-offs">
                                              651-215-9697 (F)  
                                            </label>
                                        </div>
								</div>
								</div>
							</div>
							
							
							
							
							
							<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t ">
                                    <!--Resident name and Date starts-->
                                    <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad-r ">
                                                <label for="FACILITY_ID" class="briggs-3697HH-phy-sec">If you have questions, contact us via our website “Contact Home Care” form at </label>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
							
							
							
							
							<div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t briggs-brd-thin-b">
                                    <!--Resident name and Date starts-->
                                    <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad-r ">
                                                <label for="FACILITY_ID" class="briggs-3697HH-phy-sec"><a href="http://www.health.state.mn.us/divs/fpc/homecare/">http://www.health.state.mn.us/divs/fpc/homecare/</a> or call 651-201-5273.</label>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
							
							
							
                                <div class="row briggs-cont-row" name="signature_row_1" id="signature_row_1">
                                    <!--footer starts-->
                                    <div class="col-lg-2 col-ms-2 col-sm-2">
                                    </div>
                                    <div class="col-lg-8 col-sm-8 briggs-no-pad">
                                        <div class="col-lg-12 col-sm-12 col-md-12 briggs-fl">
                                            <label class="col-lg-8  col-sm-8 briggs-font-italic briggs-title-c" for="AHCA-MED"> </label>
                                        </div>

                                    </div>
                                    <div class="col-lg-2 col-ms-2 col-sm-2">
                                        <label class="col-lg-12  col-sm-12 briggs-no-pad-r  briggs-mrg-thick-t" for="AHCA-MED-B">--- Page 2 of 3 ---</label>
                                    </div>

                                </div>
                                <!--Ends footer starts-->
                            </div>
                            <!--page 2 ends-->
                            <!--paging-->

                            <!--paging-->
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>
