<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />
    <link href="../../../Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../Content/css/main/briggs-main.css" rel="stylesheet" />
    <link href="../../../Content/css/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="../../../Scripts/jquery/jquery-3.1.1.min.js"></script>
    <script src="../../../Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="../../../Scripts/match-height/jquery.matchHeight-min.js"></script>
    <script src="../../../Scripts/page/common.js"></script>
    <title>BRIGGS |CERTIFICATION OF MEDICAL NECESSITY</title>
</head>
<body class="test-rows">
    <!--form starts-->
    <div class="container">
        <div id="Page-01" name="pagebreak" description="RESIDENT APPRAISAL">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t">
                    <div class="briggs-content-box briggs-box-square briggs-no-pad">
                        <div class="row briggs-cont-row  briggs-brd-thin-b">
                            <div class="col-lg-12 col-sm-12 briggs-mrg-thick-t">
							
							<div class="col-lg-12 col-sm-12 briggs-title-r">
                                    Assistive Care Services Coverage and Limitations Handbook
                                </div>
								<div class="col-lg-12 col-sm-12 briggs-mrg-thick-t briggs-f-thick briggs-title-c">
                                    CERTIFICATION OF MEDICAL NECESSITY
                                </div>
                                <div class="col-lg-12 col-sm-12 briggs-mrg-thick-t briggs-f-thick briggs-title-c">
                                    FOR MEDICAID ASSISTIVE CARE SERVICES
                                </div>

                                <div class="col-lg-12 col-sm-12 briggs-mrg-thick-t briggs-f-thick briggs-title-c">
                                    Form for Assisted Living Facility, Residential Treatment Facility
                                </div>
                                <div class="col-lg-12 col-sm-12 briggs-mrg-thick-t briggs-f-thick briggs-title-c">
                                    and Adult Family Care Home Residents
                                </div> <!--header Ends-->


                                <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-pad-thick-t "> <!--Resident name and Date starts-->  
                                    <div class="col-lg-10 col-sm-9 col-md-9 briggs-no-pad briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-2 col-sm-4 col-md-4 briggs-no-pad-r ">
                                                <label for="NAME_FULL" class="briggs-f-thin">RESIDENT NAME:</label>
                                            </div>
                                            <div class="col-lg-9 col-sm-8 col-md-8 briggs-no-pad briggs-pad-thick-l">
                                                <input type="text" class="form-control briggs-control" id="NAME_FULL" name="NAME_FULL">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-3 col-md-2 briggs-mrg-thin-t">
                                        <div class="briggs-cntrl-grp">
                                            <div class="col-lg-3 col-sm-3 col-md-4 briggs-no-pad">
                                                <label for="DATE_BIRTH" class="briggs-f-thin">
                                                    Date:
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-9 col-md-8 briggs-no-pad-l briggs-pad-thick-r">
                                                <input class="form-control briggs-control briggs-date-control  briggs-mrg-thick-b DATE" id="DATE_BIRTH" name="DATE_BIRTH" ng-model="briggs.DATE_SIGN_B" maxlength="10" type="date">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Resident and date ends-->



                                <div class="col-lg-12 col-sm-12 briggs-pad-thick-t  briggs-cntrl-grp">
                                    This is to certify that this recipient is in need of an integrated set of assistance care services on a 24-hour 
basis ,including at least two of the following four service components on the daily basis (check as 
applicable):
                                </div>
								
								

                                <div class="col-lg-12 col-sm-12 briggs-pad-thick-t  check-box-con">
                                    <!--1 check starts-->

                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-pad-thin-l">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="DAILY_LIVING">
                                                <input type="checkbox" value="0" id="DAILY_LIVING" name="DAILY_LIVING" ng-model="briggs.WALK_AMB"><hr>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 briggs-no-pad briggs-cntrl-grp">
                                        Assistive with activities of daily living ,which is defined as individual assistance with ambulating,
transferring ,bathing, dressing ,eating ,grooming, and/or toileting.
                                    </div>
                                </div>


                                <div class="col-lg-12 col-sm-12">
                                    <!--2 check starts-->

                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-pad-thin-l">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="INST_ACT">
                                                <input type="checkbox" value="0" id="INST_ACT" name="INST_ACT" ng-model="briggs.WALK_AMB"><hr>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 briggs-no-pad briggs-cntrl-grp">
                                        Assistive with instrumental activities of daily living ,which is defined as individual assistance 
for personal items making telephone calls managing money,etc.
                                    </div>
                                </div>

                                <div class="col-lg-12 col-sm-12">
                                    <!--3 check starts-->

                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-pad-thin-l">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="HEALTH_SUPPORT">
                                                <input type="checkbox" value="0" id="HEALTH_SUPPORT" name="HEALTH_SUPPORT" ng-model="briggs.WALK_AMB"><hr>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 briggs-no-pad briggs-cntrl-grp">
                                        Health support ,which is defined as observing the resident's whereabouts and well-being;
reminding the resident of any important tasks; and recording and reporting any significant
changes in appearance,behaviour, or state of health to the health care provider,designated
representative, or case manager.
                                    </div>
                                </div>


                                <div class="col-lg-12 col-sm-12">
                                    <!--4 check starts-->

                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-pad-thin-l">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="SELF_ADMIN">
                                                <input type="checkbox" value="0" id="SELF_ADMIN" name="SELF_ADMIN" ng-model="briggs.WALK_AMB"><hr>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 briggs-no-pad briggs-cntrl-grp">
                                        Assistive with self-administration of medication, which is defined as assistance with or 
supervision of self-administration of medication as permitted by law.
                                    </div>
                                </div>


                                <div class="col-lg-12 col-sm-12 briggs-no-pad ">
                                    <div class="col-lg-12 col-sm-12 briggs-cntrl-grp">
                                        <label class="col-lg-12  col-sm-12 briggs-no-pad-r  briggs-mrg-thick-t" for="SOC_FACT">HEALTH CARE PROVIDER</label>
                                    </div>
                                </div>
                                <!--end of Health care Provider-->



                                <div class="col-lg-12 col-sm-12 briggs-pad-thick-t ">
                                    <div class="col-lg-10 col-sm-10">
                                        <div class="col-lg-6 col-sm-3 col-md-2 briggs-no-pad briggs-cntrl-grp">
                                           <label for="NAME_FACILITY" class="briggs-f-thin"> Facility Name:</label>
                                        </div>
                                        <div class="col-lg-6 col-sm-9 col-md-10 briggs-no-pad briggs-cntrl-grp briggs-mrg-thick-b">
                                            <input id="NAME_FACILITY" name="NAME_FACILITY" class="form-control briggs-control" ng-model="briggs.BATH_SPEC" maxlength="90" type="text">
                                        </div>
                                    </div>
                                </div>
                                <!--end of  Facility Name:-->

                                <div class="col-lg-12 col-sm-12">

                                    <div class="col-lg-10 col-sm-10">
                                        <div class="col-lg-6 col-sm-3 col-md-2 briggs-no-pad briggs-cntrl-grp">
                                            License Number:
                                        </div>
                                        <div class="col-lg-6 col-sm-9 col-md-10 briggs-no-pad briggs-cntrl-grp briggs-mrg-thick-b">
                                            <input id="LICENSE" name="LICENSE" class="form-control briggs-control" ng-model="briggs.BATH_SPEC" maxlength="90" type="text">
                                        </div>
                                    </div>
                                </div>
                                <!--end of  License Number::-->
                            </div>
                        </div>
						
						
						
						
                        <!-- signature region -->
                        <div class="row briggs-cont-row" name="signature_row" id="signature_row">
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-10 col-sm-9 col-md-10 briggs-no-pad briggs-brd-thin-r">
                                    <div name="signature_container" id="signature_container">
                                        <div class="col-lg-12  col-sm-12 briggs-no-pad-r  briggs-mrg-thick-t">
                                            Administrator Signature:
                                        </div>
                                        <div class="col-lg-12 col-sm-12 col-md-12 ">
                                            <textarea class="form-control briggs-control briggs-cntrl-grp briggs-mrg-thick-b" id="SIGN_A" name="SIGN_A" rows="3" cols="12" spellcheck="true" briggs-signature ng-model="briggs.SIGN_A" maxlength="45"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2  col-sm-3 col-md-2 briggs-no-pad-r ">
                                    <div class="col-lg-12  col-sm-12 briggs-no-pad briggs-mrg-thick-t">
                                        Date Signed:
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad-l">
                                        <div class="briggs-col-offs">
                                            <input class="form-control briggs-control briggs-date-control briggs-cntrl-grp briggs-mrg-thick-b" id="DATE_SIGN_A" name="DATE_SIGN_A" ng-model="briggs.DATE_SIGN_A" maxlength="10" type="date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  <!--end of signature region-->
						
						
						
						
						
                        <div class="row briggs-cont-row" name="signature_row_1" id="signature_row_1">   <!-- signature region -->
						
						<div class="col-lg-12 col-sm-12 briggs-no-pad ">
                                    <div class="col-lg-12 col-sm-12 briggs-cntrl-grp">
                                        <label class="col-lg-12  col-sm-12 briggs-no-pad-r  briggs-mrg-thick-t" for="SOC_FACT">CERTIFICATION OF MEDICAL NECESSITY:</label>
                                    </div>
                                </div>
						
						
						    <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
							
							    <div class="col-lg-10 col-sm-9 col-md-10 briggs-no-pad">
								    <div name="signature_container_1" id="signature_container_1">
                                        <div class="col-lg-12  col-sm-12 briggs-no-pad-r  briggs-mrg-thick-t">
                                            Physician/Physician Assistance/Advanced Registered Nurse Practitioner/Registered Nurse:
                                        </div>
                                        <div class="col-lg-12 col-sm-12 col-md-12 ">
                                            <textarea class="form-control briggs-control briggs-cntrl-grp briggs-mrg-thick-b" id="SIGN_B" name="SIGN_B" rows="3" cols="12" spellcheck="true" briggs-signature ng-model="briggs.SIGN_B" maxlength="45"></textarea>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>  <!--end of signature region-->
						
						
						
						 <div class="row briggs-cont-row" name="signature_row_1" id="signature_row_1"><!--footer starts-->
						    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-10 col-sm-9 col-md-10 briggs-no-pad">
								<label class="col-lg-6  col-sm-6 briggs-no-pad-r  briggs-mrg-thick-t" for="AHCA-MED">AHCA-MED Serv Form 035,July 2009</label>  
                                </div>
								
								
								<div class="col-lg-2 col-sm-3 col-md-2 briggs-no-pad">
                                    <label class="col-lg-12  col-sm-12 briggs-no-pad-r  briggs-mrg-thick-t" for="AHCA-MED-B">B-2</label>
                                </div>
                            
                            </div>
                        </div> <!--Ends footer starts-->
						
			
                        
                    </div>
                    <!--page 2 ends-->
                    <!--paging-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 briggs-pad-thick briggs-f-thick briggs-cntrl-grp text-center">
                            --- Page 1 of 1 ---
                        </div>
                    </div>
                    <!--paging-->
                </div>
            </div>
        </div>
    </div>
</body>
</html>
