<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />
    <link href="../../../Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../Content/css/main/briggs-main.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../../Content/css/font-awesome/4.4.0/css/font-awesome.min.css" />
    <script src="../../../Scripts/jquery/jquery-3.1.1.min.js"></script>
    <script src="../../../Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="../../../Scripts/match-height/jquery.matchHeight-min.js"></script>
    <script src="../../../Scripts/page/common.js"></script>
    <title>BRIGGS | APPRAISAL/NEEDS AND SERVICES PLAN</title>
</head>
<style>
#icon{

padding-top: 100px;
margin-bottom: 10px;

}
.glyphicon {
font-size: 20px;
margin-top:10px;
}
}
</style>
<body class="test-rows">
    <!--form starts -->
    <div class="container">
        <div id="Page-04" name="pagebreak" description="NEEDS">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t">

                    <!--page 4 starts-->
					
                    <div class=" briggs-no-pad">
					<div class="row briggs-cont-row">
					
					 <div class="col-lg-12 col-sm-12 briggs-no-pad ">
                                <div class="col-lg-6 col-sm-6 col-md-6 briggs-no-pad">
                                    <div class="col-lg-11 col-sm-11 col-md-11">
									
									
									</div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-brd-thin-r">
                                      <p id="icon"><a style="display:none;" href="#" class="glyphicon glyphicon-pencil"></a></p>  
									  </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-md-6">
                                   <div class="col-lg-11 col-sm-11 col-md-11">
									<div class ="col-lg-12 col-sm-12 col-md-12">
									<div class =" col-lg-11 col-sm-11 col-md-11">
									 <div class="col-lg-3 col-sm-3 col-md-3"> 
									
									</div>
									<div class="col-lg-8 col-sm-8 col-md-8">
									<h2>BRAND</h2>
									</div>
									
									</div>
									<div class ="col-lg-1 col-sm-1 col-md-1">
									
									
									</div>						
									
									</div>
									
									</div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-brd-thin-r">
                                     
									  </div>
                                </div>
                            </div>
                           
		                     <div class="col-lg-12 col-sm-12 briggs-no-pad ">
                                <div class="col-lg-6 col-sm-6 col-md-6 briggs-no-pad">
                                    <div class="col-lg-11 col-sm-11 col-md-11">
									<div class ="col-lg-12 col-sm-12 col-md-12">
									<div class =" col-lg-11 col-sm-11 col-md-11">
									 <div class="col-lg-3 col-sm-3 col-md-3"> 
									 <p> <a href="#"><i><span class="glyphicon glyphicon-picture"></span></i></a></p>
                                     <label for="PHONE_PHY">UPLOAD</label>
									</div>
									<div class="col-lg-8 col-sm-8 col-md-8">
									<input class="form-control ng-pristine briggs-mrg-t ng-invalid is-invalid ng-touched" ng-reflect-form="[object Object]" id="companyinfo_3_input_id_0"
                                     placeholder="company name" ng-reflect-field="[object Object]" type="text">
									</div>
									
									</div>
									<div class ="col-lg-1 col-sm-1 col-md-1">
									 <p id="compIcon"><a href="#" class="glyphicon glyphicon-pencil"></a></p>  
									
									
									</div>						
									
									</div>
									
									</div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-brd-thin-r">
                                      <p id="icon"><a style="display:none;" href="#" class="glyphicon glyphicon-pencil"></a></p>  
									  </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-md-3">
								<div class="col-lg-11 col-sm-11 col-md-11">
									<div class ="col-lg-12 col-sm-12 col-md-12">
									<div class =" col-lg-11 col-sm-11 col-md-11">
									 <div class="col-lg-2 col-sm-2 col-md-2"> 
									 <p> <a href="#"><i><span class="glyphicon glyphicon-picture"></span></i></a></p>
                                     <label for="PHONE_PHY">UPLOAD</label>
									</div>
									<div class="col-lg-10 col-sm-10 col-md-10">
									<input class="form-control ng-pristine briggs-mrg-t ng-invalid is-invalid ng-touched" ng-reflect-form="[object Object]" id="companyinfo_3_input_id_0"
                                     placeholder="Brand name" ng-reflect-field="[object Object]" type="text">
									</div>
									
									</div>
									<div class ="col-lg-1 col-sm-1 col-md-1">
									 <p id="compIcon"><a href="#" class="glyphicon glyphicon-pencil"></a></p>  
									</div>						
									
									</div>
									
									</div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 ">
                                      
									  </div>
                                   
                                </div>
                            </div>
							
							
                              <div class="col-lg-12 col-sm-12 briggs-no-pad ">
                                <div class="col-lg-6 col-sm-6 col-md-6 briggs-no-pad">
                                    <div class="col-lg-11 col-sm-11 col-md-11">
									<div class ="col-lg-12 col-sm-12 col-md-12">
									<div class =" col-lg-11 col-sm-11 col-md-11">
									 <div class="col-lg-3 col-sm-3 col-md-3"> 	 
                                     <label for="Email">Email:</label>
									</div>
									<div class="col-lg-8 col-sm-8 col-md-8">
									<input class="form-control ng-pristine  ng-invalid is-invalid ng-touched" ng-reflect-form="[object Object]" id="companyinfo_3_input_id_0"
                                    placeholder="company email" ng-reflect-field="[object Object]" type="text">
									</div>
									
									</div>
									<div class ="col-lg-1 col-sm-1 col-md-1">
									 
									
									
									</div>						
									
									</div>
									
									</div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-brd-thin-r">
                                      <p id="icon"><a style="display:none;" href="#" class="glyphicon glyphicon-pencil"></a></p>  
									  </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-md-3">
                                   
                                </div>
                            </div>
							
							                              <div class="col-lg-12 col-sm-12 briggs-no-pad ">
                                <div class="col-lg-6 col-sm-6 col-md-6 briggs-no-pad">
                                    <div class="col-lg-11 col-sm-11 col-md-11">
									<div class ="col-lg-12 col-sm-12 col-md-12">
									<div class =" col-lg-11 col-sm-11 col-md-11">
									 <div class="col-lg-3 col-sm-3 col-md-3"> 	 
                                     <label for="Email">phone:</label>
									</div>
									<div class="col-lg-8 col-sm-8 col-md-8">
									<input class="form-control ng-pristine  ng-invalid is-invalid ng-touched" ng-reflect-form="[object Object]" id="companyinfo_3_input_id_0"
                                      placeholder="company phone" ng-reflect-field="[object Object]" type="text">
									</div>
									
									</div>
									<div class ="col-lg-1 col-sm-1 col-md-1">
									 
									
									
									</div>						
									
									</div>
									
									</div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-brd-thin-r">
                                      <p id="icon"><a style="display:none;" href="#" class="glyphicon glyphicon-pencil"></a></p>  
									  </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-md-3">
                                   
                                </div>
                            </div>
							
							
							
							
							
							
						
							   <div class="col-lg-12 col-sm-12 briggs-no-pad ">
							    <div class="col-lg-6 col-sm-6 col-md-6 briggs-no-pad briggs-brd-thin-r">
								<div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad">
								
								</div>
								
								<div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
								<label> Locations: </label>
								</div>
								
								<div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad">
								
								</div>
								
								</div>
								  <div class="col-lg-6 col-sm-6 col-md-6">
								  
								  
								  
								  </div>
							   
                            </div>
							
							
							<div class="col-lg-12 col-sm-12 briggs-no-pad ">
                                <div class="col-lg-6 col-sm-6 col-md-6 briggs-no-pad">
                                    <div class="col-lg-11 col-sm-11 col-md-11">
									<div class ="col-lg-12 col-sm-12 col-md-12">
									
									<div class =" col-lg-8 col-sm-8 col-md-8">
                                      
									 <textarea id="FUN_NEED" name="FUN_NEED" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="4" spellcheck="true" ng-model="briggs.FUN_NEED" maxlength="1260"></textarea>
									
									</div>
									<div class ="col-lg-2 col-sm-2 col-md-2">
									 <p><a href="#" class="glyphicon glyphicon-pencil"></a></p>  
									
									
									</div>						
									
									</div>
									
									</div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-brd-thin-r">
                                      <p id="icon"><a style="display:none;" href="#" class="glyphicon glyphicon-pencil"></a></p>  
									  </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-md-6">
                                   
                                </div>
                            </div>
							 <div class="col-lg-12 col-sm-12 briggs-no-pad ">
                                <div class="col-lg-6 col-sm-6 col-md-6 briggs-no-pad">
                                    <div class="col-lg-11 col-sm-11 col-md-11">
									<div class ="col-lg-12 col-sm-12 col-md-12">
									<div class =" col-lg-8 col-sm-8 col-md-8">
									
									 <textarea id="FUN_NEED" name="FUN_NEED" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="4" spellcheck="true" ng-model="briggs.FUN_NEED" maxlength="1260"></textarea>
									
									</div>
									<div class ="col-lg-4 col-sm-4 col-md-4">
									 <p><a href="#" class="glyphicon glyphicon-pencil"></a></p>  
									
									
									</div>						
									
									</div>
									
									</div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-brd-thin-r">
                                      <p id="icon"><a style="display:none;" href="#" class="glyphicon glyphicon-pencil"></a></p>  
									  </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-md-3">
                                   
                                </div>
                            </div>
                        </div>
                       
					

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--form ends -->
</body>
</html>
