<div id="Page-03" name="pagebreak" description="Can patient manage">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t">

                    <!--page 3 starts-->
                    <div class="briggs-content-box briggs-box-square briggs-no-pad">
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-mrg-thin-t col-md-12 ">
                                <div class="briggs-width-25 briggs-col-offs briggs-fl briggs-mrg-thin-t">
                                    b.
                                </div>
                                <div class="briggs-fl briggs-mrg-thin-t">
                                    Can patient manage own treatment/medication/equipment?
                                </div>
                                <div class="briggs-fl briggs-mrg-thick-l">
                                    <div class="radio radio-info briggs-cntrl-grp">
                                        <label for="TEN_MAN_1">
                                            <input type="radio" value="1" id="TEN_MAN_1" name="TEN_MAN" ng-model="briggs.TEN_MAN">
                                            Yes
                                        </label>
                                    </div>
                                </div>
                                <div class="briggs-fl briggs-col-offs">
                                    <div class="radio radio-info briggs-cntrl-grp">
                                        <label for="TEN_MAN_0">
                                            <input type="radio" value="0" id="TEN_MAN_0" name="TEN_MAN" ng-model="briggs.TEN_MAN">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12  col-md-12 briggs-mrg-thin-t">
                                <div class="briggs-width-25 briggs-col-offs briggs-fl">
                                    c.
                                </div>
                                <div class="briggs-fl">
                                    <label class="briggs-f-thin" for="TEN_SUP">If not, what type of medical supervision is needed?</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-brd-thin-b">
                                <input class="form-control briggs-control briggs-mrg-thick-b" id="TEN_SUP" name="TEN_SUP" ng-model="briggs.TEN_SUP" maxlength="120" type="text">
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12  col-md-12 briggs-mrg-thick-t">
                                <div class="briggs-width-25 briggs-fl briggs-mrg-thin-b briggs-f-thick">
                                    11.
                                </div>
                                <div class="briggs-fl  briggs-f-thick">
                                    ALLERGIES:
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12  col-md-12 briggs-mrg-thin-t">
                                <div class="briggs-width-25 briggs-col-offs briggs-fl">
                                    a.
                                </div>
                                <div class="briggs-fl">
                                    <label class="briggs-f-thin" for="ELVN_EQUIP">Treatment/medication (type and dosage)/equipment:</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12">
                                <textarea id="ELVN_EQUIP" name="ELVN_EQUIP" class="form-control briggs-control briggs-mrg-thin-b" cols="12" rows="6" spellcheck="true" ng-model="briggs.ELVN_EQUIP" maxlength="720"></textarea>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="briggs-width-25 briggs-col-offs briggs-fl briggs-mrg-thin-t">
                                    b.
                                </div>
                                <div class="briggs-fl briggs-mrg-thin-t">
                                    Can patient manage own treatment/medication/equipment?
                                </div>
                                <div class="briggs-fl briggs-mrg-thick-l">
                                    <div class="radio radio-info briggs-cntrl-grp">
                                        <label for="ELVN_MAN_1">
                                            <input type="radio" value="1" id="ELVN_MAN_1" name="ELVN_MAN" ng-model="briggs.ELVN_MAN">
                                            Yes
                                        </label>
                                    </div>
                                </div>
                                <div class="briggs-fl briggs-col-offs">
                                    <div class="radio radio-info briggs-cntrl-grp">
                                        <label for="ELVN_MAN_0">
                                            <input type="radio" value="0" id="ELVN_MAN_0" name="ELVN_MAN" ng-model="briggs.ELVN_MAN">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12  col-md-12 briggs-mrg-thin-t">
                                <div class="briggs-width-25 briggs-col-offs briggs-fl">
                                    c.
                                </div>
                                <div class="briggs-fl">
                                    <label class="briggs-f-thin" for="ELVN_SUPER">If not, what type of medical supervision is needed?</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12">
                                <textarea id="ELVN_SUPER" name="ELVN_SUPER" class="form-control briggs-control briggs-mrg-thick-b" cols="12" rows="6" spellcheck="true" ng-model="briggs.ELVN_SUPER" maxlength="720"></textarea>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12  col-md-12 briggs-mrg-thick-t">
                                <div class="briggs-width-25 briggs-fl briggs-mrg-thin-b briggs-f-thick">
                                    12.
                                </div>
                                <div class="briggs-fl  briggs-f-thick">
                                    OTHER CONDITIONS:
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12  col-md-12 briggs-mrg-thin-t">
                                <div class="briggs-width-25 briggs-col-offs briggs-fl">
                                    a.
                                </div>
                                <div class="briggs-fl">
                                    <label class="briggs-f-thin" for="TLV_EQUIP">Treatment/medication (type and dosage)/equipment:</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12">
                                <textarea id="TLV_EQUIP" name="TLV_EQUIP" class="form-control briggs-control briggs-mrg-thin-b" cols="12" rows="6" spellcheck="true" ng-model="briggs.TLV_EQUIP" maxlength="720"></textarea>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="briggs-width-25 briggs-col-offs briggs-fl briggs-mrg-thin-t">
                                    b.
                                </div>
                                <div class="briggs-fl briggs-mrg-thin-t">
                                    Can patient manage own treatment/medication/equipment?
                                </div>
                                <div class="briggs-fl briggs-mrg-thick-l">
                                    <div class="radio radio-info briggs-cntrl-grp">
                                        <label for="TLV_MAN_1">
                                            <input type="radio" value="1" id="TLV_MAN_1" name="TLV_MAN" ng-model="briggs.TLV_MAN">
                                            Yes
                                        </label>
                                    </div>
                                </div>
                                <div class="briggs-fl briggs-col-offs">
                                    <div class="radio radio-info briggs-cntrl-grp">
                                        <label for="TLV_MAN_0">
                                            <input type="radio" value="0" id="TLV_MAN_0" name="TLV_MAN" ng-model="briggs.TLV_MAN">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12  col-md-12 briggs-mrg-thin-t">
                                <div class="briggs-width-25 briggs-col-offs briggs-fl">
                                    c.
                                </div>
                                <div class="briggs-fl">
                                    <label class="briggs-f-thin" for="TLV_SUPER">If not, what type of medical supervision is needed?</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-brd-thin-b">
                                <textarea id="TLV_SUPER" name="TLV_SUPER" class="form-control briggs-control briggs-mrg-thick-b" cols="12" rows="6" spellcheck="true" ng-model="briggs.TLV_SUPER" maxlength="480"></textarea>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad-r">
                                    <div class="briggs-width-25 briggs-fl briggs-mrg-thin-t briggs-f-thick">
                                        13.
                                    </div>
                                    <div class="briggs-fl  briggs-f-thick briggs-mrg-thin-t">
                                        PHYSICAL HEALTH STATUS
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="briggs-mrg-t">YES</div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="briggs-mrg-t">NO</div>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="briggs-cntrl-grp">
                                            ASSISTIVE DEVICE<br>
                                            <span class="briggs-f-thin"> (If applicable)</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 briggs-no-pad item">
                                        <div class="briggs-mrg-t">EXPLAIN</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            a.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Auditory Impairment
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_A_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_A_1" name="THTN_YN_A" ng-model="briggs.THTN_YN_A">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_A_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_A_0" name="THTN_YN_A" ng-model="briggs.THTN_YN_A">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 briggs-brd-thin-r item">
                                        <textarea id="THTN_AD_A" name="THTN_AD_A" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_AD_A" maxlength="50"></textarea>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 item">
                                        <textarea id="THTN_EXP_A" name="THTN_EXP_A" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_A" maxlength="80"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            b.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Visual Impairment
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_B_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_B_1" name="THTN_YN_B" ng-model="briggs.THTN_YN_B">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_B_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_B_0" name="THTN_YN_B" ng-model="briggs.THTN_YN_B">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 briggs-brd-thin-r item">
                                        <textarea id="THTN_AD_B" name="THTN_AD_B" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_AD_B" maxlength="50"></textarea>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 item">
                                        <textarea id="THTN_EXP_B" name="THTN_EXP_B" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_B" maxlength="80"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            c.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Wears Dentures
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_C_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_C_1" name="THTN_YN_C" ng-model="briggs.THTN_YN_C">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_C_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_C_0" name="THTN_YN_C" ng-model="briggs.THTN_YN_C">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 briggs-brd-thin-r item">
                                        <textarea id="THTN_AD_C" name="THTN_AD_C" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_AD_C" maxlength="50"></textarea>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 item">
                                        <textarea id="THTN_EXP_C" name="THTN_EXP_C" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_C" maxlength="80"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            d.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Wears Prosthesis
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_D_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_D_1" name="THTN_YN_D" ng-model="briggs.THTN_YN_D">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_D_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_D_0" name="THTN_YN_D" ng-model="briggs.THTN_YN_D">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 briggs-brd-thin-r item">
                                        <textarea id="THTN_AD_D" name="THTN_AD_D" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_AD_D" maxlength="50"></textarea>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 item">
                                        <textarea id="THTN_EXP_D" name="THTN_EXP_D" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_D" maxlength="80"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            e.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Special Diet
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_E_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_E_1" name="THTN_YN_E" ng-model="briggs.THTN_YN_E">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_E_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_E_0" name="THTN_YN_E" ng-model="briggs.THTN_YN_E">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 briggs-brd-thin-r item">
                                        <textarea id="THTN_AD_E" name="THTN_AD_E" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_AD_E" maxlength="50"></textarea>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 item">
                                        <textarea id="THTN_EXP_E" name="THTN_EXP_E" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_E" maxlength="80"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            f.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Substance Abuse Problem
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_F_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_F_1" name="THTN_YN_F" ng-model="briggs.THTN_YN_F">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_F_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_F_0" name="THTN_YN_F" ng-model="briggs.THTN_YN_F">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 briggs-brd-thin-r item">
                                        <textarea id="THTN_AD_F" name="THTN_AD_F" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_AD_F" maxlength="50"></textarea>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 item">
                                        <textarea id="THTN_EXP_F" name="THTN_EXP_F" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_F" maxlength="80"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            g.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Use of Alcohol
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_G_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_G_1" name="THTN_YN_G" ng-model="briggs.THTN_YN_G">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_G_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_G_0" name="THTN_YN_G" ng-model="briggs.THTN_YN_G">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 briggs-brd-thin-r item">
                                        <textarea id="THTN_AD_G" name="THTN_AD_G" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_AD_G" maxlength="50"></textarea>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 item">
                                        <textarea id="THTN_EXP_G" name="THTN_EXP_G" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_G" maxlength="80"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            h.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Use of Cigarettes
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_H_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_H_1" name="THTN_YN_H" ng-model="briggs.THTN_YN_H">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_H_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_H_0" name="THTN_YN_H" ng-model="briggs.THTN_YN_H">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 briggs-brd-thin-r item">
                                        <textarea id="THTN_AD_H" name="THTN_AD_H" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_AD_H" maxlength="50"></textarea>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 item">
                                        <textarea id="THTN_EXP_H" name="THTN_EXP_H" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_H" maxlength="80"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--page 3 ends-->
                    <!--paging-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 briggs-pad-thick briggs-f-thick briggs-cntrl-grp text-center">
                            --- Page 3 of 7 ---
                        </div>
                    </div>
                    <!--paging-->
                </div>
            </div>
        </div>