<div id="Page-02" name="pagebreak" description="Mental Condition">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t">
                   
                    <!--page 1 starts-->
                    <div class="briggs-content-box briggs-box-square briggs-no-pad">
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b briggs-sm-f-12 briggs-md-f-14 briggs-sec-hdr-gray briggs-header-txt items-container">
                                <div class="col-lg-5 col-sm-5 col-md-5 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="briggs-cntrl-grp">
                                        Physical Health Status /<br>
                                        Mental Condition
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="briggs-cntrl-grp briggs-mrg-t">
                                        Yes
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="briggs-cntrl-grp briggs-mrg-t">
                                        No
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad  briggs-brd-thin-r item">
                                    <div class="briggs-cntrl-grp briggs-mrg-t">
                                        Unknown
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad item">
                                    <div class="briggs-cntrl-grp briggs-mrg-t">
                                        Explain
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b items-container">
                                <div class="col-lg-5 col-sm-5 col-md-5 briggs-no-pad-r briggs-brd-thin-r item">
                                    <div class="briggs-cntrl-grp briggs-mrg-thick-b briggs-mrg-thick-t">
                                        Motor impairment/paralysis
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="radio radio-info text-center briggs-cntrl-grp briggs-mrg-thick-t">
                                        <label for="MOT_IMP_1">
                                            <input type="radio" id="MOT_IMP_1" name="MOT_IMP" value="1" ng-model="briggs.MOT_IMP">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="radio radio-info text-center briggs-cntrl-grp briggs-mrg-thick-t">
                                        <label for="MOT_IMP_0">
                                            <input type="radio" id="MOT_IMP_0" name="MOT_IMP" value="0" ng-model="briggs.MOT_IMP">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="radio radio-info text-center briggs-cntrl-grp briggs-mrg-thick-t">
                                        <label for="MOT_IMP_255">
                                            <input type="radio" id="MOT_IMP_255" name="MOT_IMP" value="255" ng-model="briggs.MOT_IMP">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad briggs-pad-thin-lr item">
                                    <input id="MOT_EXP" name="MOT_EXP" class="form-control briggs-control briggs-mrg-thick-b briggs-mrg-thick-t" ng-model="briggs.MOT_EXP" maxlength="45" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b items-container">
                                <div class="col-lg-5 col-sm-5 col-md-5 briggs-no-pad-r briggs-brd-thin-r item">
                                    <div class="briggs-cntrl-grp briggs-mrg-thick-b briggs-mrg-thick-t">
                                        Seizure disorder
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="radio radio-info text-center briggs-cntrl-grp briggs-mrg-thick-t">
                                        <label for="SEI_DIS_1">
                                            <input type="radio" id="SEI_DIS_1" name="SEI_DIS" value="1" ng-model="briggs.SEI_DIS">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="radio radio-info text-center briggs-cntrl-grp briggs-mrg-thick-t">
                                        <label for="SEI_DIS_0">
                                            <input type="radio" id="SEI_DIS_0" name="SEI_DIS" value="0" ng-model="briggs.SEI_DIS">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="radio radio-info text-center briggs-cntrl-grp briggs-mrg-thick-t">
                                        <label for="SEI_DIS_255">
                                            <input type="radio" id="SEI_DIS_255" name="SEI_DIS" value="255" ng-model="briggs.SEI_DIS">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad-r item">
                                    <div class="briggs-fl briggs-cntrl-grp briggs-mrg-thick-t">
                                        Controlled with meds?
                                    </div>
                                    <div class="briggs-fl briggs-mrg-l">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-thick-t">
                                            <label for="SEI_MED_1">
                                                <input type="radio" id="SEI_MED_1" name="SEI_MED" value="1" ng-model="briggs.SEI_MED">
                                                Yes
                                            </label>
                                        </div>
                                    </div>
                                    <div class="briggs-fl briggs-col-offs">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-thick-t">
                                            <label for="SEI_MED_0">
                                                <input type="radio" id="SEI_MED_0" name="SEI_MED" value="0" ng-model="briggs.SEI_MED">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b items-container">
                                <div class="col-lg-5 col-sm-5 col-md-5 briggs-no-pad-r briggs-brd-thin-r item">
                                    <div class="briggs-cntrl-grp briggs-mrg-thick-b briggs-mrg-thick-t">
                                        Special diet
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="radio radio-info text-center briggs-cntrl-grp briggs-mrg-thick-t">
                                        <label for="SPE_DIET_1">
                                            <input type="radio" id="SPE_DIET_1" name="SPE_DIET" value="1" ng-model="briggs.SPE_DIET">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="radio radio-info text-center briggs-cntrl-grp briggs-mrg-thick-t">
                                        <label for="SPE_DIET_0">
                                            <input type="radio" id="SPE_DIET_0" name="SPE_DIET" value="0" ng-model="briggs.SPE_DIET">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="radio radio-info text-center briggs-cntrl-grp briggs-mrg-thick-t">
                                        <label for="SPE_DIET_255">
                                            <input type="radio" id="SPE_DIET_255" name="SPE_DIET" value="255" ng-model="briggs.SPE_DIET">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad briggs-pad-thin-lr item">
                                    <input id="SPE_EXP" name="SPE_EXP" class="form-control briggs-control briggs-mrg-thick-b briggs-mrg-thick-t" ng-model="briggs.SPE_EXP" maxlength="45" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b items-container">
                                <div class="col-lg-5 col-sm-5 col-md-5 briggs-no-pad-r briggs-brd-thin-r item">
                                    <div class="briggs-cntrl-grp briggs-mrg-thick-b briggs-mrg-thick-t">
                                        Substance abuse issues
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="radio radio-info text-center briggs-cntrl-grp briggs-mrg-thick-t">
                                        <label for="SUB_ISS_1">
                                            <input type="radio" id="SUB_ISS_1" name="SUB_ISS" value="1" ng-model="briggs.SUB_ISS">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="radio radio-info text-center briggs-cntrl-grp briggs-mrg-thick-t">
                                        <label for="SUB_ISS_0">
                                            <input type="radio" id="SUB_ISS_0" name="SUB_ISS" value="0" ng-model="briggs.SUB_ISS">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="radio radio-info text-center briggs-cntrl-grp briggs-mrg-thick-t">
                                        <label for="SUB_ISS_255">
                                            <input type="radio" id="SUB_ISS_255" name="SUB_ISS" value="255" ng-model="briggs.SUB_ISS">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad briggs-pad-thin-lr item">
                                    <input id="SUB_EXP" name="SUB_EXP" class="form-control briggs-control briggs-mrg-thick-b briggs-mrg-thick-t" ng-model="briggs.SUB_EXP" maxlength="45" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b items-container">
                                <div class="col-lg-5 col-sm-5 col-md-5 briggs-no-pad-r briggs-brd-thin-r item">
                                    <div class="briggs-cntrl-grp briggs-mrg-thick-b briggs-mrg-thick-t">
                                        Suicidal/self-abuse
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="radio radio-info text-center briggs-cntrl-grp briggs-mrg-thick-t">
                                        <label for="SUI_SELF_1">
                                            <input type="radio" id="SUI_SELF_1" name="SUI_SELF" value="1" ng-model="briggs.SUI_SELF">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="radio radio-info text-center briggs-cntrl-grp briggs-mrg-thick-t">
                                        <label for="SUI_SELF_0">
                                            <input type="radio" id="SUI_SELF_0" name="SUI_SELF" value="0" ng-model="briggs.SUI_SELF">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="radio radio-info text-center briggs-cntrl-grp briggs-mrg-thick-t">
                                        <label for="SUI_SELF_255">
                                            <input type="radio" id="SUI_SELF_255" name="SUI_SELF" value="255" ng-model="briggs.SUI_SELF">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad item">
                                    <div class="col-lg-4 col-sm-5 col-md-4 briggs-no-pad-r briggs-cntrl-grp briggs-mrg-thick-t">
                                        If yes, when?
                                    </div>
                                    <div class="col-lg-8 col-sm-7 col-md-8 briggs-no-pad-l briggs-pad-thin-r">
                                        <input id="SUI_WHEN" name="SUI_WHEN" class="form-control briggs-control briggs-mrg-thick-b briggs-mrg-thick-t" ng-model="briggs.SUI_WHEN" maxlength="30" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-score-sec">

                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b briggs-brd-thin-t briggs-sec-hdr-gray briggs-header-txt items-container">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="briggs-cntrl-grp">
                                        Medications -<br>
                                        including OTC (please print)
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="briggs-cntrl-grp briggs-mrg-t">
                                        Dosage
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="briggs-cntrl-grp briggs-mrg-t">
                                        Route
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad  briggs-brd-thin-r item">
                                    <div class="briggs-cntrl-grp briggs-mrg-t">
                                        Frequency
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad item">
                                    <div class="briggs-cntrl-grp briggs-mrg-t">
                                        Reason
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="MED_A" name="MED_A" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.MED_A" maxlength="40" type="text">
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="DOES_A" name="DOES_A" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.DOES_A" briggs-medication-dose="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="RTE_A" name="RTE_A" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.RTE_A" briggs-medication-route="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="FRQ_A" name="FRQ_A" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.FRQ_A" briggs-medication-frequency="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad briggs-pad-thin-lr">
                                    <input id="REA_A" name="REA_A" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.REA_A" maxlength="40" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="MED_B" name="MED_B" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.MED_B" maxlength="40" type="text">
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="DOES_B" name="DOES_B" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.DOES_B" briggs-medication-dose="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="RTE_B" name="RTE_B" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.RTE_B" briggs-medication-route="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="FRQ_B" name="FRQ_B" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.FRQ_B" briggs-medication-frequency="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad briggs-pad-thin-lr">
                                    <input id="REA_B" name="REA_B" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.REA_B" maxlength="40" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="MED_C" name="MED_C" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.MED_C" maxlength="40" type="text">
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="DOES_C" name="DOES_C" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.DOES_C" briggs-medication-dose="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="RTE_C" name="RTE_C" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.RTE_C" briggs-medication-route="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="FRQ_C" name="FRQ_C" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.FRQ_C" briggs-medication-frequency="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad briggs-pad-thin-lr">
                                    <input id="REA_C" name="REA_C" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.REA_C" maxlength="40" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="MED_D" name="MED_D" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.MED_D" maxlength="40" type="text">
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="DOES_D" name="DOES_D" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.DOES_D" briggs-medication-dose="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="RTE_D" name="RTE_D" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.RTE_D" briggs-medication-route="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="FRQ_D" name="FRQ_D" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.FRQ_D" briggs-medication-frequency="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad briggs-pad-thin-lr">
                                    <input id="REA_D" name="REA_D" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.REA_D" maxlength="40" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="MED_E" name="MED_E" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.MED_E" maxlength="40" type="text">
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="DOES_E" name="DOES_E" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.DOES_E" briggs-medication-dose="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="RTE_E" name="RTE_E" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.RTE_E" briggs-medication-route="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="FRQ_E" name="FRQ_E" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.FRQ_E" briggs-medication-frequency="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad briggs-pad-thin-lr">
                                    <input id="REA_E" name="REA_E" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.REA_E" maxlength="40" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="MED_F" name="MED_F" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.MED_F" maxlength="40" type="text">
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="DOES_F" name="DOES_F" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.DOES_F" briggs-medication-dose="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="RTE_F" name="RTE_F" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.RTE_F" briggs-medication-route="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="FRQ_F" name="FRQ_F" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.FRQ_F" briggs-medication-frequency="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad briggs-pad-thin-lr">
                                    <input id="REA_F" name="REA_F" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.REA_F" maxlength="40" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="MED_G" name="MED_G" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.MED_G" maxlength="40" type="text">
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="DOES_G" name="DOES_G" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.DOES_G" briggs-medication-dose="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="RTE_G" name="RTE_G" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.RTE_G" briggs-medication-route="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="FRQ_G" name="FRQ_G" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.FRQ_G" briggs-medication-frequency="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad briggs-pad-thin-lr">
                                    <input id="REA_G" name="REA_G" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.REA_G" maxlength="40" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-score-sec">

                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b briggs-brd-thin-t briggs-sec-hdr-gray briggs-header-txt items-container">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="briggs-cntrl-grp">
                                        PRN Medications<br>
                                        (please print)
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="briggs-cntrl-grp briggs-mrg-t">
                                        Dosage
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-brd-thin-r item">
                                    <div class="briggs-cntrl-grp briggs-mrg-t">
                                        Route
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad  briggs-brd-thin-r item">
                                    <div class="briggs-cntrl-grp briggs-mrg-t">
                                        Frequency
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad item">
                                    <div class="briggs-cntrl-grp briggs-mrg-t">
                                        Reason
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="MED_H" name="MED_H" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.MED_H" maxlength="40" type="text">
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="DOES_H" name="DOES_H" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.DOES_H" briggs-medication-dose="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="RTE_H" name="RTE_H" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.RTE_H" briggs-medication-route="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="FRQ_H" name="FRQ_H" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.FRQ_H" briggs-medication-frequency="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad briggs-pad-thin-lr">
                                    <input id="REA_H" name="REA_H" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.REA_H" maxlength="40" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="MED_I" name="MED_I" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.MED_I" maxlength="40" type="text">
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="DOES_I" name="DOES_I" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.DOES_I" briggs-medication-dose="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="RTE_I" name="RTE_I" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.RTE_I" briggs-medication-route="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="FRQ_I" name="FRQ_I" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.FRQ_I" briggs-medication-frequency="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad briggs-pad-thin-lr">
                                    <input id="REA_I" name="REA_I" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.REA_I" maxlength="40" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="MED_J" name="MED_J" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.MED_J" maxlength="40" type="text">
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="DOES_J" name="DOES_J" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.DOES_J" briggs-medication-dose="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="RTE_J" name="RTE_J" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.RTE_J" briggs-medication-route="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="FRQ_J" name="FRQ_J" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.FRQ_J" briggs-medication-frequency="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad briggs-pad-thin-lr">
                                    <input id="REA_J" name="REA_J" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.REA_J" maxlength="40" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="MED_K" name="MED_K" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.MED_K" maxlength="40" type="text">
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="DOES_K" name="DOES_K" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.DOES_K" briggs-medication-dose="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="RTE_K" name="RTE_K" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.RTE_K" briggs-medication-route="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="FRQ_K" name="FRQ_K" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.FRQ_K" briggs-medication-frequency="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad briggs-pad-thin-lr">
                                    <input id="REA_K" name="REA_K" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.REA_K" maxlength="40" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="MED_L" name="MED_L" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.MED_L" maxlength="40" type="text">
                                </div>
                                <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="DOES_L" name="DOES_L" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.DOES_L" briggs-medication-dose="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="RTE_L" name="RTE_L" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.RTE_L" briggs-medication-route="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-no-pad briggs-pad-thin-lr briggs-brd-thin-r">
                                    <input id="FRQ_L" name="FRQ_L" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.FRQ_L" briggs-medication-frequency="" maxlength="10" type="text">
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-3 briggs-no-pad briggs-pad-thin-lr">
                                    <input id="REA_L" name="REA_L" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" ng-model="briggs.REA_L" maxlength="40" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-thick-t briggs-cntrl-grp briggs-f-thick">
                                <em>**A signed/dated medication sheet may be attached if more space is needed.</em>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-cntrl-grp briggs-f-thick">
                                <em>**Please note any medications that require immediate physician notification if the resident refuses a dose.</em>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-mrg-thin-t">
                                <label for="CUR_IMM" class="briggs-f-thin">Please list (or attach list of) current immunizations:</label>
                                <textarea id="CUR_IMM" name="CUR_IMM" class="form-control briggs-control briggs-mrg-thin-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.CUR_IMM" maxlength="360"></textarea>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-cntrl-grp">
                                <div class="col-lg-3 col-sm-4 col-md-3 briggs-no-pad-r">
                                    <label for="REC_HOS" class="briggs-f-thin">Recent Hospitalizations/Surgeries:</label>
                                </div>
                                <div class="col-lg-9 col-sm-8 col-md-9 briggs-no-pad-l">
                                    <input class="form-control briggs-control" id="REC_HOS" name="REC_HOS" ng-model="briggs.REC_HOS" maxlength="80" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-cntrl-grp">
                                <div class="col-lg-4 col-sm-6 col-md-4 briggs-no-pad-r">
                                    <label for="LENGTH" class="briggs-f-thin">Length of time individual has been your patient:</label>
                                </div>
                                <div class="col-lg-8 col-sm-6 col-md-8 briggs-no-pad-l">
                                    <input class="form-control briggs-control" id="LENGTH" name="LENGTH" ng-model="briggs.LENGTH" maxlength="70" type="text">
                                </div>
                            </div>
                        </div>
                        <!-- signature region -->
                        <div class="row briggs-cont-row" name="signature_row" id="signature_row">
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-mrg-thick-b">
                                <div class="col-lg-10 col-sm-9 col-md-10 briggs-no-pad">
                                    <div name="signature_container" id="signature_container">
                                        <div class="col-lg-12 col-sm-12 col-md-12 ">
                                            <textarea class="form-control briggs-control briggs-mrg-thick-t" id="SIGN_B" name="SIGN_B" rows="3" cols="12" spellcheck="true" briggs-signature="" ng-model="briggs.SIGN_B" maxlength="65"></textarea>
                                        </div>
                                        <div class="col-lg-12  col-sm-12">
                                            Physician/PA/NP Signature
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2  col-sm-3 col-md-2 briggs-no-pad  briggs-cntrl-grp">
                                    <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad-l">
                                        <input class="form-control briggs-control briggs-date-control" id="DATE_SIGN_B" name="DATE_SIGN_B" ng-model="briggs.DATE_SIGN_B" maxlength="10" type="date">
                                    </div>
                                    <div class="col-lg-12  col-sm-12 briggs-no-pad">
                                        Date Signed
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end of signature region-->
                    </div>
                    <!--page 1 ends-->
                    <!--paging-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 briggs-pad-thick briggs-f-thick briggs-cntrl-grp text-center">
                            --- Page 2 of 3 ---
                        </div>
                    </div>
                    <!--paging-->
                </div>
            </div>
        </div>