<!DOCTYPE html>
<html lang="en">
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />
    <link href="../../../Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../Content/css/main/briggs-main.css" rel="stylesheet" />
    <script src="../../../Scripts/jquery/jquery-3.1.1.min.js"></script>
    <script src="../../../Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="../../../Scripts/match-height/jquery.matchHeight-min.js"></script>
    <script src="../../../Scripts/page/common.js"></script>
    <title>BRIGGS | PHYSICIAN'S REPORT FOR RESIDENTIAL CARE FACILITIES FOR THE ELDERLY (RCFE)</title>
</head>
<body class="test-rows">
    <!--form starts -->
    <div class="container">
        <div id="Page-04" name="pagebreak" description="Bowel Impairment">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t">

                    <!--page 4 starts-->
                    <div class="briggs-content-box briggs-box-square briggs-no-pad">
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                           <p> <a><i><span class="glyphicon glyphicon-picture"></span></i></a></p>
                                         <label for="PHONE_PHY">UPLOAD</label>
                                        </div>
										 <div class="col-lg-3 col-sm-2 briggs-no-pad briggs-mrg-t">
                                            
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Bowel Impairment
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_I_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_I_1" name="THTN_YN_I" ng-model="briggs.THTN_YN_I">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_I_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_I_0" name="THTN_YN_I" ng-model="briggs.THTN_YN_I">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 briggs-brd-thin-r item">
                                        <textarea id="THTN_AD_I" name="THTN_AD_I" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_AD_I" maxlength="50"></textarea>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 item">
                                        <textarea id="THTN_EXP_I" name="THTN_EXP_I" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_I" maxlength="80"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            j.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Bladder Impairment
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_J_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_J_1" name="THTN_YN_J" ng-model="briggs.THTN_YN_J">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_J_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_J_0" name="THTN_YN_J" ng-model="briggs.THTN_YN_J">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 briggs-brd-thin-r item">
                                        <textarea id="THTN_AD_J" name="THTN_AD_J" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_AD_J" maxlength="50"></textarea>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 item">
                                        <textarea id="THTN_EXP_J" name="THTN_EXP_J" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_J" maxlength="80"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            k.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Motor Impairment/Paralysis
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_K_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_K_1" name="THTN_YN_K" ng-model="briggs.THTN_YN_K">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_K_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_K_0" name="THTN_YN_K" ng-model="briggs.THTN_YN_K">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 briggs-brd-thin-r item">
                                        <textarea id="THTN_AD_K" name="THTN_AD_K" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_AD_K" maxlength="50"></textarea>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 item">
                                        <textarea id="THTN_EXP_K" name="THTN_EXP_K" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_K" maxlength="80"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            l.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Requires Continuous
                                            Bed Care
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_L_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_L_1" name="THTN_YN_L" ng-model="briggs.THTN_YN_L">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_L_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_L_0" name="THTN_YN_L" ng-model="briggs.THTN_YN_L">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 briggs-brd-thin-r item">
                                        <textarea id="THTN_AD_L" name="THTN_AD_L" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_AD_L" maxlength="50"></textarea>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 item">
                                        <textarea id="THTN_EXP_L" name="THTN_EXP_L" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_L" maxlength="80"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            m.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            History of Skin Conditionor Breakdown
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_M_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_M_1" name="THTN_YN_M" ng-model="briggs.THTN_YN_M">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_M_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_M_0" name="THTN_YN_M" ng-model="briggs.THTN_YN_M">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 briggs-brd-thin-r item">
                                        <textarea id="THTN_AD_M" name="THTN_AD_M" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_AD_M" maxlength="50"></textarea>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 item">
                                        <textarea id="THTN_EXP_M" name="THTN_EXP_M" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_M" maxlength="80"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad-r">
                                    <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t briggs-f-thick">
                                        14.
                                    </div>
                                    <div class="briggs-fl  briggs-f-thick briggs-mrg-thick-t">
                                        MENTAL CONDITION
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="briggs-mrg-thick-t briggs-mrg-thick-b">YES</div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="briggs-mrg-thick-t briggs-mrg-thick-b">NO</div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 briggs-no-pad item">
                                        <div class="briggs-mrg-thick-t briggs-mrg-thick-b">EXPLAIN</div>
                                    </div>                                   
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            a.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Confused/Disoriented
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_N_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_N_1" name="THTN_YN_N" ng-model="briggs.THTN_YN_N">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_N_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_N_0" name="THTN_YN_N" ng-model="briggs.THTN_YN_N">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_N" name="THTN_EXP_N" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_N" maxlength="120"></textarea>
                                    </div>                                   
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            b.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Inappropriate Behavior
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_O_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_O_1" name="THTN_YN_O" ng-model="briggs.THTN_YN_O">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_O_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_O_0" name="THTN_YN_O" ng-model="briggs.THTN_YN_O">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_O" name="THTN_EXP_O" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_O" maxlength="120"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            c.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Aggressive Behavior
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_P_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_P_1" name="THTN_YN_P" ng-model="briggs.THTN_YN_P">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_P_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_P_0" name="THTN_YN_P" ng-model="briggs.THTN_YN_P">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_P" name="THTN_EXP_P" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_P" maxlength="120"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            d.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Wandering Behavior
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_Q_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_Q_1" name="THTN_YN_Q" ng-model="briggs.THTN_YN_Q">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_Q_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_Q_0" name="THTN_YN_Q" ng-model="briggs.THTN_YN_Q">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_Q" name="THTN_EXP_Q" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_Q" maxlength="120"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            e.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Sundowning Behavior
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_R_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_R_1" name="THTN_YN_R" ng-model="briggs.THTN_YN_R">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_R_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_R_0" name="THTN_YN_R" ng-model="briggs.THTN_YN_R">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_R" name="THTN_EXP_R" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_R" maxlength="120"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            f.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Able to Follow Instructions
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_S_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_S_1" name="THTN_YN_S" ng-model="briggs.THTN_YN_S">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_S_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_S_0" name="THTN_YN_S" ng-model="briggs.THTN_YN_S">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_S" name="THTN_EXP_S" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_S" maxlength="120"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            g.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Depressed
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_T_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_T_1" name="THTN_YN_T" ng-model="briggs.THTN_YN_T">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_T_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_T_0" name="THTN_YN_T" ng-model="briggs.THTN_YN_T">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_T" name="THTN_EXP_T" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_T" maxlength="120"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            h.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Suicidal/Self-Abuse
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_U_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_U_1" name="THTN_YN_U" ng-model="briggs.THTN_YN_U">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_U_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_U_0" name="THTN_YN_U" ng-model="briggs.THTN_YN_U">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_U" name="THTN_EXP_U" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_U" maxlength="120"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            i.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Able to Communicate Needs
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_V_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_V_1" name="THTN_YN_V" ng-model="briggs.THTN_YN_V">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_V_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_V_0" name="THTN_YN_V" ng-model="briggs.THTN_YN_V">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_V" name="THTN_EXP_V" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_V" maxlength="120"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad briggs-mrg-thin-t">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            j.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            At Risk if Allowed Direct
                                            Access to Personal
                                            Grooming and Hygiene Items
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-mrg-t">
                                            <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                                <label for="THTN_YN_W_1" class="briggs-mrg-t">
                                                    <input type="radio" value="1" id="THTN_YN_W_1" name="THTN_YN_W" ng-model="briggs.THTN_YN_W">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-mrg-t">
                                            <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                                <label for="THTN_YN_W_0" class="briggs-mrg-t">
                                                    <input type="radio" value="0" id="THTN_YN_W_0" name="THTN_YN_W" ng-model="briggs.THTN_YN_W">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_W" name="THTN_EXP_W" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="5" spellcheck="true" ng-model="briggs.THTN_EXP_W" maxlength="120"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            k.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Able to Leave Facility Unassisted
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_X_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_X_1" name="THTN_YN_X" ng-model="briggs.THTN_YN_X">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_X_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_X_0" name="THTN_YN_X" ng-model="briggs.THTN_YN_X">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_X" name="THTN_EXP_X" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_X" maxlength="120"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad-r">
                                    <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t briggs-f-thick">
                                        15.
                                    </div>
                                    <div class="briggs-fl  briggs-f-thick briggs-mrg-thick-t">
                                        CAPACITY FOR SELF-CARE
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="briggs-mrg-thick-t briggs-mrg-thick-b">YES</div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="briggs-mrg-thick-t briggs-mrg-thick-b">NO</div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 briggs-no-pad item">
                                        <div class="briggs-mrg-thick-t briggs-mrg-thick-b">EXPLAIN</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            a.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Able to Bathe Self
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_Y_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_Y_1" name="THTN_YN_Y" ng-model="briggs.THTN_YN_Y">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_Y_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_Y_0" name="THTN_YN_Y" ng-model="briggs.THTN_YN_Y">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_Y" name="THTN_EXP_Y" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_Y" maxlength="120"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            b.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Able to Dress/Groom Self
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_Z_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_Z_1" name="THTN_YN_Z" ng-model="briggs.THTN_YN_Z">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_Z_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_Z_0" name="THTN_YN_Z" ng-model="briggs.THTN_YN_Z">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_Z" name="THTN_EXP_Z" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_Z" maxlength="120"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            c.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 briggs-no-pad briggs-mrg-t">
                                            Able to Feed Self
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_ZA_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_ZA_1" name="THTN_YN_ZA" ng-model="briggs.THTN_YN_ZA">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_ZA_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_ZA_0" name="THTN_YN_ZA" ng-model="briggs.THTN_YN_ZA">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_ZA" name="THTN_EXP_ZA" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_ZA" maxlength="120"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--page 4 ends-->
                    <!--paging-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 briggs-pad-thick briggs-f-thick briggs-cntrl-grp text-center">
                            --- Page 4 of 7 ---
                        </div>
                    </div>
                    <!--paging-->
                </div>
            </div>
        </div>
    </div>
    <!--form ends -->
</body>
</html>
