<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />
    <link href="../../../Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../Content/css/main/briggs-main.css" rel="stylesheet" />
    <script src="../../../Scripts/jquery/jquery-3.1.1.min.js"></script>
    <script src="../../../Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="../../../Scripts/match-height/jquery.matchHeight-min.js"></script>
    <script src="../../../Scripts/page/common.js"></script>
    <title>BRIGGS | PHYSICIAN'S REPORT FOR RESIDENTIAL CARE FACILITIES FOR THE ELDERLY (RCFE)</title>
</head>
<body class="test-rows">
    <!--form starts -->
    <div class="container">
        <div id="Page-05" name="pagebreak" description="Able to Care for Own">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t">


                    <!--page 5 starts-->
                    <div class="briggs-content-box briggs-box-square briggs-no-pad">
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            d.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 col-md-10 briggs-no-pad briggs-mrg-t">
                                            Able to Care for Own Toileting Needs
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_ZB_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_ZB_1" name="THTN_YN_ZB" ng-model="briggs.THTN_YN_ZB">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_ZB_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_ZB_0" name="THTN_YN_ZB" ng-model="briggs.THTN_YN_ZB">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_ZB" name="THTN_EXP_ZB" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_ZB" maxlength="180"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            e.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 col-md-10 briggs-no-pad briggs-mrg-t">
                                            Able to Manage Own Cash Resources
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_ZC_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_ZC_1" name="THTN_YN_ZC" ng-model="briggs.THTN_YN_ZC">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_ZC_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_ZC_0" name="THTN_YN_ZC" ng-model="briggs.THTN_YN_ZC">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_ZC" name="THTN_EXP_ZC" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_ZC" maxlength="180"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad-r">
                                    <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t briggs-f-thick">
                                        16.
                                    </div>
                                    <div class="briggs-fl  briggs-f-thick briggs-mrg-thick-t">
                                        MEDICATION MANAGEMENT
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="briggs-mrg-thick-t briggs-mrg-thick-b">YES</div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="briggs-mrg-thick-t briggs-mrg-thick-b">NO</div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 briggs-no-pad item">
                                        <div class="briggs-mrg-thick-t briggs-mrg-thick-b">EXPLAIN</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-pad-thin-tb">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-thick-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-thick-t">
                                            a.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 col-md-10 briggs-no-pad briggs-mrg-thick-t">
                                            Able to Administer Own
                                            Prescription Medications
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_ZD_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_ZD_1" name="THTN_YN_ZD" ng-model="briggs.THTN_YN_ZD">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_ZD_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_ZD_0" name="THTN_YN_ZD" ng-model="briggs.THTN_YN_ZD">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_ZD" name="THTN_EXP_ZD" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_ZD" maxlength="180"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            b.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 col-md-10 briggs-no-pad briggs-mrg-t">
                                            Able to Administer Own Injections
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_ZE_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_ZE_1" name="THTN_YN_ZE" ng-model="briggs.THTN_YN_ZE">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_ZE_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_ZE_0" name="THTN_YN_ZE" ng-model="briggs.THTN_YN_ZE">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_ZE" name="THTN_EXP_ZE" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_ZE" maxlength="180"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            c.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 col-md-10 briggs-no-pad briggs-mrg-t">
                                            Able to Perform Own Glucose Testing
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_ZF_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_ZF_1" name="THTN_YN_ZF" ng-model="briggs.THTN_YN_ZF">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_ZF_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_ZF_0" name="THTN_YN_ZF" ng-model="briggs.THTN_YN_ZF">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_ZF" name="THTN_EXP_ZF" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_ZF" maxlength="180"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            d.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 col-md-10 briggs-no-pad briggs-mrg-t">
                                            Able to Administer Own PRN Medications
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_ZG_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_ZG_1" name="THTN_YN_ZG" ng-model="briggs.THTN_YN_ZG">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_ZG_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_ZG_0" name="THTN_YN_ZG" ng-model="briggs.THTN_YN_ZG">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_ZG" name="THTN_EXP_ZG" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_ZG" maxlength="180"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            e.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 col-md-10 briggs-no-pad briggs-mrg-t">
                                            Able to Administer Own Oxygen
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_ZH_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_ZH_1" name="THTN_YN_ZH" ng-model="briggs.THTN_YN_ZH">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_ZH_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_ZH_0" name="THTN_YN_ZH" ng-model="briggs.THTN_YN_ZH">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_ZH" name="THTN_EXP_ZH" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_ZH" maxlength="180"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-4 col-sm-4 col-md-4 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-t">
                                        <div class="briggs-width-25 briggs-fl briggs-col-offs briggs-mrg-t">
                                            f.
                                        </div>
                                        <div class="col-lg-10 col-sm-9 col-md-10 briggs-no-pad briggs-mrg-t">
                                            Able to Store Own Medications
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-8 col-md-8 briggs-no-pad briggs-header-txt briggs-brd-thin-l items-container">
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r text-center item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_ZI_1" class="briggs-mrg-t">
                                                <input type="radio" value="1" id="THTN_YN_ZI_1" name="THTN_YN_ZI" ng-model="briggs.THTN_YN_ZI">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-sm-1 col-md-1 briggs-no-pad briggs-brd-thin-r item">
                                        <div class="radio radio-info briggs-cntrl-grp briggs-mrg-t briggs-mrg-thin-l">
                                            <label for="THTN_YN_ZI_0" class="briggs-mrg-t">
                                                <input type="radio" value="0" id="THTN_YN_ZI_0" name="THTN_YN_ZI" ng-model="briggs.THTN_YN_ZI">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-md-10 item">
                                        <textarea id="THTN_EXP_ZI" name="THTN_EXP_ZI" class="form-control briggs-control briggs-mrg-thick-t briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.THTN_EXP_ZI" maxlength="180"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12  col-md-12 briggs-mrg-thick-t">
                                <div class="briggs-width-25 briggs-fl briggs-mrg-thin-b briggs-f-thick">
                                    17.
                                </div>
                                <div class="briggs-fl  briggs-f-thick">
                                    AMBULATORY STATUS:
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12">
                                <div class="briggs-width-25 briggs-col-offs briggs-fl briggs-mrg-thin-t">
                                    a.
                                </div>
                                <div class="col-lg-11 col-sm-11 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <div class="briggs-width-25 briggs-fl briggs-mrg-thin-t">
                                            1.
                                        </div>
                                        <div class="briggs-fl briggs-mrg-thin-t">
                                            This person is able to independently transfer to and from bed:
                                        </div>
                                        <div class="briggs-fl briggs-mrg-thick-l">
                                            <div class="radio radio-info briggs-cntrl-grp">
                                                <label for="TRANSFER_BED_1">
                                                    <input type="radio" value="1" id="TRANSFER_BED_1" name="TRANSFER_BED" ng-model="briggs.TRANSFER_BED">
                                                    Yes
                                                </label>
                                            </div>
                                        </div>
                                        <div class="briggs-fl briggs-col-offs">
                                            <div class="radio radio-info briggs-cntrl-grp">
                                                <label for="TRANSFER_BED_0">
                                                    <input type="radio" value="0" id="TRANSFER_BED_0" name="TRANSFER_BED" ng-model="briggs.TRANSFER_BED">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <div class="briggs-width-25 briggs-fl briggs-mrg-thin-t">
                                            2.
                                        </div>
                                        <div class="briggs-fl briggs-mrg-thin-t">
                                            For purposes of a fire clearance, this person is considered:
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <div class="briggs-fl">
                                            <div class="radio radio-info briggs-cntrl-grp">
                                                <label for="CLEAR_CON_1">
                                                    <input type="radio" value="1" id="CLEAR_CON_1" name="CLEAR_CON" ng-model="briggs.CLEAR_CON">
                                                    Ambulatory
                                                </label>
                                            </div>
                                        </div>
                                        <div class="briggs-fl briggs-col-offs">
                                            <div class="radio radio-info briggs-cntrl-grp">
                                                <label for="CLEAR_CON_2">
                                                    <input type="radio" value="2" id="CLEAR_CON_2" name="CLEAR_CON" ng-model="briggs.CLEAR_CON">
                                                    Nonambulatory
                                                </label>
                                            </div>
                                        </div>
                                        <div class="briggs-fl briggs-col-offs">
                                            <div class="radio radio-info briggs-cntrl-grp">
                                                <label for="CLEAR_CON_3">
                                                    <input type="radio" value="3" id="CLEAR_CON_3" name="CLEAR_CON" ng-model="briggs.CLEAR_CON">
                                                    Bedridden
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-cntrl-grp">
                                        <span class="briggs-f-thick briggs-txt-u-l">Nonambulatory:</span>
                                        A person who is unable to leave a building unassisted under emergency conditions.
                                        It includes any person who is unable, or likely to be unable,
                                        to physically and mentally respond to a sensory signal approved by the State
                                        Fire Marshal, or to an oral instruction relating to fire danger, and/or a person
                                        who depend upon mechanical aids such as crutches, walkers, and wheelchairs.
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-cntrl-grp">
                                        <span class="briggs-txt-u-l">Note:</span>
                                        A person who is unable to independently transfer to and from bed, but
                                        who does not need assistance to turn or reposition in bed, shall
                                        be considered non-ambulatory for the purposes of a fire clearance.
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-cntrl-grp">
                                        <span class="briggs-f-thick briggs-txt-u-l">Bedridden:</span>
                                        For the purpose of a fire clearance, this means a person who
                                        requires assistance with turning or repositioning in bed.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12  col-md-12 briggs-mrg-thin-t briggs-mrg-thick-b">
                                <div class="briggs-width-25 briggs-col-offs briggs-fl">
                                    b.
                                </div>
                                <div class="briggs-fl">
                                    If resident is nonambulatory, this status is based upon:
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--page 5 ends-->
                    <!--paging-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 briggs-pad-thick briggs-f-thick briggs-cntrl-grp text-center">
                            --- Page 5 of 7 ---
                        </div>
                    </div>
                    <!--paging-->
                </div>
            </div>
        </div>
    </div>
    <!--form ends -->
</body>
</html>
