<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />
    <link href="../../../Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../Content/css/main/briggs-main.css" rel="stylesheet" />
    <script src="../../../Scripts/jquery/jquery-3.1.1.min.js"></script>
    <script src="../../../Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="../../../Scripts/match-height/jquery.matchHeight-min.js"></script>
    <script src="../../../Scripts/page/common.js"></script>
    <title>BRIGGS | PHYSICIAN'S REPORT FOR RESIDENTIAL CARE FACILITIES FOR THE ELDERLY (RCFE)</title>
</head>
<body class="test-rows">
    <!--form starts -->
    <div class="container">
        <div id="Page-01" name="pagebreak" description="FACILITY INFORMATION">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t">

                    <!--header starts-->
                    <div class="row briggs-cont-row">
                        <div class="col-lg-6 col-sm-6 briggs-no-pad briggs-mrg-thick-b">
                            STATE OF CALIFORNIA - HEALTH AND HUMAN SERVICES AGENCY
                        </div>
                        <div class="col-lg-6 col-sm-6 briggs-no-pad text-right">
                            CALIFORNIA DEPARTMENT OF SOCIAL SERVICES
                        </div>
                        <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-pg-title">
                            PHYSICIAN'S REPORT FOR RESIDENTIAL CARE FACILITIES FOR THE ELDERLY (RCFE)
                        </div>
                    </div>
                    <!--header starts-->
                    <!--page 1 starts-->
                    <div class="briggs-content-box briggs-box-square briggs-no-pad">
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-thick-t">
                                <div class="briggs-width-25 briggs-fl briggs-f-thick briggs-mrg-thick-b">
                                    I.
                                </div>
                                <div class="briggs-width-96-pct briggs-fl briggs-f-thick briggs-mrg-thick-b">
                                    FACILITY INFORMATION <span class="briggs-f-thin">(To be completed by the licensee/designee)</span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-brd-thin-t">
                                <div class="col-lg-10 col-sm-9 col-md-9 briggs-brd-thin-r">
                                    <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t">
                                        1.
                                    </div>
                                    <div class="col-lg-10 col-sm-9 col-md-10 briggs-mrg-thick-t briggs-no-pad">
                                        <label class="briggs-f-thin" for="NAME_FACILITY">NAME OF FACILITY</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <input class="form-control briggs-control briggs-mrg-thick-b" id="NAME_FACILITY" name="NAME_FACILITY" ng-model="briggs.NAME_FACILITY" maxlength="75" type="text" />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-3 col-md-3">
                                    <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t">
                                        2.
                                    </div>
                                    <div class="col-lg-10 col-sm-9 col-md-10 briggs-mrg-thick-t briggs-no-pad">
                                        <label class="briggs-f-thin" for="PHONE_FACILITY">TELEPHONE</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <input class="form-control briggs-control briggs-phone-control briggs-mrg-thick-b" id="PHONE_FACILITY" name="PHONE_FACILITY" ng-model="briggs.PHONE_FACILITY" maxlength="20" type="tel" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-brd-thin-t">
                                <div class="col-lg-8 col-sm-6 col-md-7">
                                    <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t">
                                        3.
                                    </div>
                                    <div class="col-lg-10 col-sm-9 col-md-10 briggs-mrg-thick-t briggs-no-pad">
                                        <label class="briggs-f-thin" for="ADD_FAC">ADDRESS</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <input class="form-control briggs-control briggs-mrg-thick-b" id="ADD_FAC" name="ADD_FAC" ng-model="briggs.ADD_FAC" maxlength="75" type="text" />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-3 briggs-no-pad col-md-3">
                                    <div class="col-lg-10 col-sm-9 col-md-10 briggs-mrg-thick-t briggs-no-pad">
                                        <label class="briggs-f-thin" for="CITY_FAC">CITY</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <input class="form-control briggs-control briggs-mrg-thick-b" id="CITY_FAC" name="CITY_FAC" ng-model="briggs.CITY_FAC" maxlength="35" type="text" />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-3 col-md-2">
                                    <div class="col-lg-10 col-sm-9 col-md-10 briggs-mrg-thick-t briggs-no-pad">
                                        <label class="briggs-f-thin" for="ZIP_FAC">ZIP CODE</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <input class="form-control briggs-control briggs-zip-control briggs-mrg-thick-b" id="ZIP_FAC" name="ZIP_FAC" priggs-zipcode ng-model="briggs.ZIP_FAC" maxlength="10" type="text" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-brd-thin-t">
                                <div class="col-lg-6 col-sm-4 col-md-5 briggs-brd-thin-r">
                                    <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t">
                                        4.
                                    </div>
                                    <div class="col-lg-10 col-sm-9 col-md-10 briggs-mrg-thick-t briggs-no-pad">
                                        <label class="briggs-f-thin" for="NAME_LICEN">LICENSEE'S NAME</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <input class="form-control briggs-control briggs-mrg-thick-b" id="NAME_LICEN" name="NAME_LICEN" ng-model="briggs.NAME_LICEN" maxlength="60" type="text" />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-3 col-md-3 briggs-brd-thin-r">
                                    <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t">
                                        5.
                                    </div>
                                    <div class="col-lg-10 col-sm-9 col-md-10 briggs-mrg-thick-t briggs-no-pad">
                                        <label class="briggs-f-thin" for="PHONE_LICEN">TELEPHONE</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <input class="form-control briggs-control briggs-phone-control briggs-mrg-thick-b" id="PHONE_LICEN" name="PHONE_LICEN" ng-model="briggs.PHONE_LICEN" maxlength="20" type="tel" />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-5 col-md-4">
                                    <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t">
                                        6.
                                    </div>
                                    <div class="col-lg-10 col-sm-9 col-md-10 briggs-mrg-thick-t briggs-no-pad">
                                        <label class="briggs-f-thin" for="LICEN_FAC">FACILITY LICENSE NUMBER</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <input class="form-control briggs-control briggs-mrg-thick-b" id="LICEN_FAC" name="LICEN_FAC" ng-model="briggs.LICEN_FAC" maxlength="40" type="text" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-brd-thin-t">
                                <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t briggs-f-thick briggs-mrg-thick-b">
                                    II.
                                </div>
                                <div class="briggs-width-96-pct briggs-fl briggs-f-thick briggs-mrg-thick-t briggs-mrg-thick-b">
                                    RESIDENT/PATIENT INFORMATION <span class="briggs-f-thin">(To be completed by the resident/resident's responsibleperson)</span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-brd-thin-t">
                                <div class="col-lg-8 col-sm-7 col-md-8 briggs-brd-thin-r">
                                    <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t">
                                        1.
                                    </div>
                                    <div class="col-lg-10 col-sm-9 col-md-10 briggs-mrg-thick-t briggs-no-pad">
                                        <label class="briggs-f-thin" for="NAME_FULL">NAME</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <input class="form-control briggs-control briggs-mrg-thick-b" id="NAME_FULL" name="NAME_FULL" ng-model="briggs.NAME_FULL" maxlength="45" type="text" />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-3 col-md-2 briggs-brd-thin-r">
                                    <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t">
                                        2.
                                    </div>
                                    <div class="col-lg-10 col-sm-9 col-md-9 briggs-mrg-thick-t briggs-no-pad">
                                        <label class="briggs-f-thin" for="BIRTH_DATE">BIRTH DATE</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <input class="form-control briggs-control briggs-mrg-auto-lr briggs-date-control briggs-mrg-thick-b" id="BIRTH_DATE" name="BIRTH_DATE" ng-model="briggs.BIRTH_DATE" maxlength="10" type="date" />
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2">
                                    <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t">
                                        3.
                                    </div>
                                    <div class="col-lg-10 col-sm-8 col-md-9 briggs-mrg-thick-t briggs-no-pad">
                                        <label class="briggs-f-thin" for="AGE">AGE</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <input class="form-control briggs-control briggs-mrg-auto-lr briggs-width-60 briggs-mrg-thick-b" id="AGE" name="AGE" max="125" min="0" ng-model="briggs.AGE" maxlength="3" type="number" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-brd-thin-t">
                                <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t briggs-f-thick">
                                    III.
                                </div>
                                <div class="briggs-width-96-pct briggs-fl briggs-f-thick briggs-mrg-thick-t">
                                    AUTHORIZATION FOR RELEASE OF MEDICAL INFORMATION
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-mrg-thick-b">
                                (To be completed by resident/resident's legal representative)
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-brd-thin-t">
                                <div class="briggs-mrg-thick-t briggs-mrg-thick-b">
                                    I hereby authorize release of medical information in this report to the facility named above.
                                </div>
                            </div>
                        </div>

                        <!-- signature region -->
                        <div class="row briggs-cont-row" id="signature_row" name="signature_row">
                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-brd-thin-t">
                                <div name="signature_container" id="signature_container">
                                    <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t">
                                        1.
                                    </div>
                                    <div class="col-lg-10 col-sm-9 col-md-10 briggs-mrg-thick-t briggs-no-pad">
                                        <label class="briggs-f-thin" for="SIGN_A">
                                            SIGNATURE OF RESIDENT AND/OR RESIDENT'S LEGAL REPRESENTATIVE
                                        </label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <textarea id="SIGN_A" name="SIGN_A" class="form-control briggs-control briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" briggs-signature ng-model="briggs.SIGN_A" maxlength="45"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end of signature region-->

                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-t briggs-brd-thin-b">
                                <div class="col-lg-10 col-sm-9 col-md-10 briggs-brd-thin-r">
                                    <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t">
                                        2.
                                    </div>
                                    <div class="briggs-fl briggs-mrg-thick-t briggs-pad-thick-r">
                                        <label class="briggs-f-thin" for="ADD_SIGN_A">ADDRESS</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-9 briggs-no-pad briggs-mrg-thick-t">
                                        <textarea id="ADD_SIGN_A" name="ADD_SIGN_A" class="form-control briggs-control briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.ADD_SIGN_A" maxlength="280"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-3 col-md-2">
                                    <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t">
                                        3.
                                    </div>
                                    <div class="col-lg-10 col-sm-8 col-md-8 briggs-mrg-thick-t briggs-no-pad">
                                        <label class="briggs-f-thin" for="DATE_SIGN_A">DATE</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <input class="form-control briggs-control briggs-mrg-auto-lr briggs-date-control briggs-mrg-thick-b" id="DATE_SIGN_A" name="DATE_SIGN_A" ng-model="briggs.DATE_SIGN_A" maxlength="10" type="date" />
                                    </div>
                                </div>
                            </div>
                            <div class="briggs-mrg-t briggs-mrg-b col-lg-12 col-sm-12">

                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-brd-thin-t briggs-brd-thin-b">
                                <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t briggs-f-thick briggs-mrg-thick-b">
                                    IV.
                                </div>
                                <div class="briggs-width-96-pct briggs-fl briggs-f-thick briggs-mrg-thick-t briggs-mrg-thick-b">
                                    PATIENT'S DIAGNOSIS <span class="briggs-f-thin">(To be completed by the physician)</span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-mrg-thick-t briggs-mrg-thick-b">
                                <span class="briggs-f-thick">NOTE TO PHYSICIAN:</span>
                                The person named above is either a resident or prospective resident of
                                a residential care facility for the elderly licensed by the Department
                                of Social Services. The license requires the facility to provide primarily
                                non-medical care and supervision to meet the needs of that person.
                                <span class="briggs-txt-u-l">THESE FACILITIES DO NOT PROVIDE SKILLED NURSING CARE</span>.
                                The information that you provide about this person is required by law to assist
                                in determining whether the person is appropriate for care in this non-medical
                                facility. It is important that all questions be answered.<br />
                                (Please attach separate pages if needed.)
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-brd-thin-t">
                                <div class="col-lg-2 col-sm-3 col-md-3 briggs-brd-thin-r">
                                    <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t">
                                        1.
                                    </div>
                                    <div class="col-lg-10 col-sm-9 col-md-9 briggs-mrg-thick-t briggs-no-pad">
                                        <label class="briggs-f-thin" for="DATE_EXAM">DATE OF EXAM</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <input class="form-control briggs-control briggs-date-control briggs-mrg-thick-b" id="DATE_EXAM" name="DATE_EXAM" ng-model="briggs.DATE_EXAM" maxlength="10" type="date">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-brd-thin-r">
                                    <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t">
                                        2.
                                    </div>
                                    <div class="col-lg-10 col-sm-8 col-md-8 briggs-mrg-thick-t briggs-no-pad">
                                        <label class="briggs-f-thin" for="GENDER">SEX</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <input class="form-control briggs-control briggs-mrg-thick-b" id="GENDER" name="GENDER" ng-model="briggs.GENDER" maxlength="10" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-brd-thin-r">
                                    <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t">
                                        3.
                                    </div>
                                    <div class="col-lg-10 col-sm-8 col-md-9 briggs-mrg-thick-t briggs-no-pad">
                                        <label class="briggs-f-thin" for="HEIGHT">HEIGHT</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <input class="form-control briggs-control briggs-mrg-thick-b" id="HEIGHT" name="HEIGHT" ng-model="briggs.HEIGHT" maxlength="10" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2 briggs-brd-thin-r">
                                    <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t">
                                        4.
                                    </div>
                                    <div class="col-lg-10 col-sm-8 col-md-9 briggs-mrg-thick-t briggs-no-pad">
                                        <label class="briggs-f-thin" for="WEIGHT">WEIG</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <input class="form-control briggs-control briggs-mrg-thick-b" id="WEIGHT" name="WEIGHT" ng-model="briggs.WEIGHT" maxlength="10" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-3 col-md-3 briggs-no-pad">
                                    <div class="briggs-width-25 briggs-mrg-l briggs-fl briggs-mrg-thick-t">
                                        5.
                                    </div>
                                    <div class="col-lg-10 col-sm-9 col-md-9 briggs-mrg-thick-t briggs-no-pad">
                                        <label class="briggs-f-thin" for="BLOOD_PRESS">BLOOD PRESSURE</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12">
                                        <input class="form-control briggs-control briggs-mrg-thick-b" id="BLOOD_PRESS" name="BLOOD_PRESS" ng-model="briggs.BLOOD_PRESS" maxlength="30" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-brd-thin-t">
                                <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t briggs-mrg-thick-b">
                                    6.
                                </div>
                                <div class="briggs-width-96-pct briggs-fl briggs-f-thick briggs-mrg-thick-t briggs-mrg-thick-b">
                                    TUBERCULOSIS (TB) TEST
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-no-pad briggs-brd-thin-t items-container">
                                <div class="col-lg-2 item col-sm-3 col-md-3 briggs-no-pad briggs-brd-thin-r">
                                    <div class="briggs-width-25 briggs-mrg-l briggs-fl briggs-mrg-thick-t">
                                        a.
                                    </div>
                                    <div class="col-lg-9 col-sm-9 col-md-9 briggs-mrg-thick-t briggs-no-pad">
                                        <label class="briggs-f-thin" for="DATE_TB_GIVEN">Date TB Test Given</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <input class="form-control briggs-control briggs-mrg-auto-lr briggs-date-control briggs-mrg-thick-b" id="DATE_TB_GIVEN" name="DATE_TB_GIVEN" ng-model="briggs.DATE_TB_GIVEN" maxlength="10" type="date">
                                    </div>
                                </div>
                                <div class="col-lg-2 item col-sm-3 col-md-3 briggs-no-pad briggs-brd-thin-r">
                                    <div class="briggs-width-25 briggs-mrg-l briggs-fl briggs-mrg-thick-t">
                                        b.
                                    </div>
                                    <div class="col-lg-9 col-sm-9 col-md-9 briggs-mrg-thick-t briggs-no-pad">
                                        <label class="briggs-f-thin" for="DATE_TB_READ">Date TB Test Read</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <input class="form-control briggs-control briggs-mrg-auto-lr briggs-date-control briggs-mrg-thick-b" id="DATE_TB_READ" name="DATE_TB_READ" ng-model="briggs.DATE_TB_READ" maxlength="10" type="date">
                                    </div>
                                </div>
                                <div class="col-lg-5 col-sm-2 col-md-3 item briggs-brd-thin-r">
                                    <div class="briggs-width-25 briggs-fl briggs-mrg-thick-t">
                                        c.
                                    </div>
                                    <div class="col-lg-10 col-sm-8 col-md-9 briggs-mrg-thick-t briggs-no-pad">
                                        <label class="briggs-f-thin" for="TYPE_TB">Type of TB Test</label>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <input class="form-control briggs-control briggs-mrg-thick-b" id="TYPE_TB" name="TYPE_TB" ng-model="briggs.TYPE_TB" maxlength="30" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-4 col-md-3 briggs-no-pad">
                                    <div class="briggs-width-25 briggs-mrg-l briggs-fl briggs-mrg-thick-t">
                                        d.
                                    </div>
                                    <div class="col-lg-10 col-sm-9 col-md-9  briggs-no-pad">
                                        <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-mrg-thick-t">
                                            <label class="briggs-f-thin" for="BLOOD_PRESS">Please Check if TB Test is:</label>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 briggs-no-pad">
                                            <div class="radio radio-info briggs-cntrl-grp">
                                                <label for="CHECK_TB_1">
                                                    <input type="radio" value="1" id="CHECK_TB_1" name="CHECK_TB" ng-model="briggs.CHECK_TB" />
                                                    Negative
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 briggs-no-pad">
                                            <div class="radio radio-info briggs-cntrl-grp">
                                                <label for="CHECK_TB_2">
                                                    <input type="radio" value="2" id="CHECK_TB_2" name="CHECK_TB" ng-model="briggs.CHECK_TB" />
                                                    Positive
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-brd-thin-t">
                                <div class="briggs-width-25  briggs-fl briggs-mrg-thick-t">
                                    e.
                                </div>
                                <div class="briggs-fl briggs-pad-thick-r briggs-mrg-thick-t briggs-no-pad">
                                    <label class="briggs-f-thin" for="RESULT_MM">Results: mm</label>
                                </div>
                                <div class="col-sm-2 col-lg-1 col-md-1 briggs-no-pad briggs-mrg-thick-t briggs-mrg-r">
                                    <input class="form-control briggs-control" id="RESULT_MM" name="RESULT_MM" ng-model="briggs.RESULT_MM" maxlength="25" type="text">
                                </div>
                                <div class="briggs-width-25 briggs-col-offs briggs-fl briggs-mrg-thick-t">
                                    f.
                                </div>
                                <div class="briggs-fl briggs-pad-thick-r briggs-mrg-thick-t briggs-no-pad">
                                    <label class="briggs-f-thin" for="ACT_TAKE">Action Taken (if positive):</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-mrg-thin-t">
                                <textarea id="ACT_TAKE" name="ACT_TAKE" class="form-control briggs-control briggs-mrg-thick-b" cols="12" rows="3" spellcheck="true" ng-model="briggs.ACT_TAKE" maxlength="240"></textarea>
                            </div>
                        </div>
                    </div>
                    <!--page 1 ends-->
                    <!--paging-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 briggs-pad-thick briggs-f-thick briggs-cntrl-grp text-center">
                            --- Page 1 of 7 ---
                        </div>
                    </div>
                    <!--paging-->
                </div>
            </div>
            <!-- hidden fields starts -->
            <input type="hidden" name="FORM_NAME" id="FORM_NAME" ng-model="briggs.FORM_NAME" />
            <input type="hidden" name="FORM_REV" id="FORM_REV" ng-model="briggs.FORM_REV" />
            <!-- hidden fields ends -->
        </div>
    </div>
    <!--form ends -->
</body>
</html>
