<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />
    <link href="../../../Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../Content/css/main/briggs-main.css" rel="stylesheet" />
    <script src="../../../Scripts/jquery/jquery-3.1.1.min.js"></script>
    <script src="../../../Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="../../../Scripts/match-height/jquery.matchHeight-min.js"></script>
    <script src="../../../Scripts/page/common.js"></script>
    <title>BRIGGS | PHYSICIAN'S REPORT FOR RESIDENTIAL CARE FACILITIES FOR THE ELDERLY (RCFE)</title>
</head>
<body class="test-rows">
    <!--form starts -->
    <div class="container">
        <div id="Page-06" name="pagebreak" description="Physical Condition">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t">


                    <!--page 6 starts-->
                    <div class="briggs-content-box briggs-box-square briggs-no-pad">
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12  col-md-12 items-container">
                                <div class="briggs-width-25 briggs-col-offs briggs-fl item">

                                </div>
                                <div class="briggs-fl item col-lg-11 col-sm-11 briggs-no-pad col-md-11">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-mrg-thin-t">
                                        <div class="briggs-fl">
                                            <div class="radio radio-info briggs-cntrl-grp">
                                                <label for="NON_AMB_1">
                                                    <input type="radio" value="1" id="NON_AMB_1" name="NON_AMB" ng-model="briggs.NON_AMB">
                                                    Physical Condition
                                                </label>
                                            </div>
                                        </div>
                                        <div class="briggs-fl briggs-col-offs">
                                            <div class="radio radio-info briggs-cntrl-grp">
                                                <label for="NON_AMB_2">
                                                    <input type="radio" value="2" id="NON_AMB_2" name="NON_AMB" ng-model="briggs.NON_AMB">
                                                    Mental Condition
                                                </label>
                                            </div>
                                        </div>
                                        <div class="briggs-fl briggs-col-offs">
                                            <div class="radio radio-info briggs-cntrl-grp">
                                                <label for="NON_AMB_3">
                                                    <input type="radio" value="3" id="NON_AMB_3" name="NON_AMB" ng-model="briggs.NON_AMB">
                                                    Both Physical and Mental Condition
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12  col-md-12 briggs-mrg-thin-t">
                                <div class="briggs-width-25 briggs-col-offs briggs-fl">
                                    c.
                                </div>
                                <div class="col-lg-11 col-sm-11  col-md-11 briggs-no-pad">
                                    If a resident is bedridden, check one or more of the
                                    following and describe the nature of theillness,surgery or other cause:
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-mrg-thick-t">
                                <div class="col-lg-2 col-sm-3 briggs-no-pad-r col-md-2 items-container">
                                    <div class="briggs-width-25 briggs-col-offs briggs-fl item">

                                    </div>
                                    <div class="briggs-fl item">
                                        <label class="briggs-f-thin briggs-col-offs" for="BED_ILL">llness:</label>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-sm-9 col-md-10 briggs-no-pad-l">
                                    <input class="form-control briggs-control briggs-mrg-thin-b" id="BED_ILL" name="BED_ILL" ng-model="briggs.BED_ILL" maxlength="100" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-mrg-thin-t">
                                <div class="col-lg-3 col-sm-4 briggs-no-pad-r col-md-3 items-container">
                                    <div class="briggs-width-25 briggs-col-offs briggs-fl item">

                                    </div>
                                    <div class="briggs-fl item">
                                        <label class="briggs-f-thin briggs-col-offs" for="BED_REC">Recovery from Surgery:</label>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-sm-8 col-md-9 briggs-no-pad-l">
                                    <input class="form-control briggs-control briggs-mrg-thin-b" id="BED_REC" name="BED_REC" ng-model="briggs.BED_REC" maxlength="90" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-mrg-thin-t">
                                <div class="col-lg-2 col-sm-2 briggs-no-pad-r col-md-2 items-container">
                                    <div class="briggs-width-25 briggs-col-offs briggs-fl item">

                                    </div>
                                    <div class="briggs-fl item ">
                                        <label class="briggs-f-thin" for="BED_OTHER">Other:</label>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-sm-10 col-md-10 briggs-no-pad-l">
                                    <input class="form-control briggs-control briggs-mrg-thin-b" id="BED_OTHER" name="BED_OTHER" ng-model="briggs.BED_OTHER" maxlength="100" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="briggs-f-thick col-lg-12 col-sm-12 briggs-mrg-thick-t briggs-mrg-thick-b">
                                NOTE: An illness or recovery is considered temporary if it will last 14 days or less.
                            </div>
                            <div class="col-lg-12 col-sm-12  col-md-12 briggs-mrg-thin-t">
                                <div class="briggs-width-25 briggs-col-offs briggs-fl">
                                    d.
                                </div>
                                <div class="col-lg-11 col-sm-11  col-md-11 briggs-no-pad">
                                    If a resident is bedridden, how long is bedridden status expected to persist?
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-thick-t items-container">
                                <div class="briggs-width-25 briggs-col-offs briggs-fl item">

                                </div>
                                <div class="briggs-fl item briggs-width-25">
                                    1.
                                </div>
                                <div class="col-lg-1 col-sm-2 col-md-1 briggs-no-pad">
                                    <input class="form-control briggs-control briggs-mrg-thin-b" id="NUMBER_DAYS" name="NUMBER_DAYS" ng-model="briggs.NUMBER_DAYS" maxlength="4" type="number">
                                </div>
                                <div class="briggs-fl briggs-pad-thick-l">
                                    <label class="briggs-f-thin" for="NUMBER_DAYS">(number of days)</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-thin-t briggs-mrg-thin-b items-container">
                                <div class="briggs-width-25 briggs-col-offs briggs-fl item">

                                </div>
                                <div class="briggs-fl item briggs-width-25">
                                    2.
                                </div>
                                <div class="col-lg-11 briggs-no-pad col-sm-10 col-md-11 items-container">
                                    <div class="briggs-fl item">
                                        <input class="form-control briggs-date-control briggs-control" id="DATE_EST" name="DATE_EST" ng-model="briggs.DATE_EST" maxlength="10" type="date">
                                    </div>
                                    <div class="briggs-fl briggs-pad-thick-l item">
                                        (estimated date illness or recovery is expected to end
                                    </div>
                                    <div class="briggs-fl briggs-pad-thick-l item briggs-pad-thick-r">
                                        or whenresident
                                    </div>
                                    <div class="briggs-fl item">
                                        will no longer be confined to bed)
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-mrg-thin-t items-container">
                                <div class="briggs-width-25 briggs-col-offs briggs-fl item">

                                </div>
                                <div class="briggs-fl item briggs-width-25">
                                    3.
                                </div>
                                <div class="col-lg-11 briggs-no-pad col-sm-10 col-md-11 items-container">
                                    <label class="briggs-f-thin" for="REC_PERM">If illness or recovery is permanent, please explain:</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 briggs-brd-thin-b">
                                <div class="briggs-col-offs">
                                    <div class="briggs-col-offs">
                                        <div class="briggs-mrg-thin-l">
                                            <textarea id="REC_PERM" name="REC_PERM" class="form-control briggs-control briggs-mrg-thick-b" cols="12" rows="8" spellcheck="true" ng-model="briggs.REC_PERM" maxlength="1320"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12  col-md-12 briggs-mrg-thick-t">
                                <div class="briggs-width-25 briggs-col-offs briggs-fl">
                                    e.
                                </div>
                                <div class="col-lg-11 col-sm-11  col-md-11 briggs-no-pad">
                                    Is resident receiving hospice care?
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12  col-md-12 ">
                                <div class="col-lg-2 col-sm-3 col-md-2 briggs-no-pad items-container">
                                    <div class="briggs-width-25 briggs-col-offs briggs-fl item">

                                    </div>
                                    <div class="briggs-fl item">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="HOSP_CARE_0">
                                                <input type="radio" value="0" id="HOSP_CARE_0" name="HOSP_CARE" ng-model="briggs.HOSP_CARE">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                    <div class="briggs-fl briggs-col-offs item">
                                        <div class="radio radio-info briggs-cntrl-grp">
                                            <label for="HOSP_CARE_1">
                                                <input type="radio" value="1" id="HOSP_CARE_1" name="HOSP_CARE" ng-model="briggs.HOSP_CARE">
                                                Yes
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-sm-9 col-md-10 briggs-no-pad briggs-mrg-thin-t">
                                    <div class="col-lg-3 col-sm-5 briggs-no-pad briggs-pad-thick-r text-right col-md-4">
                                        <label class="briggs-f-thin" for="TERM_ILL">If yes, specify the terminal illness:</label>
                                    </div>
                                    <div class="col-lg-9 col-sm-7 col-md-8 briggs-no-pad">
                                        <input class="form-control briggs-control briggs-mrg-thin-b" id="TERM_ILL" name="TERM_ILL" ng-model="briggs.TERM_ILL" maxlength="45" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12  col-md-12 ">
                                <div class="briggs-width-25 briggs-fl briggs-mrg-thin-t briggs-f-thick">
                                    18.
                                </div>
                                <div class="briggs-fl briggs-f-thick briggs-mrg-thin-t">
                                    PHYSICAL HEALTH STATUS:
                                </div>
                                <div class="briggs-fl briggs-mrg-thick-l">
                                    <div class="radio radio-info briggs-cntrl-grp">
                                        <label for="PHY_STAT_1">
                                            <input type="radio" value="1" id="PHY_STAT_1" name="PHY_STAT" ng-model="briggs.PHY_STAT">
                                            Good
                                        </label>
                                    </div>
                                </div>
                                <div class="briggs-fl briggs-col-offs">
                                    <div class="radio radio-info briggs-cntrl-grp">
                                        <label for="PHY_STAT_2">
                                            <input type="radio" value="2" id="PHY_STAT_2" name="PHY_STAT" ng-model="briggs.PHY_STAT">
                                            Fair
                                        </label>
                                    </div>
                                </div>
                                <div class="briggs-fl briggs-col-offs">
                                    <div class="radio radio-info briggs-cntrl-grp">
                                        <label for="PHY_STAT_3">
                                            <input type="radio" value="3" id="PHY_STAT_3" name="PHY_STAT" ng-model="briggs.PHY_STAT">
                                            Poor
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12  col-md-12 briggs-mrg-thin-t">
                                <div class="briggs-width-25 briggs-fl briggs-f-thick">
                                    19.
                                </div>
                                <div class="briggs-fl  briggs-f-thick">
                                    <label for="COMMENTS">COMMENTS:</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12">
                                <textarea id="COMMENTS" name="COMMENTS" class="form-control briggs-control briggs-mrg-thick-b" cols="12" rows="15" spellcheck="true" ng-model="briggs.COMMENTS" maxlength="2040"></textarea>
                            </div>
                        </div>
                    </div>
                    <!--page 6 ends-->
                    <!--paging-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 briggs-pad-thick briggs-f-thick briggs-cntrl-grp text-center">
                            --- Page 6 of 7 ---
                        </div>
                    </div>
                    <!--paging-->
                </div>
            </div>
        </div>
    </div>
    <!--form ends -->
</body>
</html>
