<div id="Page-02" name="pagebreak" description="NEEDS">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t">

                    <!--page 2 starts-->
                    <div class="briggs-content-box briggs-box-square briggs-no-pad">
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-header-txt briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-10 col-sm-10 col-md-9 briggs-no-pad items-container">
                                    <div class="col-lg-4 col-sm-3 briggs-no-pad col-md-3 item briggs-brd-thin-r">
                                        <div class="briggs-mrg-t">NEEDS</div>
                                    </div>
                                    <div class="col-lg-3 briggs-no-pad col-sm-3 col-md-3 item briggs-brd-thin-r">
                                        <div class="briggs-mrg-t">OBJECTIVE/PLAN</div>
                                    </div>
                                    <div class="col-lg-2 briggs-no-pad col-sm-2 col-md-2 item briggs-brd-thin-r">
                                        <div class="briggs-mrg-t"> TIME FRAME</div>
                                    </div>
                                    <div class="col-lg-3 col-sm-4 col-md-4 item briggs-brd-thin-r">
                                        <div class="briggs-cntrl-grp">
                                            PERSON(S) RESPONSIBLE<br>
                                            FOR IMPLEMENTATION
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 briggs-no-pad col-sm-2 col-md-3">
                                    <div class="briggs-cntrl-grp">
                                        METHOD OF<br>
                                        EVALUATING PROGRESS
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-mrg-thick-b briggs-mrg-thick-t">
                                <span class="briggs-f-thick">SOCIALIZATION -</span>
                                Difficulty in adjustig socially and unable to maintain reasonable personal relationships
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b briggs-brd-thin-t">
                                <div class="col-lg-10 col-sm-10 col-md-9 briggs-no-pad">
                                    <div class="col-lg-4 col-sm-3 col-md-3 briggs-brd-thin-r">
                                        <textarea id="SOC_NEED" name="SOC_NEED" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="14" spellcheck="true" ng-model="briggs.SOC_NEED" maxlength="875"></textarea>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3 briggs-brd-thin-r">
                                        <textarea id="SOC_PLAN" name="SOC_PLAN" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="14" spellcheck="true" ng-model="briggs.SOC_PLAN" maxlength="1000"></textarea>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2 briggs-brd-thin-r">
                                        <textarea id="SOC_TIME" name="SOC_TIME" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="14" spellcheck="true" ng-model="briggs.SOC_TIME" maxlength="375"></textarea>
                                    </div>
                                    <div class="col-lg-3 col-sm-4 col-md-4 briggs-brd-thin-r">
                                        <textarea id="SOC_IMP" name="SOC_IMP" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="14" spellcheck="true" ng-model="briggs.SOC_IMP" maxlength="875"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-3">
                                    <textarea id="SOC_PROG" name="SOC_PROG" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="14" spellcheck="true" ng-model="briggs.SOC_PROG" maxlength="875"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-mrg-thick-b briggs-mrg-thick-t">
                                <span class="briggs-f-thick">EMOTIONAL -</span>
                                Difficulty in adjusting emotionally
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-t">
                                <div class="col-lg-10 col-sm-10 col-md-9 briggs-no-pad">
                                    <div class="col-lg-4 col-sm-3 col-md-3 briggs-brd-thin-r">
                                        <textarea id="EMO_NEED" name="EMO_NEED" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="14" spellcheck="true" ng-model="briggs.EMO_NEED" maxlength="1000"></textarea>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3 briggs-brd-thin-r">
                                        <textarea id="EMO_PLAN" name="EMO_PLAN" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="14" spellcheck="true" ng-model="briggs.EMO_PLAN" maxlength="1000"></textarea>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2 briggs-brd-thin-r">
                                        <textarea id="EMO_TIME" name="EMO_TIME" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="14" spellcheck="true" ng-model="briggs.EMO_TIME" maxlength="375"></textarea>
                                    </div>
                                    <div class="col-lg-3 col-sm-4 col-md-4 briggs-brd-thin-r">
                                        <textarea id="EMO_IMP" name="EMO_IMP" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="14" spellcheck="true" ng-model="briggs.EMO_IMP" maxlength="875"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-3">
                                    <textarea id="EMO_PROG" name="EMO_PROG" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="14" spellcheck="true" ng-model="briggs.EMO_PROG" maxlength="875"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--page 2 ends-->
                    <!--paging-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 briggs-pad-thick briggs-f-thick briggs-cntrl-grp text-center">
                            --- Page 2 of 4 ---
                        </div>
                    </div>
                    <!--paging-->
                </div>
            </div>
        </div>