<div id="Page-04" name="pagebreak" description="NEEDS">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t">

                    <!--page 4 starts-->
                    <div class="briggs-content-box briggs-box-square briggs-no-pad">
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-header-txt briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-10 col-sm-10 col-md-9 briggs-no-pad items-container">
                                    <div class="col-lg-4 col-sm-3 briggs-no-pad col-md-3 item briggs-brd-thin-r">
                                        <div class="briggs-mrg-t">NEEDS</div>
                                    </div>
                                    <div class="col-lg-3 briggs-no-pad col-sm-3 col-md-3 item briggs-brd-thin-r">
                                        <div class="briggs-mrg-t">OBJECTIVE/PLAN</div>
                                    </div>
                                    <div class="col-lg-2 briggs-no-pad col-sm-2 col-md-2 item briggs-brd-thin-r">
                                        <div class="briggs-mrg-t"> TIME FRAME</div>
                                    </div>
                                    <div class="col-lg-3 col-sm-4 col-md-4 item briggs-brd-thin-r">
                                        <div class="briggs-cntrl-grp">
                                            PERSON(S) RESPONSIBLE<br>
                                            FOR IMPLEMENTATION
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 briggs-no-pad col-sm-2 col-md-3">
                                    <div class="briggs-cntrl-grp">
                                        METHOD OF<br>
                                        EVALUATING PROGRESS
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-mrg-thick-b briggs-mrg-thick-t">
                                <span class="briggs-f-thick">FUNCTIONING SKILLS -</span>
                                Difficulty in developing and/or using independent functioning skills.
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b briggs-brd-thin-t">
                                <div class="col-lg-10 col-sm-10 col-md-9 briggs-no-pad">
                                    <div class="col-lg-4 col-sm-3 col-md-3 briggs-brd-thin-r">
                                        <textarea id="FUN_NEED" name="FUN_NEED" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="30" spellcheck="true" ng-model="briggs.FUN_NEED" maxlength="1260"></textarea>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3 briggs-brd-thin-r">
                                        <textarea id="FUN_PLAN" name="FUN_PLAN" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="30" spellcheck="true" ng-model="briggs.FUN_PLAN" maxlength="1440"></textarea>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2 briggs-brd-thin-r">
                                        <textarea id="FUN_TIME" name="FUN_TIME" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="30" spellcheck="true" ng-model="briggs.FUN_TIME" maxlength="540"></textarea>
                                    </div>
                                    <div class="col-lg-3 col-sm-4 col-md-4 briggs-brd-thin-r">
                                        <textarea id="FUN_IMP" name="FUN_IMP" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="30" spellcheck="true" ng-model="briggs.FUN_IMP" maxlength="1260"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-3">
                                    <textarea id="FUN_PROG" name="FUN_PROG" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="30" spellcheck="true" ng-model="briggs.FUN_PROG" maxlength="1260"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-mrg-thick-t">
                                We believe this person is compatible with the facility program and with other 
                                clients/residents in the facility, and that I/we can provide the care as specified in 
                                the above objective(s) and plan(s).
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-mrg-thin-t briggs-mrg-thick-b">
                                TO THE BEST OF MY KNOWLEDGE THIS CLIENT/RESIDENT DOES NOT NEED SKILLED NURSING CARE.
                            </div>
                        </div>

                        <!-- signature region -->
                        <div class="row briggs-cont-row" id="signature_row_1" name="signature_row_1">
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-t briggs-brd-thin-b">
                                <div class="col-lg-10 col-sm-9 col-md-10 briggs-brd-thin-r">
                                    <div name="signature_container_1" id="signature_container_1">
                                        <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-mrg-thick-t">
                                            <label class="briggs-f-thin" for="SIGN_A">LICENSEE(S) SIGNATURE</label>
                                        </div>
                                        <div class="briggs-fl briggs-pad-r">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-lg-11 col-sm-11 briggs-no-pad">
                                            <textarea id="SIGN_A" name="SIGN_A" class="form-control briggs-control briggs-mrg-thick-b " cols="12" rows="3" spellcheck="true" briggs-signature="" ng-model="briggs.SIGN_A" maxlength="100"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-3  col-md-2">
                                    <label class="briggs-f-thin briggs-mrg-thick-t" for="DATE_SIGN_A">DATE</label>
                                    <input class="form-control briggs-control briggs-date-control briggs-mrg-auto-lr" id="DATE_SIGN_A" name="DATE_SIGN_A" ng-model="briggs.DATE_SIGN_A" maxlength="10" type="date">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-mrg-thick-t briggs-mrg-thick-b">
                                I have reviewed and agree with the above assessment and believe the licensee(s)
                                 other person(s)/agency can provide the needed services for this client/resident
                            </div>
                        </div>
                        <div class="row briggs-cont-row" id="signature_row_2" name="signature_row_2">
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-t briggs-brd-thin-b">
                                <div class="col-lg-10 col-sm-9 col-md-10 briggs-brd-thin-r">
                                    <div name="signature_container_2" id="signature_container_2">
                                        <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-mrg-thick-t">
                                            <label class="briggs-f-thin" for="SIGN_B">CLIENT'S/RESIDENT'S AUTHORIZED REPRESENTATIVE(S)/FACILITY SOCIAL WORKER/PHYSICIAN/OTHER APPROPRIATE CONSULTANT SIGNATURE</label>
                                        </div>
                                        <div class="briggs-fl briggs-pad-r">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-lg-11 col-sm-11 briggs-no-pad">
                                            <textarea id="SIGN_B" name="SIGN_B" class="form-control briggs-control briggs-mrg-thick-b " cols="12" rows="3" spellcheck="true" briggs-signature="" ng-model="briggs.SIGN_B" maxlength="100"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-3  col-md-2">
                                    <label class="briggs-f-thin briggs-mrg-thick-t" for="DATE_SIGN_B">DATE</label>
                                    <input class="form-control briggs-control briggs-date-control briggs-mrg-auto-lr" id="DATE_SIGN_B" name="DATE_SIGN_B" ng-model="briggs.DATE_SIGN_B" maxlength="10" type="date">
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-mrg-thick-t briggs-mrg-thick-b">
                                I/We have participated in and agree to release this assessment 
                                to the licensee(s) with the condition that it will be held confidential.
                            </div>
                        </div>
                        <div class="row briggs-cont-row" id="signature_row_3" name="signature_row_3">
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-t">
                                <div class="col-lg-10 col-sm-9 col-md-10 briggs-brd-thin-r">
                                    <div name="signature_container_3" id="signature_container_3">
                                        <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-mrg-thick-t">
                                            <label class="briggs-f-thin" for="SIGN_C">CLIENT'S/RESIDENT'S OR CLIENT'S/RESIDENT'S AUTHORIZED REPRESENTATIVE(S) SIGNATURE</label>
                                        </div>
                                        <div class="briggs-fl briggs-pad-r">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-lg-11 col-sm-11 briggs-no-pad">
                                            <textarea id="SIGN_C" name="SIGN_C" class="form-control briggs-control briggs-mrg-thick-b " cols="12" rows="3" spellcheck="true" briggs-signature="" ng-model="briggs.SIGN_C" maxlength="100"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-3  col-md-2">
                                    <label class="briggs-f-thin briggs-mrg-thick-t" for="DATE_SIGN_C">DATE</label>
                                    <input class="form-control briggs-control briggs-date-control briggs-mrg-auto-lr" id="DATE_SIGN_C" name="DATE_SIGN_C" ng-model="briggs.DATE_SIGN_C" maxlength="10" type="date">
                                </div>
                            </div>                          
                        </div>
                        <!--end of signature region-->

                    </div>
                    <!--page 4 ends-->
                    <!--paging-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 briggs-pad-thick briggs-f-thick briggs-cntrl-grp text-center">
                            --- Page 4 of 4 ---
                        </div>
                    </div>
                    <!--paging-->
                </div>
            </div>
        </div>