<div id="Page-03" name="pagebreak" description="NEEDS">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t">

                    <!--page 3 starts-->
                    <div class="briggs-content-box briggs-box-square briggs-no-pad">
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-header-txt briggs-no-pad briggs-brd-thin-b">
                                <div class="col-lg-10 col-sm-10 col-md-9 briggs-no-pad items-container">
                                    <div class="col-lg-4 col-sm-3 briggs-no-pad col-md-3 item briggs-brd-thin-r">
                                        <div class="briggs-mrg-t">NEEDS</div>
                                    </div>
                                    <div class="col-lg-3 briggs-no-pad col-sm-3 col-md-3 item briggs-brd-thin-r">
                                        <div class="briggs-mrg-t">OBJECTIVE/PLAN</div>
                                    </div>
                                    <div class="col-lg-2 briggs-no-pad col-sm-2 col-md-2 item briggs-brd-thin-r">
                                        <div class="briggs-mrg-t"> TIME FRAME</div>
                                    </div>
                                    <div class="col-lg-3 col-sm-4 col-md-4 item briggs-brd-thin-r">
                                        <div class="briggs-cntrl-grp">
                                            PERSON(S) RESPONSIBLE<br>
                                            FOR IMPLEMENTATION
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 briggs-no-pad col-sm-2 col-md-3">
                                    <div class="briggs-cntrl-grp">
                                        METHOD OF<br>
                                        EVALUATING PROGRESS
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-mrg-thick-b briggs-mrg-thick-t">
                                <span class="briggs-f-thick">MENTAL -</span>
                                Difficulty with intellectual functioning including inability to make decisions regarding daily living.
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-b briggs-brd-thin-t">
                                <div class="col-lg-10 col-sm-10 col-md-9 briggs-no-pad">
                                    <div class="col-lg-4 col-sm-3 col-md-3 briggs-brd-thin-r">
                                        <textarea id="MEN_NEED" name="MEN_NEED" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="14" spellcheck="true" ng-model="briggs.MEN_NEED" maxlength="805"></textarea>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3 briggs-brd-thin-r">
                                        <textarea id="MEN_PLAN" name="MEN_PLAN" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="14" spellcheck="true" ng-model="briggs.MEN_PLAN" maxlength="920"></textarea>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2 briggs-brd-thin-r">
                                        <textarea id="MEN_TIME" name="MEN_TIME" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="14" spellcheck="true" ng-model="briggs.MEN_TIME" maxlength="345"></textarea>
                                    </div>
                                    <div class="col-lg-3 col-sm-4 col-md-4 briggs-brd-thin-r">
                                        <textarea id="MEN_IMP" name="MEN_IMP" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="14" spellcheck="true" ng-model="briggs.MEN_IMP" maxlength="805"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-3">
                                    <textarea id="MEN_PROG" name="MEN_PROG" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="14" spellcheck="true" ng-model="briggs.MEN_PROG" maxlength="805"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-mrg-thick-b briggs-mrg-thick-t">
                                <span class="briggs-f-thick">PHYSICAL/HEALTH -</span>
                                Difficulties with physical development and poor health habits regarding body functions.
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin-t">
                                <div class="col-lg-10 col-sm-10 col-md-9 briggs-no-pad">
                                    <div class="col-lg-4 col-sm-3 col-md-3 briggs-brd-thin-r">
                                        <textarea id="PHY_NEED" name="PHY_NEED" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="14" spellcheck="true" ng-model="briggs.PHY_NEED" maxlength="875"></textarea>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3 briggs-brd-thin-r">
                                        <textarea id="PHY_PLAN" name="PHY_PLAN" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="14" spellcheck="true" ng-model="briggs.PHY_PLAN" maxlength="1000"></textarea>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2 briggs-brd-thin-r">
                                        <textarea id="PHY_TIME" name="PHY_TIME" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="14" spellcheck="true" ng-model="briggs.PHY_TIME" maxlength="375"></textarea>
                                    </div>
                                    <div class="col-lg-3 col-sm-4 col-md-4 briggs-brd-thin-r">
                                        <textarea id="PHY_IMP" name="PHY_IMP" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="14" spellcheck="true" ng-model="briggs.PHY_IMP" maxlength="875"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-3">
                                    <textarea id="PHY_PROG" name="PHY_PROG" class="form-control briggs-control briggs-mrg-b briggs-mrg-t" cols="12" rows="14" spellcheck="true" ng-model="briggs.PHY_PROG" maxlength="875"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--page 3 ends-->
                    <!--paging-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 briggs-pad-thick briggs-f-thick briggs-cntrl-grp text-center">
                            --- Page 3 of 4 ---
                        </div>
                    </div>
                    <!--paging-->
                </div>
            </div>
        </div>