<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />
    <link href="../../../Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../Content/css/main/briggs-main.css" rel="stylesheet" />
    <link href="../../../Content/css/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="../../../Scripts/jquery/jquery-3.1.1.min.js"></script>
    <script src="../../../Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="../../../Scripts/match-height/jquery.matchHeight-min.js"></script>
    <script src="../../../Scripts/page/common.js"></script>
    <title>BRIGGS | Colorado Tuberculosis Risk Assessment</title>
</head>
<body class="test-rows">
    <!--form starts -->
    <div class="container">
        <div id="Page-01" name="pagebreak" description="ALR Community-Initial Individual Assessment Team Determination">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 briggs-mrg-t">
                    <!--header starts-->
                    <div class="row briggs-cont-row">
                        <div class="col-lg-12 col-md-12 col-sm-12 briggs-no-pad">
                            <div class="col-lg-7 col-md-6 col-sm-5 briggs-no-pad briggs-mrg-t">
                                <div class="col-lg-12 col-md-12 col-sm-12 briggs-pg-title briggs-no-pad-r briggs-cntrl-grp briggs-score-sec">
                                    Colorado Tuberculosis Risk Assessment
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6 col-sm-7 briggs-no-pad briggs-fr">
                                <img src="../../../Content/images/briggs-AL-CO-108-header.png" alt="" />
                            </div>
                        </div>
                    </div>
                    <!--header ends-->
                    <!--page 1 starts-->
                    <div class="briggs-content-box briggs-box-square briggs-no-pad">
                        <div class="row briggs-cont-row">
                            <div class="col-lg-12 col-sm-12 briggs-cntrl-grp briggs-mrg-t briggs-no-pad-r">
                                <div class="briggs-fl briggs-mrg-r briggs-f-clr-lblue briggs-f-xla briggs-f-thick">
                                    &#8226;
                                </div>
                                <div class="col-lg-11 col-sm-11 briggs-no-pad">
                                    Use this tool to identify asymptomatic <span class="briggs-f-thick">adults</span> for latent TB infection (LTBI) testing.
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-cntrl-grp briggs-no-pad-r">
                                <div class="briggs-fl briggs-mrg-r briggs-f-clr-lblue briggs-f-xla briggs-f-thick">
                                    &#8226;
                                </div>
                                <div class="col-lg-11 col-sm-11 briggs-no-pad">
                                    Re-testing should only be done in persons who previously tested negative and have new risk factors since the
                                    last assessment.
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-cntrl-grp briggs-no-pad-r">
                                <div class="briggs-fl briggs-mrg-r briggs-f-clr-lblue briggs-f-xla briggs-f-thick">
                                    &#8226;
                                </div>
                                <div class="col-lg-11 col-sm-11 briggs-no-pad">
                                    For TB symptoms or abnormal chest x-ray consistent with active TB disease <i class="fa fa-long-arrow-right" aria-hidden="true"></i> Evaluate for active TB disease
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-f-thick briggs-cntrl-grp">
                                Call the Colorado Tuberculosis Program to report a suspected case of TB at (303) 692-2656, and for general questions, call (303)
                                692-2638. Please Note: <em>A negative tuberculin skin test or interferon gamma release assay does not rule out active TB disease.</em>
                            </div>
                            <div class="col-lg-12 col-sm-12">
                                <div class="briggs-col-offs">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-brd-thin">
                                        <div class="col-lg-12 col-sm-12 briggs-sec-hdr-green briggs-txt-w briggs-brd-thin-b">
                                            <div class="briggs-mrg-thick-t briggs-cntrl-grp">
                                                Check appropriate risk factor boxes below.
                                            </div>
                                            <div class="briggs-cntrl-grp">
                                                LTBI testing is recommended if any of the 4 boxes below are checked.
                                            </div>
                                            <div class="briggs-cntrl-grp briggs-mrg-thick-b">
                                                If LTBI test result is positive and active TB disease is ruled out, LTBI treatment is recommended.
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-brd-thin-b">
                                            <div class="briggs-fl briggs-pad-thick-r">
                                                <div class="checkbox checkbox-info briggs-cntrl-grp briggs-mrg-thick-t">
                                                    <label for="BIR_FOR" class="briggs-col-offs">
                                                        <input type="checkbox" id="BIR_FOR" name="BIR_FOR" value="" ng-model="briggs.BIR_FOR">
                                                        
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-lg-11 col-sm-11 briggs-no-pad briggs-f-thick briggs-cntrl-grp briggs-mrg-thick-t">
                                                <label for="BIR_FOR">Birth or foreign travel of <span class="briggs-txt-u-l">></span> 1 month consecutively in a country/countries with an
                                                elevated TB rate.</label>
                                                <div class="col-lg-12 col-sm-12 briggs-cntrl-grp briggs-mrg-t briggs-no-pad-r">
                                                    <div class="briggs-fl briggs-mrg-r briggs-f-clr-lblue briggs-f-xla briggs-f-thick">
                                                        &#8226;
                                                    </div>
                                                    <div class="col-lg-11 col-sm-11 briggs-no-pad briggs-f-thin">
                                                        Includes countries other than the United States, Canada, Australia, New Zealand, or Western and North
                                                        European countries.
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-sm-12 briggs-cntrl-grp briggs-no-pad-r">
                                                    <div class="briggs-fl briggs-mrg-r briggs-f-clr-lblue briggs-f-xla briggs-f-thick">
                                                        &#8226;
                                                    </div>
                                                    <div class="col-lg-11 col-sm-11 briggs-no-pad briggs-f-thin">
                                                        Interferon Gamma Release Assay is preferred over Tuberculin Skin Test for foreign-born persons.
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-sm-12 briggs-cntrl-grp briggs-no-pad-r">
                                                    <div class="briggs-fl briggs-mrg-r briggs-f-clr-lblue briggs-f-xla briggs-f-thick">
                                                        &#8226;
                                                    </div>
                                                    <div class="col-lg-11 col-sm-11 briggs-no-pad briggs-f-thin">
                                                        <span class="briggs-txt-u-l">Note:</span> Doctors may make individual decisions based on the information supplied by the individual during
                                                        the evaluation. Individuals who have traveled to TB-endemic countries for the purpose of medical or
                                                        health tourism for less than one month may be considered for further screening based on the risk
                                                        estimated during the evaluation.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-brd-thin-b">
                                            <div class="briggs-fl briggs-pad-thick-r">
                                                <div class="checkbox checkbox-info briggs-cntrl-grp briggs-mrg-thick-t">
                                                    <label for="MED_CON" class="briggs-col-offs">
                                                        <input type="checkbox" id="MED_CON" name="MED_CON" value="" ng-model="briggs.MED_CON">

                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-lg-11 col-sm-11 briggs-no-pad briggs-cntrl-grp briggs-mrg-thick-t">
                                                <label for="MED_CON">Medical conditions</label> increasing risk for progression to TB disease.
                                                <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-cntrl-grp">
                                                    Radiographic evidence of prior healed TB, low body weight (10% below ideal), silicosis, diabetes mellitus,
                                                    chronic renal failure or on hemodialysis, gastrectomy, jejunoileal bypass, solid organ transplant, head and
                                                    neck cancer.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-sm-12 briggs-no-pad-r briggs-brd-thin-b">
                                            <div class="briggs-fl briggs-pad-thick-r">
                                                <div class="checkbox checkbox-info briggs-cntrl-grp briggs-mrg-thick-t">
                                                    <label for="IMMUNO" class="briggs-col-offs">
                                                        <input type="checkbox" id="IMMUNO" name="IMMUNO" value="" ng-model="briggs.IMMUNO">

                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-lg-11 col-sm-11 briggs-no-pad briggs-cntrl-grp briggs-mrg-thick-t">
                                                <label for="IMMUNO" class="briggs-f-thick">Immunosuppression,</label> current or planned.
                                                <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-cntrl-grp">
                                                    HIV infection, injection drug use, organ transplant recipient, treated with TNF-alpha antagonist (e.g.,
                                                    infliximab, etanercept, others), steroids (equivalent of prednisone ≥15 mg/day for ≥1 month) or other
                                                    immunosuppressive medication.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-sm-12 briggs-no-pad-r">
                                            <div class="briggs-fl briggs-pad-thick-r">
                                                <div class="checkbox checkbox-info briggs-cntrl-grp briggs-mrg-thick-t">
                                                    <label for="CLOSE_CON" class="briggs-col-offs">
                                                        <input type="checkbox" id="CLOSE_CON" name="CLOSE_CON" value="" ng-model="briggs.CLOSE_CON">

                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-lg-11 col-sm-11 briggs-no-pad briggs-cntrl-grp briggs-mrg-thick-t briggs-mrg-thick-b">
                                                <label for="CLOSE_CON" class="briggs-f-thick">Close contact</label> to someone with infectious <span class="briggs-f-thick">TB</span> disease at any time.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-mrg-thick-t">
                                <div class="col-lg-6 col-sm-6 briggs-no-pad">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <div class="col-lg-3 col-sm-4 col-md-4 briggs-no-pad-r briggs-cntrl-grp">
                                            <label class="briggs-f-thin" for="NAME_PAT">Patient name:</label>
                                        </div>
                                        <div class="col-lg-9 col-sm-8 col-md-8 briggs-no-pad-l briggs-cntrl-grp">
                                            <input id="NAME_PAT" name="NAME_PAT" class="form-control briggs-control" ng-model="briggs.NAME_PAT" maxlength="50" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-mrg-thick-t">
                                        <div class="col-lg-3 col-sm-4 col-md-4 briggs-no-pad-r briggs-cntrl-grp">
                                            <label class="briggs-f-thin" for="DATE_BIRTH">Date of birth:</label>
                                        </div>
                                        <div class="col-lg-9 col-sm-8 col-md-8 briggs-no-pad-l briggs-cntrl-grp">
                                            <input id="DATE_BIRTH" name="DATE_BIRTH" class="form-control briggs-control briggs-date-control" ng-model="briggs.DATE_BIRTH" maxlength="10" type="date" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12">
                                        <em>(Place sticker here if applicable)</em>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 briggs-no-pad briggs-mrg-t">
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad">
                                        <div class="col-lg-3 col-sm-3 col-md-4 briggs-no-pad-r briggs-cntrl-grp">
                                            <label class="briggs-f-thin" for="PROVIDER">Provider:</label>
                                        </div>
                                        <div class="col-lg-9 col-sm-9 col-md-8 briggs-no-pad-l briggs-cntrl-grp">
                                            <input id="PROVIDER" name="PROVIDER" class="form-control briggs-control" ng-model="briggs.PROVIDER" maxlength="65" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 briggs-no-pad briggs-mrg-thick-t">
                                        <div class="col-lg-3 col-sm-5 col-md-4 briggs-no-pad-r briggs-cntrl-grp">
                                            <label class="briggs-f-thin" for="DATE_ASSESS">Assessment date:</label>
                                        </div>
                                        <div class="col-lg-9 col-sm-7 col-md-8 briggs-no-pad-l briggs-cntrl-grp">
                                            <input id="DATE_ASSESS" name="DATE_ASSESS" class="form-control briggs-control briggs-date-control" ng-model="briggs.DATE_ASSESS" maxlength="10" type="date" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-cntrl-grp">
                                See the <span class="briggs-txt-u-l briggs-f-clr-blue">Colorado Tuberculosis Risk Assessment User Guide</span> for more information about using this tool.
                            </div>
                            <div class="col-lg-12 col-sm-12 briggs-cntrl-grp briggs-mrg-thick-b">
                                Adapted from the California Tuberculosis Risk Assessment available on the PROVIDERS page at www.ctca.org
                            </div>
                        </div>
                    </div>
                    <!--page 1 ends-->
                </div>
            </div>
            <!-- hidden fields starts -->
            <input type="hidden" name="FORM_NAME" id="FORM_NAME" ng-model="briggs.FORM_NAME" />
            <input type="hidden" name="FORM_REV" id="FORM_REV" ng-model="briggs.FORM_REV" />
            <!-- hidden fields ends -->
        </div>
    </div>
    <!--form ends -->
</body>
</html>
